<div style="position: relative">
  <ngx-ui-loader></ngx-ui-loader>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h5 class="mb-4">Edit Performance Review </h5>

    @if (editData) {
      <form #addPerformanceReview="ngForm" novalidate>
        <div class="row">
          <div class="col-md-4">
            <label class="form-group has-float-label">
              <ng-select placeholder="Choose your option" [(ngModel)]="editData.companyMasterId"
                #companyMasterID="ngModel" name="companyMasterID" required
                (change)="getReviewFormData($event)">
                @for (company of comp; track company) {
                  <ng-option [value]="company.companyMasterID">
                    {{ company.companyName }}
                  </ng-option>
                }
              </ng-select>
              <span>Select Company *</span>
              @if (!companyMasterID.valid && addPerformanceReview.submitted) {
                <div class="invalid-tooltip">
                  Company is required!
                </div>
              }
            </label>
          </div>
          <div class="col-md-4">
            <label class="form-group has-float-label">
              <ng-select placeholder="Choose your option" #reviewID="ngModel" name="reviewID" ngModel
                [(ngModel)]="editData.reviewFormId" required>
                @for (review of reviewFormData; track review) {
                  <ng-option [value]="review.id">
                    {{ review.title }}
                  </ng-option>
                }
              </ng-select>
              <span>Select Review Form*</span>
              @if (!reviewID.valid && addPerformanceReview.submitted) {
                <div class="invalid-tooltip">
                  Review Form is required!
                </div>
              }
            </label>
          </div>
          <div class="col-md-4 " style="visibility: hidden;"></div>
          <div class="col-md-4">
            <label class="form-group has-float-label">
              <input class="form-control" type="text" ngModel #title="ngModel" [(ngModel)]="editData.title"
                name="title" required />
                <span>Title *</span>
                @if (!title.valid && addPerformanceReview.submitted) {
                  <div class="invalid-tooltip">
                    Title is required!
                  </div>
                }
              </label>
            </div>
            <div class="col-md-4">
              <label class="form-group has-float-label">
                <textarea class="form-control" ngModel #description="ngModel" [(ngModel)]="editData.description"
                name="description" ngModel></textarea>
                <span>Description </span>
              </label>
            </div>
            <div class="col-md-4">
              <label class="form-group has-float-label">
                <ng-select placeholder="Choose your option" ngModel #status="ngModel"
                  [(ngModel)]="editData.status" name="status" required>
                  <ng-option value="Initiated">INITIATED</ng-option>
                  <ng-option value="In Progress">IN PROGRESS</ng-option>
                  <ng-option value="Completed">COMPLETED</ng-option>
                </ng-select>
                <span>Select Status *</span>
                @if (!status.valid && addPerformanceReview.submitted) {
                  <div class="invalid-tooltip">
                    Status is required!
                  </div>
                }
              </label>
            </div>
            <div class="col-md-4">
              <label class="form-group has-float-label">
                <input class="form-control" type="date" ngModel [(ngModel)]="editData.startDate"
                  #fromdate="ngModel" name="fromdate" required />
                  <span>Start Date *</span>
                  @if (!fromdate.valid && addPerformanceReview.submitted) {
                    <div class="invalid-tooltip">
                      Start Date is required!
                    </div>
                  }
                </label>
              </div>
              <div class="col-md-4">
                <label class="form-group has-float-label">
                  <input class="form-control" type="date" [(ngModel)]="editData.endDate" ngModel required
                    #todate="ngModel" name="todate" />
                    <span>End Date *</span>
                    @if (!fromdate.valid && addPerformanceReview.submitted) {
                      <div class="invalid-tooltip">
                        End Date is required!
                      </div>
                    }
                  </label>
                </div>
              </div>
              <button class="btn btn-primary  btn-shadow mt-4" type="submit" (click)="onSubmit()">
                Submit
              </button>
              &nbsp;
              <button class="btn btn-danger  btn-shadow mt-4" type="button"
                [routerLink]="adminRoot + '/pms/performanceReview'">
                Cancel
              </button>
            </form>
          }
        </div>
      </div>

      <simple-notifications [options]="{ position: ['top', 'center'], maxStack: 1 }"></simple-notifications>