<div style="position: relative">
  <ngx-ui-loader></ngx-ui-loader>
</div>
@if (authdata) {
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="mb-4">Edit Org Authorization Master</h5>
      <form #editOrgAuthType="ngForm" novalidate (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <label class="form-group has-float-label">
              <input
                class="form-control"
                type="text"
                required
                ngModel
                #orgAuthorizationType="ngModel"
                [(ngModel)]="authdata.orgAuthorizationType"
                name="orgAuthorizationType"
                />
                <span>Org Authorization Master *</span>
                @if (!orgAuthorizationType.valid && editOrgAuthType.submitted) {
                  <div
                    class="invalid-tooltip"
                    >
                    Org Authorization Master is required!
                  </div>
                }
              </label>
            </div>
          </div>
          <div class="col-md-12">
            <button class="btn btn-primary mt-4" type="submit">{{ 'forms.submit' | translate }}</button>
            <button
              class="btn btn-danger btn-shadow mt-4"
              [routerLink]="adminRoot + '/superadminmenus/orgAuthorizationType'"
              style="margin-left: 2%"
              >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  }