<div style="position: relative">
  <ngx-ui-loader></ngx-ui-loader>
</div>
<div bsModal #lgModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1" [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add Table</h4>
        <button type="button" class="btn-close close pull-right" (click)="lgModal1.hide()" aria-label="Close">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addtable="ngForm" novalidate (ngSubmit)="onSubmit1()">
          <div class="row">
            <div class="col-md-6">
              <label class="form-group has-float-label">
                <input class="form-control" type="text" ngModel #tablename2="ngModel" name="tablename2" />
                <span>Table Name</span>
                @if (!tablename2.valid && addtable.submitted) {
                  <div class="invalid-tooltip">
                    Table Name is required!
                  </div>
                }
              </label>
            </div>
          </div>
          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h5 class="mb-4">Edit Biometric Integration</h5>

    @if (biometricdata) {
      <form #addcomp="ngForm" novalidate (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-4">
            <label class="form-group has-float-label">
              <ng-select placeholder="Choose your option" ngModel required #company="ngModel"
                [(ngModel)]="biometricdata.companyMasterID" [readonly]="true" (change)="addValueComp($event)"
                name="company">
                @for (comp of comp; track comp) {
                  <ng-option [value]="comp.companyMasterID">
                    {{ comp.companyName }}
                  </ng-option>
                }
              </ng-select>
              <span>Select Company *</span>
              @if (!company.valid && addcomp.submitted) {
                <div class="invalid-tooltip">
                  Company is required!
                </div>
              }
            </label>
          </div>
          <div class="col-md-4">
            <span class="button" class="btn btn-success" style="cursor: pointer" (click)="addvalue()">
              ADD Serial Number
            </span>
          </div>
          <!-- <div class="col-md-4">
          <label class="form-group has-float-label">
            <ng-select
              placeholder="Choose your option"
              ngModel
              required
              #dbname="ngModel"
              name="dbname"
              (change)="getTables($event)"
              >
              <ng-option *ngFor="let dbname1 of dbname1" [value]="dbname1.name">
                {{ dbname1.name }}
              </ng-option>
            </ng-select>
            <span>Select Database *</span>
            <div
              *ngIf="!dbname.valid && addcomp.submitted"
              class="invalid-tooltip"
              >
              Database is required!
            </div>
          </label>
        </div>
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <ng-select
              placeholder="Choose your option"
              ngModel
              required
              #tablename="ngModel"
              name="tablename"
              [(ngModel)]="defaultTable"
              (change)="getSerialNo($event)"
              >
              <ng-option *ngFor="let tablename1 of tablename1" [value]="tablename1.TABLE_NAME">
                {{ tablename1.TABLE_NAME }}
              </ng-option>
            </ng-select>
            <span>Select Tablename *</span>
            <div
              *ngIf="!tablename.valid && addcomp.submitted"
              class="invalid-tooltip"
              >
              Tablename is required!
            </div>
          </label>
        </div> -->
      </div>
      <div class="row">
        <!-- <div class="col-md-12" style="margin-bottom: 20px;">
      </div> -->
      <br />
      @for (value of values; track value; let i = $index) {
        <div class="col-md-12 my-3">
          <div class="row">
            <div class="col-md-3">
              <label class="form-group has-float-label">
                <ng-select placeholder="Choose your option" ngModel required #integrationType="ngModel"
                  name="integrationType{{ i }}" [(ngModel)]="value.integrationType" [readonly]="value.readonly"
                  (change)="onIntegrationTypeChange(i)">
                  @for (item of value.integrationTypelist; track item) {
                    <ng-option [value]="item.value">
                      {{ item.name }}
                    </ng-option>
                  }
                </ng-select>
                <span>Select Interation Type *</span>
                @if (!integrationType.valid && addcomp.submitted) {
                  <div class="invalid-tooltip">
                    Interation Type is required!
                  </div>
                }
              </label>
            </div>
            @if ( value.integrationType === 'parallelDatabase') {
              <div class="col-md-3">
                <label class="form-group has-float-label">
                  <ng-select placeholder="Choose your option" ngModel required #dbname="ngModel" name="dbname{{ i }}"
                    [(ngModel)]="value.database" [readonly]="value.readonly" (change)="getTables($event, i)">
                    @for (dbname1 of value.databaseList; track dbname1) {
                      <ng-option [value]="dbname1.name">
                        {{ dbname1.name }}
                      </ng-option>
                    }
                  </ng-select>
                  <span>Select Database *</span>
                  @if (!dbname.valid && addcomp.submitted) {
                    <div class="invalid-tooltip">
                      Database is required!
                    </div>
                  }
                </label>
              </div>
            }
            @if ( value.integrationType === 'parallelDatabase') {
              <div class="col-md-3">
                <label class="form-group has-float-label">
                  <ng-select placeholder="Choose your option" ngModel required #tablename="ngModel"
                    name="tablename{{ i }}" [readonly]="value.readonly" [(ngModel)]="value.table"
                    (change)="getSerialNo($event, i)">
                    @for (tablename1 of value.tableList; track tablename1) {
                      <ng-option [value]="tablename1.TABLE_NAME">
                        {{ tablename1.TABLE_NAME }}
                      </ng-option>
                    }
                  </ng-select>
                  <span>Select Tablename *</span>
                  @if (!tablename.valid && addcomp.submitted) {
                    <div class="invalid-tooltip">
                      Tablename is required!
                    </div>
                  }
                </label>
              </div>
            }
            @if ( value.integrationType === 'parallelDatabase') {
              <div class="col-md-2">
                <label class="form-group has-float-label">
                  <ng-select placeholder="Choose your option" ngModel required [(ngModel)]="value.serialno"
                    #serialNo="ngModel" [readonly]="value.readonly" name="serialno{{ i }}"
                    (change)="checkBioSerial($event, i)">
                    @for (serialNo1 of value.serialNoList; track serialNo1) {
                      <ng-option [value]="serialNo1.Serialnumber">
                        {{ serialNo1.Serialnumber }}
                      </ng-option>
                    }
                  </ng-select>
                  <span>Select serialNo *</span>
                  @if (!serialNo.valid && addcomp.submitted) {
                    <div class="invalid-tooltip">
                      serialNo is required!
                    </div>
                  }
                </label>
              </div>
            }
            @if (value.integrationType !== 'parallelDatabase' ) {
              <div class="col-md-2">
                <label class="form-group has-float-label">
                  <input class="form-control" [readonly]="value.readonly" type="text" [(ngModel)]="value.serialno"
                    required ngModel #serialNo="ngModel" name="serialno{{ i }}" />
                    <span>serialNo *</span>
                    @if (!serialNo.valid && addcomp.submitted) {
                      <div class="invalid-tooltip"> serialNo is required! </div>
                    }
                  </label>
                </div>
              }
              @if (value.integrationType && value.integrationType !== 'parallelDatabase' ) {
                <div class="col-md-2">
                  <label class="form-group has-float-label">
                    <input class="form-control" type="text" [(ngModel)]="value.serverIp" required ngModel
                      #serverIp="ngModel" name="serverIp{{ i }}" />
                      <span>Server IP *</span>
                      @if (!serverIp.valid && addcomp.submitted) {
                        <div class="invalid-tooltip"> Server IP is required! </div>
                      }
                    </label>
                  </div>
                }
                <div class="col-md-3">
                  <label class="form-group has-float-label">
                    <ng-select placeholder="Choose your option" ngModel required #algorithm="ngModel"
                      [(ngModel)]="value.algorithm" name="algorithm{{ i }}" (change)="checkAlgorithm($event, i)">
                      <ng-option [value]="2">Single Day Single Machine First IN Last Out</ng-option>
                      <ng-option [value]="3"> Single Day Multiple Machine First IN Last Out</ng-option>
                      <ng-option [value]="4">Single Day Single Machine Multiple IN OUT</ng-option>
                      <ng-option [value]="1">Multiple Day Single Machine Multiple IN OUT</ng-option>
                      <ng-option [value]="5">Single Day Multiple Machine Multiple In Out</ng-option>
                      <ng-option [value]="6">Multiple Day Multiple Machine Multiple In Out</ng-option>
                      <ng-option [value]="7">Canteen</ng-option>
                    </ng-select>
                    <span>Select Algorithm *</span>
                    @if (!algorithm.valid && addcomp.submitted) {
                      <div class="invalid-tooltip">
                        Algorithm is required!
                      </div>
                    }
                  </label>
                </div>
                @if (values[i].algorithm == 1 || values[i].algorithm == 2 || values[i].algorithm == 4 || values[i].algorithm == 7) {
                  <div class="col-md-3"
                    >
                    <label class="form-group has-float-label">
                      <ng-select placeholder="Choose your option" ngModel #direction="ngModel" [readonly]="true"
                        [(ngModel)]="value.direction" name="direction{{ i }}">
                        <ng-option [value]="'in'">In</ng-option>
                        <ng-option [value]="'out'"> Out</ng-option>
                      </ng-select>
                      <span>Select Direction </span>
                    </label>
                  </div>
                }
                @if (values[i].algorithm == 3 || values[i].algorithm == 5 || values[i].algorithm == 6) {
                  <div class="col-md-3"
                    >
                    <label class="form-group has-float-label">
                      <ng-select placeholder="Choose your option" ngModel required #direction="ngModel" [readonly]="false"
                        [(ngModel)]="value.direction" name="direction{{ i }}">
                        <ng-option [value]="'in'">In</ng-option>
                        <ng-option [value]="'out'"> Out</ng-option>
                      </ng-select>
                      <span>Select Direction *</span>
                      @if (!direction.valid && addcomp.submitted && values[i].algorithm == 3) {
                        <div class="invalid-tooltip">
                          Direction is required!
                        </div>
                      }
                    </label>
                  </div>
                }
                <div class="col-md-1">
                  @if (values.length > 1) {
                    <button class="btn btn-danger btn-xs mb-1" style="margin-left: 3%; margin-top: 3%; cursor: pointer"
                    type="button" (click)="removevalue(i)">Remove</button>
                  }
                </div>
              </div>
            </div>
          }
        </div>
        <div class="col-md-12">
          <button class="btn btn-primary mt-4" type="submit">{{ 'forms.submit' | translate }}</button>
          &nbsp;&nbsp;&nbsp;
          <a class="btn btn-danger btn-shadow mt-4" style="cursor: pointer"
            [routerLink]="adminRoot + '/superadminmenus/biometric_integration'">
            Cancel
          </a>
          &nbsp;&nbsp;&nbsp;
          <a class="btn btn-danger btn-shadow mt-4" style="cursor: pointer" (click)="lgModal1.show()">
            Add new Table
          </a>
          <br />
        </div>
      </form>
    }
  </div>
</div>

<simple-notifications [options]="{ position: ['top', 'center'], maxStack: 1 }"></simple-notifications>