table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: white;
}
.margindown {
  margin-bottom: 2%;
}
.marginright {
  margin-right: 10%;
}

::ng-deep .tool_tip ~ .tooltip .tooltip-inner {
  max-width: 150px;
  font-size: 10px;
}
