::ng-deep{
    .ng2-pdf-viewer-container{
        height: 700px !important;
        overflow: hidden !important;
    }

    .page{
        height: 860px !important;
        overflow: hidden !important;
    }
}