<div style="text-align: right">
  <button class="btn btn-primary mb-1" (click)="lgModal.show()">Add</button>
</div>
<div class="row">
  @for (item of rows; track item) {
    <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
      <div class="card d-flex flex-row mb-4">
        <a class="d-flex" href="javascript:;"></a>
        <div class="d-flex flex-grow-1 min-width-zero">
          <div
            class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero"
            style="margin-left: 5%"
            >
            <div class="min-width-zero">
              <a href="javascript:;">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="list-item-heading mb-1 truncate">{{ item.type | uppercase }}</p>
                  </div>
                  <div class="rows">
                    <a class="btn btn-outline-primary btn-xs" (click)="lgModal1.show(); edit(item)">EDIT</a>
                    <br />
                    <a
                      class="btn btn-outline-danger btn-xs"
                      (click)="alertConfirmation(item.userSkillsID)"
                      >
                      DELETE
                    </a>
                  </div>
                </div>
                <hr>
                  <p class="text-muted mb-0 text-small"><strong>Detail :</strong> {{ item.details }}</p>
                  <div style="margin-top: 2%;">
                    <p class="text-muted mb-0 text-small">
                      <strong>Assigned</strong> by {{ item.createdByUserDetails.displayName}}, at {{
                      item.createdAt
                      | date: 'dd-MM-yyyy hh:mm a' }}
                    </p>
                  </div>
                  <div class="min-width-zero">
                    <a href="javascript:;">
                      @if (item.status == '1') {
                        <button
                          type="button"
                          class="btn btn-success"
                          style="margin-top: 10%"
                          >
                          {{ 'Active' | translate }}
                        </button>
                      }
                      {{ ' ' }}
                      @if (item.status == '0') {
                        <button
                          type="button"
                          class="btn btn-danger"
                          style="margin-top: 10%"
                          >
                          {{ 'Deactive' | translate }}
                        </button>
                      }
                      {{ ' ' }}
                    </a>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>

  <div
    bsModal
    #lgModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-sizes-name1" [config]="{backdrop: 'static', keyboard: false}"
    >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Add Employee SKILLS</h4>
          <button
            type="button"
            class="btn-close close pull-right"
            (click)="lgModal.hide()"
            aria-label="Close"
            #closeModal
            >
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addcomp="ngForm" novalidate (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <label class="form-group has-float-label">
                  <select name="type" id="type" class="form-control" ngModel #type="ngModel">
                    <option value="null">-Select Skill Type-</option>
                    <option value="skill">Skill</option>
                    <option value="unskill">Unskill</option>
                  </select>
                  <span>Skill Type</span>
                </label>
              </div>
              <div class="col-md-6">
                <label class="form-group has-float-label">
                  <input class="form-control" type="text" ngModel #details="ngModel" name="details" />
                  <span>Details</span>
                </label>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">{{ 'forms.submit' | translate }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div
    bsModal
    #lgModal1="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-sizes-name1"
    [config]="{backdrop: 'static', keyboard: false}"
    >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Edit Employee SKill</h4>
          <button
            type="button"
            class="btn-close close pull-right"
            (click)="lgModal1.hide()"
            aria-label="Close"
            #closeModal1
            >
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          @if (editbyid) {
            <form #editcomp="ngForm" novalidate (ngSubmit)="onSubmit1()">
              <div class="row">
                <div class="col-md-6">
                  <label class="form-group has-float-label">
                    <select
                      name="type"
                      id="type"
                      class="form-control"
                      ngModel
                      #type="ngModel"
                      [(ngModel)]="editbyid.type"
                      >
                      <option value="null">-Select Skill Type-</option>
                      <option value="skill">Skill</option>
                      <option value="unskill">Unskill</option>
                    </select>
                    <span>Skill Type</span>
                  </label>
                </div>
                <div class="col-md-6">
                  <label class="form-group has-float-label">
                    <input
                      class="form-control"
                      type="text"
                      ngModel
                      #details="ngModel"
                      name="details"
                      [(ngModel)]="editbyid.details"
                      />
                      <span>Details</span>
                    </label>
                  </div>
                </div>
                <button class="btn btn-primary" type="submit">{{ 'forms.submit' | translate }}</button>
              </form>
            }
          </div>
        </div>
      </div>
    </div>
