<div style="position: relative">
  <ngx-ui-loader></ngx-ui-loader>
</div>
<div class="card mb-4">
  @if (company1) {
    <div class="card-body">
      @if (showimage) {
        <div style="margin: auto; width: 100%; text-align: center">
          <img
            class="img-responsive"
            width="200px"
            height="200px"
            src="{{ apiURL }}uploads/company/logo/{{ company1.companyLogo }}"
            />
            <br />
          </div>
        }
        @if (!showimage) {
          <div style="margin: auto; text-align: center">
            <br />
            <h1>{{ company1.companyName }}</h1>
            <br />
            <br />
          </div>
        }
        <div style="margin: auto; text-align: center">
          <h1>Your Application Submitted Successfully</h1>
        </div>
      </div>
    }
  </div>

  <simple-notifications
    [options]="{ position: ['top', 'center'], maxStack: 1 }"
  ></simple-notifications>
