<div style="position: relative">
  <ngx-ui-loader></ngx-ui-loader>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h5 class="mb-4">Add Job Post</h5>

    <form #addcomp="ngForm" novalidate (ngSubmit)="onSubmit()">
      <div class="row">
        <!-- Company -->
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <ng-select placeholder="Choose your option" ngModel #companyMasterID="ngModel"
              (change)="selectcompany($event)" [(ngModel)]="company_id" name="companyMasterID" required>
              @for (comp of comp; track comp) {
                <ng-option [value]="comp.companyMasterID">
                  {{ comp.companyName }}
                </ng-option>
              }
            </ng-select>
            <span>Company *</span>
            @if (!companyMasterID.valid && addcomp.submitted) {
              <div class="invalid-tooltip">
                Comapny is required!
              </div>
            }
          </label>
        </div>
        <!-- Branch -->
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <ng-select placeholder="Choose your option" ngModel #branchMasterID="ngModel"
              [(ngModel)]="selectedBranch" name="branchMasterID" required>
              @for (branch of allbranch; track branch) {
                <ng-option [value]="branch.branchMasterID">
                  {{ branch.branchName }}
                </ng-option>
              }
            </ng-select>
            <span>Branch *</span>
            @if (!branchMasterID.valid && addcomp.submitted) {
              <div class="invalid-tooltip">
                Branch is required!
              </div>
            }
          </label>
        </div>
        <!-- Department -->
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <ng-select placeholder="Choose your option" ngModel #departmentId="ngModel"
              [(ngModel)]="selectedDepartment" name="departmentId" required>
              @for (department of alldepartment; track department) {
                <ng-option [value]="department.departmentId">
                  {{ department.departmentName }}
                </ng-option>
              }
            </ng-select>
            <span>Department *</span>
            @if (!departmentId.valid && addcomp.submitted) {
              <div class="invalid-tooltip">
                Department is required!
              </div>
            }
          </label>
        </div>
        <!-- Designation -->
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <ng-select placeholder="Choose your option" ngModel #designationId="ngModel"
              [(ngModel)]="selecteddesig" name="designationId" required>
              @for (designation of alldesignation; track designation) {
                <ng-option [value]="designation.designationId">
                  {{ designation.designationName }}
                </ng-option>
              }
            </ng-select>
            <span>Designation *</span>
            @if (!designationId.valid && addcomp.submitted) {
              <div class="invalid-tooltip">
                Designation is required!
              </div>
            }
          </label>
        </div>
        <!-- Job Title -->
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <input class="form-control" type="text" required ngModel #jobTitle="ngModel" name="jobTitle" />
            <span>Job Title *</span>
            @if (!jobTitle.valid && addcomp.submitted) {
              <div class="invalid-tooltip">
                Job Title is required!
              </div>
            }
          </label>
        </div>
        <!-- Employment Type -->
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <ng-select placeholder="Choose your option" ngModel #employmentType="ngModel"
              name="employmentType" required>
              <ng-option value="Full-Time">Full-Time</ng-option>
              <ng-option value="Part-Time">Part-Time</ng-option>
              <ng-option value="Trainee">Trainee</ng-option>
              <ng-option value="Internship">Internship</ng-option>
              <ng-option value="Contractual">Contractual</ng-option>
            </ng-select>
            <span>Employment Type *</span>
            @if (!employmentType.valid && addcomp.submitted) {
              <div class="invalid-tooltip">
                Employment Type is required!
              </div>
            }
          </label>
        </div>
        <!-- Job Role Type -->
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <ng-select placeholder="Choose your option" ngModel #jobRoleClassificationID="ngModel"
              [(ngModel)]="selectedjobClassification" name="jobRoleClassificationID" required>
              @for (job of jobClassificationData; track job) {
                <ng-option [value]="job.jobRoleClassificationID">
                  {{ job.jobRoleClassificationName }}
                </ng-option>
              }
            </ng-select>
            <span>Job Role Type *</span>
            @if (!jobRoleClassificationID.valid && addcomp.submitted) {
              <div class="invalid-tooltip">
                Job Role Type is required!
              </div>
            }
          </label>
        </div>
        <!-- Job Location -->
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <input class="form-control" type="text" required ngModel #jobLocation="ngModel"
              name="jobLocation" />
              <span>Job Location *</span>
              @if (!jobLocation.valid && addcomp.submitted) {
                <div class="invalid-tooltip">
                  Job Location is required!
                </div>
              }
            </label>
          </div>
          <!-- Requirement -->
          <div class="col-md-4">
            <label class="form-group has-float-label">
              <textarea class="form-control" ngModel #requirements="ngModel" name="requirements"
              required></textarea>
              @if (!requirements.valid && addcomp.submitted) {
                <div class="invalid-tooltip">
                  Job Requirements is required!
                </div>
              }
              <span>Job Requirements *</span>
            </label>
          </div>
          <!-- Last Applicable Date -->
          <div class="col-md-4">
            <label class="form-group has-float-label">
              <input class="form-control" type="date" placeholder="" ngModel #lastApplicableDate="ngModel"
                name="lastApplicableDate" required [min]="minDate"/>
                <span>Last Applicable Date *</span>
                @if (!lastApplicableDate.valid && addcomp.submitted) {
                  <div class="invalid-tooltip">
                    Last Applicable Date is required!
                  </div>
                }
              </label>
            </div>
            <!-- Min Salary -->
            <div class="col-md-2">
              <label class="form-group has-float-label">
                <input class="form-control" type="number" [min]="0" required ngModel #minSalary="ngModel"
                  name="minSalary" />
                  <span>Minimum Salary *</span>
                  @if (!minSalary.valid && addcomp.submitted) {
                    <div class="invalid-tooltip">
                      Minimum Salary is required!
                    </div>
                  }
                </label>
              </div>
              <!-- Max Salary -->
              <div class="col-md-2">
                <label class="form-group has-float-label">
                  <input class="form-control" type="number" [min]="0" required ngModel #maxSalary="ngModel"
                    name="maxSalary" />
                    <span>Maximum Salary *</span>
                    @if (!maxSalary.valid && addcomp.submitted) {
                      <div class="invalid-tooltip">
                        Maximum Salary is required!
                      </div>
                    }
                  </label>
                </div>
                <!-- No Of Position -->
                <div class="col-md-4">
                  <label class="form-group has-float-label">
                    <input class="form-control" type="number" [min]="0" required ngModel #noOfPosition="ngModel"
                      name="noOfPosition" />
                      <span>No.Of Position *</span>
                      @if (!noOfPosition.valid && addcomp.submitted) {
                        <div class="invalid-tooltip">
                          No. Of Position is required!
                        </div>
                      }
                    </label>
                  </div>

                  <!-- Job Description -->
                  <div class="col-md-12 text-danger">
                    <div>
                      Note* :- 1) To access the options menu for the Description toolbar, simply right-click
                      with your mouse. eg. font-size
                    </div>
                    <br />
                  </div>
                  <div class="col-md-12">
                    <label class="form-group has-float-label">
                      <quill-editor (contextmenu)="onToolbarRightClick($event)" [placeholder]="''" ngModel
                        #jobDescription="ngModel" name="jobDescription" style="height: 100px" required>
                        <div quill-editor-toolbar>
                          <span class="ql-formats">
                            <button class="ql-bold" [title]="'Bold'"></button>
                            <button class="ql-italic" [title]="'Italic'"></button>
                            <button class="ql-underline" [title]="'Underline'"></button>
                            <button class="ql-strike" [title]="'Strike'"></button>
                            <button class="ql-image" [title]="'Image'"></button>
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-link"></button>
                            <button class="ql-video"></button>
                          </span>

                          <span class="ql-formats">
                            <select class="ql-align" [title]="'Aligment'">
                              <option selected=""></option>
                              <option value="center"></option>
                              <option value="right"></option>
                              <option value="justify"></option>
                            </select>
                            <select class="ql-size" [title]="'Size'">
                              <option value="8px">8px</option>
                              <option value="10px">10px</option>
                              <option selected="" value="12px">12px</option>
                              <option value="14px">14px</option>
                              <option value="16px">16px</option>
                              <option value="18px">18px</option>
                              <option value="20px">20px</option>
                              <option value="22px">22px</option>
                              <option value="24px">24px</option>
                              <option value="26px">26px</option>
                              <option value="28px">28px</option>
                              <option value="30px">30px</option>
                              <option value="32px">32px</option>
                              <option value="34px">34px</option>
                              <option value="36px">36px</option>
                              <option value="38px">38px</option>
                              <option value="40px">40px</option>
                              <option value="42px">42px</option>
                              <option value="44px">44px</option>
                              <option value="46px">46px</option>
                              <option value="48px">48px</option>
                              <option value="50px">50px</option>
                            </select>
                            <select class="ql-header" [title]="'Header'">
                              <option value="1">Heading 1</option>
                              <option value="2">Heading 2</option>
                              <option value="3">Heading 3</option>
                              <option value="4">Heading 4</option>
                              <option value="5">Heading 5</option>
                              <option value="6">Heading 6</option>
                            </select>
                            <select class="ql-color" [title]="'Color'">
                              <option value="rgb(0, 0, 0)"></option>
                              <option value="rgb(230, 0, 0)"></option>
                              <option value="rgb(255, 153, 0)"></option>
                              <option value="rgb(255, 255, 0)"></option>
                              <option value="rgb(0, 138, 0)"></option>
                              <option value="rgb(0, 102, 204)"></option>
                              <option value="rgb(153, 51, 255)"></option>
                              <option value="rgb(255, 255, 255)"></option>
                              <option value="rgb(250, 204, 204)"></option>
                              <option value="rgb(255, 235, 204)"></option>
                              <option value="rgb(204, 224, 245)"></option>
                              <option value="rgb(235, 214, 255)"></option>
                              <option value="rgb(187, 187, 187)"></option>
                              <option value="rgb(102, 185, 102)"></option>
                              <option value="rgb(192,192,192)"></option>
                              <option value="rgb(128,128,128)"></option>
                              <option value="rgb(128,0,0)"></option>
                              <option value="rgb(128,128,0)"></option>
                              <option value="rgb(0,128,0)"></option>
                              <option value="rgb(128,0,128)"></option>
                              <option value="rgb(0,128,128)"></option>
                              <option value="rgb(0,0,128)"></option>
                            </select>
                            <select class="ql-font" [title]="'Font'">
                              <option selected="">Sans Serif</option>
                              <option value="inconsolata">Inconsolata</option>
                              <option value="roboto">Roboto</option>
                              <option value="mirza">Mirza</option>
                              <option value="arial">Arial</option>
                              <option value="calibri">Calibri</option>
                            </select>
                          </span>
                        </div>
                      </quill-editor>
                      <span>Job Description</span>
                      @if (!jobDescription.valid && addcomp.submitted) {
                        <div class="invalid-tooltip">
                          Job Description is required!
                        </div>
                      }
                    </label>
                  </div>
                </div>
                <div class="col-md-12">
                  <button class="btn btn-primary mt-4" type="submit">{{ 'forms.submit' | translate }}</button>
                  <button class="btn btn-danger btn-shadow mt-4" [routerLink]="adminRoot + '/preboardings/jobPosting'"
                    style="margin-left: 2%">
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>

          <simple-notifications [options]="{ position: ['top', 'center'], maxStack: 1 }"></simple-notifications>