<div style="text-align: right">
    <button class="btn btn-primary mb-1" (click)="downloadAllForm()">Download All</button>
</div>

<div class="row">
    <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
        <div class="card d-flex flex-row mb-4">
            <div class="d-flex flex-grow-1 min-width-zero">
                <div class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero"
                    style="margin-left: 5%">
                    <div class="min-width-zero">
                        <h4>Personal Information Form</h4>
                        <div class="min-width-zero">
                            <button class="btn btn-outline-primary btn-xs" type="button"
                                (click)="downloadForm('saveraGroupPersonalInformationForm')">Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
        <div class="card d-flex flex-row mb-4">
            <div class="d-flex flex-grow-1 min-width-zero">
                <div class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero"
                    style="margin-left: 5%">
                    <div class="min-width-zero">
                        <h4>New Joinee Induction Training Form</h4>
                        <div class="min-width-zero">
                            <button class="btn btn-outline-primary btn-xs" type="button"
                                (click)="downloadForm('saveraGroupNewJoineeInductionTrainingForm')">Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
        <div class="card d-flex flex-row mb-4">
            <div class="d-flex flex-grow-1 min-width-zero">
                <div class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero"
                    style="margin-left: 5%">
                    <div class="min-width-zero">
                        <h4>Checksheet Cover Sheet Recruitment Form</h4>
                        <div class="min-width-zero">
                            <button class="btn btn-outline-primary btn-xs" type="button"
                                (click)="downloadForm('saveraGroupCheckSheetCoverSheetRecruitment')">Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
        <div class="card d-flex flex-row mb-4">
            <div class="d-flex flex-grow-1 min-width-zero">
                <div class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero"
                    style="margin-left: 5%">
                    <div class="min-width-zero">
                        <h4>Multi Shift Working Consent Form</h4>
                        <div class="min-width-zero">
                            <button class="btn btn-outline-primary btn-xs" type="button"
                                (click)="downloadForm('saveraGroupMultipleShiftWorkingConsentForm')">Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
        <div class="card d-flex flex-row mb-4">
            <div class="d-flex flex-grow-1 min-width-zero">
                <div class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero"
                    style="margin-left: 5%">
                    <div class="min-width-zero">
                        <h4>Contract Form</h4>
                        <div class="min-width-zero">
                            <button class="btn btn-outline-primary btn-xs" type="button"
                                (click)="downloadForm('saveraGroupContractForm')">Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
        <div class="card d-flex flex-row mb-4">
            <div class="d-flex flex-grow-1 min-width-zero">
                <div class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero"
                    style="margin-left: 5%">
                    <div class="min-width-zero">
                        <h4>Salary Structure Contractual Employee Form</h4>
                        <div class="min-width-zero">
                            <button class="btn btn-outline-primary btn-xs" type="button"
                                (click)="downloadForm('saveraGroupSalaryStructureContractualEmployee')">Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
        <div class="card d-flex flex-row mb-4">
            <div class="d-flex flex-grow-1 min-width-zero">
                <div class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero"
                    style="margin-left: 5%">
                    <div class="min-width-zero">
                        <h4>Appointment Letter</h4>
                        <div class="min-width-zero">
                            <button class="btn btn-outline-primary btn-xs" type="button"
                                (click)="downloadForm('saveraGroupAppointmentLetter')">Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>