
.import{
    background: #28a745;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Rubik", sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 1rem;
    outline: none;
    padding: 9px 20px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    
  }

  .export{
    background: #28a745;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Rubik", sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 1rem;
    outline: none;
    padding: 9px 20px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    
  }