<div class="row">
  <div class="col-12">
    <app-heading title="HR ToolKit"></app-heading>
    <app-breadcrumb title="HR ToolKit"></app-breadcrumb>
    <div class="separator mb-5"></div>
  </div>
</div>

<div class="row">
  @for (data of rows; track data) {
    <div class="col-md-2 mb-2">
      <div class="card">
        <div class="card-body d-flex flex-lg-column flex-md-row flex-sm-row flex-column">
          <div class="price-top-part" style="cursor: pointer">
            <i class="iconsminds-book large-icon"></i>
            <h5 class="mb-0 font-weight-semibold color-theme-1 mb-4">
              {{ data.DocumentName }} ({{ data.No_of_file }})
            </h5>
            <a
              type="button"
              class="btn btn-primary"
              href="{{ apiURL }}uploads/hrtoolkit/{{ data.DocumentZip }}"
              >
              {{ 'Download' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  }
</div>
