.kraform {
    background-color: #f5f5f5;
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 0.75rem;
  }
  
  .kpiform {
    background-color: #aff0f25c;
    padding-top: 15px;
    border-radius: 0.75rem;
    margin: 0px -4px;
    width: 100%;
  }
  