<div
  bsModal
  #financeCommonModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
  [config]="{ backdrop: 'static', keyboard: false }"
  >
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Expense Data</h4>
        <button
          type="button"
          class="btn-close close pull-right"
          (click)="closeModal()"
          aria-label="Close"
          #closeViewFormModal
          >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        @if (showData && expenseData) {
          <tabset class="separator-tabs">
            <tab class="cursor-pointer" heading="Details">
              <div class="tab-content">
                <div>
                  @if (expenseData) {
                    <div class="row">
                      <div class="col-md-6">
                        <span style="font-size: 14px">
                          <b>Employee:</b>
                          {{ expenseData.userMaster.displayName }} ({{
                          expenseData.userMaster.userNumber
                          }}
                          )
                        </span>
                      </div>
                      @if (getWorkingAreaName(expenseData) != null) {
                        <div class="col-md-6">
                          <span style="font-size: 14px">
                            <b>Expense Date:</b>
                            {{ $safeNavigationMigration(expenseData?.expense_date) | date : 'dd-MM-yyyy' || '' }}
                          </span>
                        </div>
                      }
                      <div class="col-md-6">
                        <span style="font-size: 14px">
                          <b>Employee Code:</b>
                          {{ getEmployeeCode(expenseData) }}
                        </span>
                      </div>
                      <div class="col-md-6">
                        <span style="font-size: 14px">
                          <b>Designation:</b>
                          {{ getDesignationName(expenseData) }}
                        </span>
                      </div>
                      <div class="col-md-6">
                        <span style="font-size: 14px">
                          <b>Branch:</b>
                          {{ getBranchName(expenseData) }}
                        </span>
                      </div>
                      <div class="col-md-6">
                        <span style="font-size: 14px">
                          <b>Department:</b>
                          {{ getDepartmentName(expenseData) }}
                        </span>
                      </div>
                      @if (getDivisionName(expenseData) != null) {
                        <div class="col-md-6">
                          <span style="font-size: 14px">
                            <b>Division:</b>
                            {{ getDivisionName(expenseData) }}
                          </span>
                        </div>
                      }
                      @if (getWorkingAreaName(expenseData) != null) {
                        <div class="col-md-6">
                          <span style="font-size: 14px">
                            <b>Working Area:</b>
                            {{ getWorkingAreaName(expenseData) }}
                          </span>
                        </div>
                      }
                      <div class="col-md-12">
                        @if (checkDatePeriod($safeNavigationMigration(expenseData?.createdAt))) {
                          <p
                            class="text-danger font-weight-bold m-0"
                            >
                            This expense is added after 15 days.
                          </p>
                        }
                      </div>
                    </div>
                  }
                  <br />
                  <div>
                    <table
                      class="table table-responsive"
                      [class]="showCheckbox ? 'mainExpenseTable30' : 'mainExpenseTable45'"
                      >
                      <thead>
                        <tr>
                          <th>Version</th>
                          @if (showCheckbox) {
                            <th>
                              <input
                                type="checkbox"
                                class="mt-1"
                                [disabled]="checkAllDisabled()"
                                (change)="checkAll($event)"
                                [(ngModel)]="isAllChecked"
                                />
                              </th>
                            }
                            <!-- <th *ngIf="showCheckbox && actionType != ''"></th> -->
                            @if (showCheckbox) {
                              <th>Authorizer Status</th>
                            }
                            <th>Applied On</th>
                            <th>Expense Status</th>
                            <th>Expense Category</th>
                            <th>Expense Head</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Attachment - 1</th>
                            <th>Attachment - 2</th>
                            <th>Attachment - 3</th>
                            <th>Attachment - 4</th>
                            <th>Authorization Criteria</th>
                            <th>Authorization</th>
                          </tr>
                        </thead>
                        @for (row of expenseData.userExpenseTransactions; track row; let i = $index) {
                          <tbody>
                            <tr class="authTableRow">
                              <td>
                                @if (row.version) {
                                  <div
                                    class="arrowIcon d-flex justify-content-center mt-2"
                                    [class]="row.isOpen ? 'rotate' : ''"
                            (click)="
                              row.isOpen
                                ? closeAccordion(i)
                                : openAccordion(i, row.userExpenseTransactionID)
                            "
                                    >
                                    <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      width="17"
                                      height="8"
                                      viewBox="0 0 11 6"
                                      fill="none"
                                      >
                                      <path
                                        d="M0.666876 -9.0335e-07L8.97123e-07 0.646874L5.5 6L11 0.646875L10.3366 -5.79996e-08L5.5 4.70312L0.666876 -9.0335e-07Z"
                                        fill="#1A1A1A"
                                        />
                                      </svg>
                                    </div>
                                  }
                                </td>
                                @if (showCheckbox) {
                                  <td>
                                    <input
                                      type="checkbox"
                                      class="mt-1"
                                      [disabled]="checkDisabled(row)"
                                      (change)="getCheckboxValues($event, row)"
                                      [(ngModel)]="row.checked"
                                      />
                                    </td>
                                  }
                                  @if (showCheckbox) {
                                    <td>
                                      @if (row?.Auth[0]?.authstatus == 2) {
                                        <p class="m-0">
                                          <button class="btn btn-xs btn-outline-warning">Pending</button>
                                        </p>
                                      }
                                      @if (row?.Auth[0]?.authstatus == 1) {
                                        <p class="m-0">
                                          <button class="btn btn-xs btn-outline-success">Approved</button>
                                        </p>
                                      }
                                      @if (row?.Auth[0]?.authstatus == 0) {
                                        <p class="m-0">
                                          <button class="btn btn-xs btn-outline-danger">Rejected</button>
                                        </p>
                                      }
                                    </td>
                                  }
                                  <td>
                                    {{ row.createdAt | date : 'dd-MM-yyyy h:mm a' }}
                                  </td>
                                  <td>
                                    <div>
                                      @if (
                                        +row.authorizationStatus == 3 && !row.erpJvid && !row.payment_Id
                                        ) {
                                        <button
                                          class="btn btn-outline-success btn-xs"
                                          >
                                          Approved
                                        </button>
                                      }
                                      @if (row.authorizationStatus == 4) {
                                        <button
                                          class="btn btn-outline-danger btn-xs"
                                          >
                                          Rejected
                                        </button>
                                      }
                                      @if (
                                        +row.authorizationStatus == 0 ||
                                        +row.authorizationStatus == 1 ||
                                        +row.authorizationStatus == 2
                                        ) {
                                        <button
                                          class="btn btn-outline-warning btn-xs"
                                          >
                                          Pending
                                        </button>
                                      }
                                      @if (
                                        +row.authorizationStatus == 3 && (row.erpJvid || row.payment_Id)
                                        ) {
                                        <button
                                          class="btn btn-outline-info btn-xs"
                                          >
                                          Paid
                                        </button>
                                      }
                                    </div>
                                  </td>
                                  <td>{{ row.expenseHead?.expenseCategory?.expenseCategory }}</td>
                                  <td>{{ row.expenseHead.expenseHead }}</td>
                                  <td>{{ row.expenseAmount }}</td>
                                  <td>{{ row.description }}</td>
                                  <td>
                                    @if (
                                      row.attachFile &&
                                      !showImage(row.attachFile) &&
                                      row.attachFile != '' &&
                                      row.attachFile != null &&
                                      row.attachFile != 'null'
                                      ) {
                                      <button
                                        class="btn btn-primary btn-xs"
                                        (click)="view(row.attachFile)"
                                        >
                                        View
                                      </button>
                                    }
                                    @if (
                                      row.attachFile &&
                                      row.attachFile != null &&
                                      row.attachFile != 'null' &&
                                      showImage(row.attachFile) &&
                                      row.attachFile != ''
                                      ) {
                                      <img
                                        [src]="apiURL + row.attachFile"
                                        width="50px"
                                        alt="Attachment"
                                        (click)="view(row.attachFile)"
                                        />
                                    }
                                  </td>
                                  <td>
                                    @if (
                                      row.attachFile2 &&
                                      !showImage(row.attachFile2) &&
                                      row.attachFile2 != '' &&
                                      row.attachFile2 != null &&
                                      row.attachFile2 != 'null'
                                      ) {
                                      <button
                                        class="btn btn-primary btn-xs"
                                        (click)="view(row.attachFile2)"
                                        >
                                        View
                                      </button>
                                    }
                                    @if (
                                      row.attachFile2 &&
                                      row.attachFile2 != null &&
                                      row.attachFile2 != '' &&
                                      row.attachFile2 != 'null' &&
                                      showImage(row.attachFile2)
                                      ) {
                                      <img
                                        [src]="apiURL + row.attachFile2"
                                        width="50px"
                                        alt="Attachment"
                                        (click)="view(row.attachFile2)"
                                        />
                                    }
                                  </td>
                                  <td>
                                    @if (
                                      row.attachFile3 &&
                                      !showImage(row.attachFile3) &&
                                      row.attachFile3 != '' &&
                                      row.attachFile3 != null &&
                                      row.attachFile3 != 'null'
                                      ) {
                                      <button
                                        class="btn btn-primary btn-xs"
                                        (click)="view(row.attachFile3)"
                                        >
                                        View
                                      </button>
                                    }
                                    @if (
                                      row.attachFile3 &&
                                      row.attachFile3 != null &&
                                      row.attachFile3 != '' &&
                                      row.attachFile3 != 'null' &&
                                      showImage(row.attachFile3)
                                      ) {
                                      <img
                                        [src]="apiURL + row.attachFile3"
                                        width="50px"
                                        alt="Attachment"
                                        (click)="view(row.attachFile3)"
                                        />
                                    }
                                  </td>
                                  <td>
                                    @if (
                                      row.attachFile4 &&
                                      !showImage(row.attachFile4) &&
                                      row.attachFile4 != '' &&
                                      row.attachFile4 != null &&
                                      row.attachFile4 != 'null'
                                      ) {
                                      <button
                                        class="btn btn-primary btn-xs"
                                        (click)="view(row.attachFile4)"
                                        >
                                        View
                                      </button>
                                    }
                                    @if (
                                      row.attachFile4 &&
                                      row.attachFile4 != null &&
                                      row.attachFile4 != '' &&
                                      row.attachFile4 != 'null' &&
                                      showImage(row.attachFile4)
                                      ) {
                                      <img
                                        [src]="apiURL + row.attachFile4"
                                        width="50px"
                                        alt="Attachment"
                                        (click)="view(row.attachFile4)"
                                        />
                                    }
                                  </td>
                                  <td>{{ row?.AuthorizationCriteriaMaster?.AuthorizationCriteria || '' }}</td>
                                  <td>
                                    <table class="w-100">
                                      <thead>
                                        <tr class="authorizationTable">
                                          <th>Status</th>
                                          <th>Authorizer</th>
                                          <th>Authorized Date</th>
                                          <th>Remarks</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        @for (auth of row.expenseAuthorizations; track auth) {
                                          <tr>
                                            <td>
                                              @if (auth.authstatus == 2) {
                                                <p class="m-0">Pending</p>
                                              }
                                              @if (auth.authstatus == 1) {
                                                <p class="m-0">Approved</p>
                                              }
                                              @if (auth.authstatus == 0) {
                                                <p class="m-0">Rejected</p>
                                              }
                                            </td>
                                            <td>
                                              <p class="m-0">
                                                {{ auth?.authorizedPerson?.displayName }}
                                              </p>
                                            </td>
                                            <td>
                                              @if (auth.authstatus != 2) {
                                                <p class="m-0 white-space-no-wrap">
                                                  {{ auth.updatedAt | date : 'dd-MM-yyyy h:mm a' }}
                                                </p>
                                              }
                                              @if (auth.authstatus == 2) {
                                                <p class="m-0 white-space-no-wrap">
                                                  &nbsp;
                                                </p>
                                              }
                                            </td>
                                            <td>
                                              @if (auth.remarks) {
                                                <p class="m-0 white-space-no-wrap">
                                                  {{ auth.remarks }}
                                                </p>
                                              }
                                              @if (
                                                !auth.remarks || auth.remarks == null || auth.remarks == ''
                                                ) {
                                                <p
                                                  class="m-0 white-space-no-wrap"
                                                  >
                                                  &nbsp;
                                                </p>
                                              }
                                            </td>
                                          </tr>
                                        }
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="16" class="expenseAccordion">
                                    @if (row.isOpen) {
                                      <accordion [isAnimated]="true">
                                        <div class="position-relative">
                                          <accordion-group [isOpen]="true">
                                            @if (row.versionData) {
                                              <div class="mt-3 ml-5">
                                                <div>
                                                  <table class="table w-fit">
                                                    <tbody>
                                                      <tr>
                                                        <th>Version</th>
                                                        <th>Applied On</th>
                                                        <th>Expense Category</th>
                                                        <th>Expense Head</th>
                                                        <th>Expense Amount</th>
                                                        <th>Description</th>
                                                        <th>Attachment - 1</th>
                                                        <th>Attachment - 2</th>
                                                        <th>Attachment - 3</th>
                                                        <th>Attachment - 4</th>
                                                        <th>Authorization Criteria</th>
                                                        <th>Authorization</th>
                                                      </tr>
                                                      <tr></tr>
                                                      @for (item of row.versionData; track item) {
                                                        <tr
                                                          class="authTableRow"
                                                          >
                                                          <td>
                                                            @if (item.version != null) {
                                                              <p class="mb-0">
                                                                {{ item.version }}
                                                              </p>
                                                            }
                                                            @if (item.version == null) {
                                                              <p class="mb-0">0</p>
                                                            }
                                                          </td>
                                                          <td>
                                                            {{ item.createdAt | date : 'dd-MM-yyyy h:mm a' }}
                                                          </td>
                                                          <td>
                                                            {{ item.expenseHead.expenseCategory.expenseCategory }}
                                                          </td>
                                                          <td>{{ item.expenseHead.expenseHead }}</td>
                                                          <td>{{ item.expenseAmount }}</td>
                                                          <td>{{ item.description }}</td>
                                                          <td>
                                                            @if (
                                                              item?.attachFile != null && item?.attachFile != ''
                                                              ) {
                                                              <div
                                                                >
                                                                @if (!showImage($safeNavigationMigration(item?.attachFile))) {
                                                                  <button
                                                                    class="btn btn-primary btn-xs"
                                                                    (click)="view($safeNavigationMigration(item?.attachFile))"
                                                                    >
                                                                    View
                                                                  </button>
                                                                }
                                                                @if (showImage($safeNavigationMigration(item?.attachFile))) {
                                                                  <img
                                                                    [src]="apiURL + $safeNavigationMigration(item?.attachFile)"
                                                                    (click)="view($safeNavigationMigration(item?.attachFile))"
                                                                    width="50"
                                                                    />
                                                                }
                                                              </div>
                                                            }
                                                          </td>
                                                          <td>
                                                            @if (
                                                              item?.attachFile2 != null && item?.attachFile2 != ''
                                                              ) {
                                                              <div
                                                                >
                                                                @if (!showImage($safeNavigationMigration(item?.attachFile2))) {
                                                                  <button
                                                                    class="btn btn-primary btn-xs"
                                                                    (click)="view($safeNavigationMigration(item?.attachFile2))"
                                                                    >
                                                                    View
                                                                  </button>
                                                                }
                                                                @if (showImage($safeNavigationMigration(item?.attachFile2))) {
                                                                  <img
                                                                    [src]="apiURL + $safeNavigationMigration(item?.attachFile2)"
                                                                    (click)="view($safeNavigationMigration(item?.attachFile2))"
                                                                    width="50"
                                                                    />
                                                                }
                                                              </div>
                                                            }
                                                          </td>
                                                          <td>
                                                            @if (
                                                              item?.attachFile3 != null && item?.attachFile3 != ''
                                                              ) {
                                                              <div
                                                                >
                                                                @if (!showImage($safeNavigationMigration(item?.attachFile3))) {
                                                                  <button
                                                                    class="btn btn-primary btn-xs"
                                                                    (click)="view($safeNavigationMigration(item?.attachFile3))"
                                                                    >
                                                                    View
                                                                  </button>
                                                                }
                                                                @if (showImage($safeNavigationMigration(item?.attachFile3))) {
                                                                  <img
                                                                    [src]="apiURL + $safeNavigationMigration(item?.attachFile3)"
                                                                    (click)="view($safeNavigationMigration(item?.attachFile3))"
                                                                    width="50"
                                                                    />
                                                                }
                                                              </div>
                                                            }
                                                          </td>
                                                          <td>
                                                            @if (
                                                              item?.attachFile4 != null && item?.attachFile4 != ''
                                                              ) {
                                                              <div
                                                                >
                                                                @if (!showImage($safeNavigationMigration(item?.attachFile4))) {
                                                                  <button
                                                                    class="btn btn-primary btn-xs"
                                                                    (click)="view($safeNavigationMigration(item?.attachFile4))"
                                                                    >
                                                                    View
                                                                  </button>
                                                                }
                                                                @if (showImage($safeNavigationMigration(item?.attachFile4))) {
                                                                  <img
                                                                    [src]="apiURL + $safeNavigationMigration(item?.attachFile4)"
                                                                    (click)="view($safeNavigationMigration(item?.attachFile4))"
                                                                    width="50"
                                                                    />
                                                                }
                                                              </div>
                                                            }
                                                          </td>
                                                          <td>
                                                            {{
                                                            item?.AuthorizationCriteriaMaster
                                                            ?.AuthorizationCriteria || ''
                                                            }}
                                                          </td>
                                                          <td>
                                                            <table class="w-100">
                                                              <thead>
                                                                <tr class="authorizationTable">
                                                                  <th>Status</th>
                                                                  <th>Authorizer</th>
                                                                  <th>Authorized Date</th>
                                                                  <th>Remarks</th>
                                                                </tr>
                                                              </thead>
                                                              <tbody>
                                                                @for (items of item.expenseAuthorizations; track items) {
                                                                  <tr
                                                                    >
                                                                    <td>
                                                                      @if (items.authstatus == 1) {
                                                                        <p class="mb-0">
                                                                          Approved
                                                                        </p>
                                                                      }
                                                                      @if (items.authstatus == 0) {
                                                                        <p class="mb-0">
                                                                          Rejected
                                                                        </p>
                                                                      }
                                                                      @if (items.authstatus == 2) {
                                                                        <p class="mb-0">
                                                                          Pending
                                                                        </p>
                                                                      }
                                                                    </td>
                                                                    <td>
                                                                      <p class="m-0">
                                                                        {{ items?.authorizedPerson?.displayName }}
                                                                      </p>
                                                                    </td>
                                                                    <td>
                                                                      @if (items.authstatus != 2) {
                                                                        <p class="mb-0">
                                                                          {{
                                                                          items.updatedAt
                                                                          | date : 'dd-MM-yyyy h:mm:ss a'
                                                                          }}
                                                                        </p>
                                                                      }
                                                                    </td>
                                                                    <td>
                                                                      @if (items.authstatus != 2) {
                                                                        <p class="mb-0">
                                                                          {{ items.remarks }}
                                                                        </p>
                                                                      }
                                                                    </td>
                                                                  </tr>
                                                                }
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                        </tr>
                                                      }
                                                      <tr></tr>
                                                    </tbody>
                                                  </table>
                                                </div>
                                              </div>
                                            }
                                          </accordion-group>
                                        </div>
                                      </accordion>
                                    }
                                  </td>
                                </tr>
                              </tbody>
                            }
                          </table>
                        </div>
                        @if (showCheckbox) {
                          <div>
                            <form #acceptRejectForm="ngForm" novalidate>
                              <div class="row">
                                @if (selectedRequests.length > 0) {
                                  <div class="col-md-12">
                                    <label class="form-group has-float-label">
                                      <textarea
                                        class="form-control"
                                        type="text"
                                        ngModel
                                        #remark="ngModel"
                                        [(ngModel)]="remarks"
                                        name="remark"
                                      ></textarea>
                                      <span>Remarks</span>
                                    </label>
                                  </div>
                                }
                                <div class="col-md-12 d-flex justify-content-between">
                                  <button
                                    type="submit"
                                    class="btn btn-success"
                                    (click)="acceptRejectRequest('approve')"
                                    [disabled]="selectedRequests.length == 0"
                                    >
                                    {{ 'Approve' | translate }}
                                  </button>
                                  {{ ' ' }}
                                  <button
                                    type="submit"
                                    class="btn btn-danger"
                                    (click)="acceptRejectRequest('reject')"
                                    [disabled]="selectedRequests.length == 0"
                                    >
                                    {{ 'Reject' | translate }}
                                  </button>
                                  {{ ' ' }}
                                </div>
                              </div>
                            </form>
                          </div>
                        }
                      </div>
                    </div>
                  </tab>
                  <tab class="cursor-pointer" [heading]="tabHeading">
                    <div class="tab-content">
                      @if (tabHeading == 'Visit Data') {
                        <div>
                          @if (visitData) {
                            <table class="table">
                              <tbody>
                                <tr>
                                  <th>Assign Name</th>
                                  <td>{{ userData?.displayName }}</td>
                                </tr>
                                <tr>
                                  <th>Visit Date</th>
                                  <td>
                                    {{ visitData.visitDate | date : 'dd-MM-yyyy' }}
                                  </td>
                                </tr>
                                <tr>
                                  <th>Visit Time</th>
                                  <td>{{ visitData.visitTime }}</td>
                                </tr>
                                <tr>
                                  <th>Check-In Date and Time</th>
                                  <td>{{ visitData.checkInDateTime }}</td>
                                </tr>
                                <tr>
                                  <th>Check-In Location</th>
                                  <td>{{ visitData.checkInLocation }}</td>
                                </tr>
                                <tr>
                                  <th>Check-Out Date and Time</th>
                                  <td>{{ visitData.checkOutDateTime }}</td>
                                </tr>
                                <tr>
                                  <th>Check-Out Location</th>
                                  <td>{{ visitData.checkOutLocation }}</td>
                                </tr>
                                @if (visitData.coPersonID != null && visitData.coPersonID != '') {
                                  <tr>
                                    <th>Co-Person</th>
                                    <td>
                                      {{ coperson }}
                                    </td>
                                  </tr>
                                }
                                <tr>
                                  <th>Customer Name</th>
                                  <td>{{ visitData?.customer?.customerName }}</td>
                                </tr>
                                @if (visitData.product != null) {
                                  <tr>
                                    <th>Product Name</th>
                                    <td>{{ visitData?.product?.productName }}</td>
                                  </tr>
                                }
                                <tr>
                                  <th>Visit Purpose</th>
                                  <td>{{ visitData?.visitPurpose?.visitPurpose }}</td>
                                </tr>
                                <tr>
                                  <th>Company Name</th>
                                  <td>{{ visitData?.customer?.companyName }}</td>
                                </tr>
                                @for (items of visitcustomizefield; track items) {
                                  <tr>
                                    <th>{{ items.visitFormCustomize.fieldLabel }}</th>
                                    <td>{{ items.value }}</td>
                                  </tr>
                                }
                              </tbody>
                            </table>
                          }
                          @if (visitCustomizeValue.length > 0) {
                            <div>
                              <hr />
                              <br />
                              <h3>Visit Customize Value</h3>
                              <hr />
                              <table class="table">
                                <tbody>
                                  @for (items of visitCustomizeValue; track items) {
                                    <tr>
                                      <th>{{ items.visitFormCustomize?.fieldLabel }}</th>
                                      @if (
                                        items.visitFormCustomize?.inputType != 'image' &&
                                        items.visitFormCustomize?.inputType != 'signature'
                                        ) {
                                        <td
                                          style="overflow: hidden"
                                          >
                                          {{ items.value }}
                                        </td>
                                      }
                                      @if (
                                        items.visitFormCustomize?.inputType == 'image' ||
                                        items.visitFormCustomize?.inputType == 'signature'
                                        ) {
                                        <td
                                          >
                                          <img
                                            src="{{ 'data:image/jpeg;base64,' + items.value }}"
                                            height="200"
                                            width="200"
                                            />
                                          </td>
                                        }
                                      </tr>
                                    }
                                  </tbody>
                                </table>
                              </div>
                            }
                            @if (visitreportcustomizefield.length > 0) {
                              <div>
                                <hr />
                                <br />
                                <h3>Visit Report</h3>
                                <hr />
                                <table class="table">
                                  <tbody>
                                    @for (items of visitreportcustomizefield; track items) {
                                      <tr>
                                        <th>{{ items.visitReportCustomize.fieldLabel }}</th>
                                        @if (
                                          items.visitReportCustomize.inputType != 'image' &&
                                          items.visitReportCustomize.inputType != 'signature'
                                          ) {
                                          <td
                                            style="overflow: hidden"
                                            >
                                            {{ items.value }}
                                          </td>
                                        }
                                        @if (
                                          items.visitReportCustomize.inputType == 'image' ||
                                          items.visitReportCustomize.inputType == 'signature'
                                          ) {
                                          <td
                                            >
                                            <img
                                              src="{{ 'data:image/jpeg;base64,' + items.value }}"
                                              height="200"
                                              width="200"
                                              />
                                            </td>
                                          }
                                        </tr>
                                      }
                                    </tbody>
                                  </table>
                                </div>
                              }
                            </div>
                          }
                          @if (tabHeading == 'Tour Data') {
                            <div>
                              @if (tourData) {
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <th>Tour Name</th>
                                      <td>{{ tourData.ToursName }}</td>
                                    </tr>
                                    <tr>
                                      <th>Assign Name</th>
                                      <td>{{ tourData?.assign?.displayName }}</td>
                                    </tr>
                                    @if (tourData.CoPersonId != null && tourData.CoPersonId != '') {
                                      <tr>
                                        <th>Co-Person</th>
                                        @for (i of tourData.CoPersonId; track i; let index = $index) {
                                          <span>
                                            {{ i.Name }}
                                            @if (index != tourData.CoPersonId?.length - 1) {
                                              <span>,</span>
                                            }
                                          </span>
                                        }
                                      </tr>
                                    }
                                    <tr>
                                      <th>Tour from-Date</th>
                                      <td>{{ tourData.FromDate | date : 'dd-MM-yyyy' }}</td>
                                    </tr>
                                    <tr>
                                      <th>Tour To-Date</th>
                                      <td>{{ tourData.ToDate | date : 'dd-MM-yyyy' }}</td>
                                    </tr>
                                    <tr>
                                      <th>TotalDays</th>
                                      <td>{{ tourData.TotalDays }}</td>
                                    </tr>
                                    <tr>
                                      <th>Description</th>
                                      <td>{{ tourData.Description }}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              }
                            </div>
                          }
                          @if (tabHeading == 'Project Data') {
                            <div>
                              @if (projectData) {
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <th>Project Code</th>
                                      <td>{{ projectData.display_id }}</td>
                                    </tr>
                                    <tr>
                                      <th>Project Name</th>
                                      <td>{{ projectData.projectName }}</td>
                                    </tr>
                                    <tr>
                                      <th>Description</th>
                                      <td>{{ projectData.projectDescription }}</td>
                                    </tr>
                                    <tr>
                                      <th>Company name</th>
                                      <td>{{ projectData?.companyMaster?.companyName }}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              }
                            </div>
                          }
                        </div>
                      </tab>
                    </tabset>
                  }
                </div>
              </div>
            </div>
          </div>
