<div style="position: relative">
  <ngx-ui-loader></ngx-ui-loader>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h5 class="mb-4">Add Ticket Category</h5>

    <form #addTicketCategoty="ngForm" novalidate (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <ng-select
              placeholder="Choose your option"
              (change)="selectcompany($event)"
              ngModel
              #companyMasterID="ngModel"
              name="companyMasterID"
              required
              >
              @for (company of company; track company) {
                <ng-option [value]="company.companyMasterID">
                  {{ company.companyName }}
                </ng-option>
              }
            </ng-select>
            <span>Select Company *</span>
            @if (!companyMasterID.valid && addTicketCategoty.submitted) {
              <div
                class="invalid-tooltip"
                >
                Company is required!
              </div>
            }
          </label>
        </div>
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <input
              class="form-control"
              type="text"
              required
              ngModel
              #ticketCategoryName="ngModel"
              name="ticketCategoryName"
              />
              <span>Ticket Category Name *</span>
              @if (!ticketCategoryName.valid && addTicketCategoty.submitted) {
                <div
                  class="invalid-tooltip"
                  >
                  Ticket Category Name is required!
                </div>
              }
            </label>
          </div>

          <div class="col-md-4">
            <label class="form-group has-float-label">
              <ng-select
                placeholder="Choose your option"
                ngModel
                #user="ngModel"
                name="user"
                required
                required
                >
                @for (person of employee; track person) {
                  <ng-option [value]="person.userMasterID">
                    {{ person.displayName }}
                  </ng-option>
                }
              </ng-select>
              <span>Assign Person *</span>
              @if (!user.valid && addTicketCategoty.submitted) {
                <div class="invalid-tooltip">
                  Assign Person is required!
                </div>
              }
            </label>
          </div>

          <div class="col-md-4">
            <label class="form-group has-float-label">
              <textarea
                class="form-control"
                ngModel
                #description="ngModel"
                name="description"
                required
              ></textarea>
              <span>Description *</span>
              @if (!description.valid && addTicketCategoty.submitted) {
                <div class="invalid-tooltip">
                  Description is required!
                </div>
              }
            </label>
          </div>
        </div>
        <app-state-button
          [btnClass]="'btn btn-primary btn-lg btn-shadow mt-4'"
          [currentState]="buttonState"
          [isDisabled]="buttonDisabled"
          click="onLoginClick()"
          >
          {{ 'forms.submit' | translate }}
        </app-state-button>
        <button
          class="btn btn-danger btn-lg btn-shadow mt-4"
          [routerLink]="adminRoot + '/tickets/listTicketCategory'"
          style="margin-left: 2%"
          >
          Cancel
        </button>
      </form>
    </div>
  </div>

  <simple-notifications
    [options]="{ position: ['top', 'center'], maxStack: 1 }"
  ></simple-notifications>
