.title-span {
      margin-right: 5px;
    }
    
    .title-span:hover {
      color: var(--m-primary);
    }
    
    :host ::ng-deep {
      datatable-footer.datatable-footer {
        overflow: visible !important;
        margin-top: 18px;
      }
      ngx-datatable.ngx-datatable.fixed-header.fixed-row.virtualized.scroll-horz {
        margin-top: 19px;
      }
      .data-table-rows .ngx-datatable .datatable-body .datatable-row-wrapper {
        display: table;
        // padding: 15px 15px 15px 15px;
      }
      .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
        top: 10px !important;
        padding-bottom: 0px;
        padding-left: 3px;
      }
      .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
        padding-top: 10px;
        padding-left: 5px;
        padding-bottom: 7px;
      }
      span.ng-clear-wrapper {
        display: none;
      }
    }
    
    ::ng-deep .tool_tip ~ .tooltip .tooltip-inner {
      max-width: 150px;
      font-size: 12px;
    }
    
    ::ng-deep .lightbox {
      margin-top: 0px !important;
      text-align: center !important;
    }
    
    td,
    th {
      white-space: nowrap;
      overflow: hidden;
    }
    th {
      background-color: var(--m-primary);
      color: #fff;
      padding: 0.3em 0.8em;
      border: 1px solid white;
    }
    
    td {
      border-top: 1px solid rgb(221, 221, 221);
      border-right: 1px solid rgb(221, 221, 221);
      padding: 0.5em 1em;
      text-align: center;
    }
    
    input {
      cursor: pointer;
    }
    
    .table-style {
      overflow-x: auto;
      margin-top: 10px;
      font-size: 12px !important;
    }
    
    .name-col {
      padding: 8px;
      text-align: left;
    }
    
    .name-col-shadow {
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    }
    
    .table thead th {
      border-bottom: 2px solid #dee2e6 !important;
    }
    
    .left-border {
      border-left: 1px solid rgb(221, 221, 221);
    }
    
    .bottom-border {
      border-bottom: 1px solid rgb(221, 221, 221);
    }