<div style="position: relative">
  <ngx-ui-loader></ngx-ui-loader>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h5 class="mb-4">Add Goal</h5>
    <form #addcomp="ngForm" novalidate (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <ng-select placeholder="Choose your option" ngModel #companyMasterID="ngModel"
              name="companyMasterID" required (change)="selectcompany($event)">
              @for (company of company; track company) {
                <ng-option [value]="company.companyMasterID">
                  {{ company.companyName }}
                </ng-option>
              }
            </ng-select>
            <span>Select Company *</span>
            @if (!companyMasterID.valid && addcomp.submitted) {
              <div class="invalid-tooltip">
                Company is required!
              </div>
            }
          </label>
        </div>
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <input class="form-control" type="text" required ngModel #title="ngModel" name="title" />
            <span>Goal Name*</span>
            @if (!title.valid && addcomp.submitted) {
              <div class="invalid-tooltip">
                goal Name is required!
              </div>
            }
          </label>
        </div>
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <ng-select placeholder="Choose Goal Type" ngModel #type="ngModel" name="type" required>
              <ng-option value="Individual">Individual</ng-option>
              <ng-option value="Group">Group</ng-option>
            </ng-select>
            <span>Goal Type *</span>
            @if (!type.valid && addcomp.submitted) {
              <div class="invalid-tooltip">
                Goal Type is required!
              </div>
            }
          </label>
        </div>
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <textarea class="form-control" ngModel #description="ngModel" required
            name="description"></textarea>
            <span>Description *</span>
            @if (!description.valid && addcomp.submitted) {
              <div class="invalid-tooltip">
                Description is required!
              </div>
            }
          </label>
        </div>
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <ng-select placeholder="Choose your option" ngModel #goalSettingId="ngModel"
              name="goalSettingId" required>
              @for (goal of setting; track goal) {
                <ng-option [value]="goal.id">
                  {{ goal.title }}
                </ng-option>
              }
            </ng-select>
            <span>Select Goal Setting *</span>
            @if (!goalSettingId.valid && addcomp.submitted) {
              <div class="invalid-tooltip">
                Goal Setting is required!
              </div>
            }
          </label>
        </div>
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <input class="form-control" #duration="bsDaterangepicker" bsDaterangepicker [container]="'html'"
              required [(ngModel)]="selectedDateRange" name="duration" />
              <span>Duration *</span>
              @if (selectedDateRange.length == 0 && addcomp.submitted) {
                <div class="invalid-tooltip">
                  Duration is required!
                </div>
              }
            </label>
          </div>
          <div class="col-md-12" style="margin-bottom: 20px">
            <span class="button" class="btn btn-primary" (click)="addKra()">ADD KRA</span>
          </div>
          <br />
          @for (value of values; track value; let i = $index) {
            <div class="col-md-12 my-2">
              <div class="row mb-4 kraform">
                <div class="col-md-6">
                  <label class="form-group has-float-label">
                    <input class="form-control" type="text" [(ngModel)]="value.title" #kraTitle="ngModel"
                      required name="kraTitle{{ i }}" />
                      <span>{{i + 1 }}. KRA Title *</span>
                      @if (!kraTitle.valid && addcomp.submitted) {
                        <div class="invalid-tooltip">
                          KRA Title is required!
                        </div>
                      }
                    </label>
                  </div>
                  <div class="col-md-6">
                    <label class="form-group has-float-label">
                      <textarea class="form-control" [(ngModel)]="value.description" #kraDescription="ngModel"
                      required name="kraDescription{{ i }}"></textarea>
                      <span>KRA Description *</span>
                      @if (!kraDescription.valid && addcomp.submitted) {
                        <div class="invalid-tooltip">
                          KRA Description is required!
                        </div>
                      }
                    </label>
                  </div>
                  <div class="col-md-6">
                    <label class="form-group has-float-label">
                      <input class="form-control" type="number" [(ngModel)]="value.weightage" max="15"
                        required #kraWeightage="ngModel" name="kraWeightage{{ i }}" />
                        <span>KRA Weightage *</span>
                        @if (!kraWeightage.valid && addcomp.submitted) {
                          <div class="invalid-tooltip">
                            KRA Weightage is required!
                          </div>
                        }
                      </label>
                    </div>
                    <div class="col-md-6">
                      <button class="btn btn-danger mb-1" type="button" (click)="removeKra(i)"
                        [disabled]="i===0">Remove
                      KRA</button>
                      {{' '}}
                      <span class="btn btn-success mb-1" type="button" (click)="addKpi(i)">Add KPI</span>
                    </div>
                    @for (value of values[i].kpi; track value; let j = $index) {
                      <div class="col-md-12">
                        <div class="row mb-4 kpiform">
                          <div class="col-md-6">
                            <label class="form-group has-float-label">
                              <input class="form-control" type="text" [(ngModel)]="value.title" required
                                #kpiTitle="ngModel" name="kpiTitle{{ i }}{{ j }}" />
                                <span>KPI Title *</span>
                                @if (!kpiTitle.valid && addcomp.submitted) {
                                  <div class="invalid-tooltip">
                                    KPI Title is required!
                                  </div>
                                }
                              </label>
                            </div>
                            <div class="col-md-6">
                              <label class="form-group has-float-label">
                                <textarea class="form-control" [(ngModel)]="value.description" required
                                #kpiDescription="ngModel" name="kpiDescription{{ i }}{{ j }}"></textarea>
                                <span>KPI Description *</span>
                                @if (!kpiDescription.valid && addcomp.submitted) {
                                  <div class="invalid-tooltip">
                                    KPI Description is required!
                                  </div>
                                }
                              </label>
                            </div>
                            <div class="col-md-4">
                              <label class="form-group has-float-label">
                                <input class="form-control" type="number" [(ngModel)]="value.weightage" required
                                  #kpiWeightage="ngModel" name="kpiWeightage{{ i }}{{ j }}" />
                                  <span>KPI Weightage *</span>
                                  @if (!kpiWeightage.valid && addcomp.submitted) {
                                    <div class="invalid-tooltip">
                                      KPI Weightage is required!
                                    </div>
                                  }
                                </label>
                              </div>
                              <div class="col-md-4">
                                <label class="form-group has-float-label">
                                  <input class="form-control" type="number" [(ngModel)]="value.targetGiven"
                                    required #kpiTargetGiven="ngModel" name="kpiTargetGiven{{ i }}{{ j }}" />
                                    <span>KPI Target Given *</span>
                                    @if (!kpiTargetGiven.valid && addcomp.submitted) {
                                      <div class="invalid-tooltip">
                                        KPI Target Given is required!
                                      </div>
                                    }
                                  </label>
                                </div>
                                <div class="col-md-6">
                                  <button class="btn btn-danger mb-1" type="button" (click)="removeKpi(i,j)"
                                    [disabled]="j===0">Remove
                                  KPI</button>
                                </div>
                              </div>
                            </div>
                          }
                          <br>
                          </div>
                        </div>
                      }
                    </div>

                    <app-state-button [btnClass]="'btn btn-primary  btn-shadow mt-2'" type="submit" [currentState]="buttonState"
                      [isDisabled]="buttonDisabled" click="onLoginClick()">
                      {{ 'forms.submit' | translate }}
                    </app-state-button>
                    <button class="btn btn-danger  btn-shadow mt-2" type="button" [routerLink]="adminRoot + '/pms/goal'"
                      style="margin-left: 2%">
                      Cancel
                    </button>
                  </form>
                </div>
              </div>

              <simple-notifications [options]="{ position: ['top', 'center'], maxStack: 1 }"></simple-notifications>