::ng-deep {
  .data-table-rows .ngx-datatable .datatable-body .datatable-row-wrapper {
    display: table;
  }
  .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    top: 10px !important;
    padding-bottom: 0px;
    padding-left: 3px;
  }
  .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 7px;
  }
  span.ng-clear-wrapper {
    display: none;
  }
}
// .modal-body{
//     font-size: 20px;
// }
