<div style="text-align: right"></div>
<div class="row">
  @for (item of rows; track item) {
    <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
      <div class="card d-flex flex-row mb-4">
        <a class="d-flex" href="javascript:;"></a>
        <div class="d-flex flex-grow-1 min-width-zero">
          <div
            class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero"
            style="margin-left: 5%"
            >
            <div class="min-width-zero">
              <a href="javascript:;">
                <p class="list-item-heading mb-1 truncate">{{ item.employeement | uppercase }}</p>
                <p class="text-muted mb-0 text-small">
                  Start Date:-{{ item.applicableDate | date: 'yyyy-MM-dd' }}
                </p>
                @if (item.endDate != null) {
                  <p class="text-muted mb-0 text-small">
                    End Date:-{{ item.endDate | date: 'yyyy-MM-dd' }}
                  </p>
                }
                <div class="min-width-zero">
                  <!-- <a href="javascript:;">
                  <button type="button" class="btn btn-success" *ngIf="item.departmentstatus == 'active'"  style="margin-top: 10%;">{{'Active' | translate}}</button>{{" "}}
                  <button type="button" class="btn btn-danger" *ngIf="item.departmentstatus == 'deactive'"  style="margin-top: 10%;">{{'Deactive' | translate}}</button>{{" "}}
                </a> -->
              </div>
            </a>
          </div>
          <div style="margin-top: 14px">
            <a
              class="btn btn-outline-primary btn-xs"
              (click)="alertConfirmation(item.employeeEmployeementId)"
              style="margin-top: 10%"
              >
              DELETE
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
}
</div>

<div
  bsModal
  #lgModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1" [config]="{backdrop: 'static', keyboard: false}"
  >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add Employee Employment</h4>
        <button
          type="button"
          class="btn-close close pull-right"
          (click)="lgModal.hide()"
          aria-label="Close"
          #closeModal
          >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addcomp="ngForm" novalidate (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <label class="form-group has-float-label">
                <ng-select
                  placeholder="Choose your option"
                  ngModel
                  #employeementId="ngModel"
                  name="employeementId"
                  required
                  >
                  @for (item of allEmployeement; track item) {
                    <ng-option [value]="item.employeementId">
                      {{ item.type }}
                    </ng-option>
                  }
                </ng-select>
                <span>Select Employment</span>
              </label>
              @if (!employeementId.valid && addcomp.submitted) {
                <div class="invalid-tooltip">
                  Employment is required!
                </div>
              }
            </div>
            <div class="col-md-6">
              <label class="form-group has-float-label">
                <input
                  class="form-control"
                  type="Date"
                  ngModel
                  #applicableDate="ngModel"
                  min="{{ current_date }}"
                  required
                  name="applicableDate"
                  />
                  <span>Applicable Date</span>
                </label>
                @if (!applicableDate.valid && addcomp.submitted) {
                  <div class="invalid-tooltip">
                    Applicable Date is required!
                  </div>
                }
              </div>
            </div>

            <button class="btn btn-primary" type="submit">{{ 'forms.submit' | translate }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div
    bsModal
    #lgModal1="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-sizes-name1" [config]="{backdrop: 'static', keyboard: false}"
    >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Edit Employee Employment</h4>
          <button
            type="button"
            class="btn-close close pull-right"
            (click)="lgModal1.hide()"
            aria-label="Close"
            #closeModal1
            >
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          @if (editbyid) {
            <form #editcomp="ngForm" novalidate (ngSubmit)="onSubmit1()">
              <div class="row">
                <div class="col-md-6">
                  <label class="form-group has-float-label">
                    <ng-select
                      placeholder="Choose your option"
                      ngModel
                      #employeementId="ngModel"
                      name="employeementId"
                      [(ngModel)]="editbyid.employee.employeeEmployeementId"
                      required
                      >
                      @for (item of allEmployeement; track item) {
                        <ng-option [value]="item.employeementId">
                          {{ item.type }}
                        </ng-option>
                      }
                    </ng-select>
                    <span>Select Employee's Employment</span>
                  </label>
                  @if (!employeementId.valid && addcomp.submitted) {
                    <div class="invalid-tooltip">
                      Employment is required!
                    </div>
                  }
                </div>
                <div class="col-md-6">
                  <label class="form-group has-float-label">
                    <input
                      class="form-control"
                      type="Date"
                      ngModel
                      #applicableDate="ngModel"
                      [ngModel]="editbyid.applicableDate | date: 'yyyy-MM-dd'"
                      name="applicableDate"
                      min="{{ current_date }}"
                      required
                      />
                      <span>Applicable Date</span>
                    </label>
                    @if (!applicableDate.valid && addcomp.submitted) {
                      <div class="invalid-tooltip">
                        Applicable Date is required!
                      </div>
                    }
                  </div>
                </div>
                <button class="btn btn-primary" type="submit">{{ 'forms.submit' | translate }}</button>
              </form>
            }
          </div>
        </div>
      </div>
    </div>

    <simple-notifications
      [options]="{ position: ['top', 'center'], maxStack: 1 }"
    ></simple-notifications>
