<div style="position: relative">
  <ngx-ui-loader></ngx-ui-loader>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h5 class="mb-4">Add Task</h5>

    <form #addtask="ngForm" novalidate (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <ng-select
              placeholder="Choose your option"
              (change)="selectcompany($event)"
              ngModel
              #company="ngModel"
              name="company"
              required
              [(ngModel)]="company_id"
              >
              @for (company of allcomp; track company) {
                <ng-option [value]="company.companyMasterID">
                  {{ company.companyName }}
                </ng-option>
              }
            </ng-select>
            <span>Company *</span>
            @if (!company.valid && addtask.submitted) {
              <div class="invalid-tooltip">
                Company is required!
              </div>
            }
          </label>
        </div>
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <ng-select
              placeholder="Choose your option"
              (change)="selectbranch($event)"
              ngModel
              #branch="ngModel"
              name="branch"
              [(ngModel)]="finalbranch"
              >
              @for (allbranch of allbranch; track allbranch) {
                <ng-option [value]="allbranch.branchMasterID">
                  {{ allbranch.branchName }}
                </ng-option>
              }
            </ng-select>
            <span>Branch</span>
          </label>
        </div>
        <div class="col-md-4">
          <label class="form-group has-float-label">
            <ng-select
              placeholder="Choose your option"
              ngModel
              #userMasterID="ngModel"
              name="userMasterID"
              [(ngModel)]="finalUser"
              required
              >
              @for (user of ownerList; track user) {
                <ng-option [value]="user.userMasterID">
                  {{ user.displayName }}
                </ng-option>
              }
            </ng-select>
            <span>Select Employee *</span>
            @if (!userMasterID.valid && addtask.submitted) {
              <div class="invalid-tooltip">
                EMPLOYEE is required!
              </div>
            }
          </label>
        </div>

        <div class="col-md-4">
          <label class="form-group has-float-label">
            <input
              class="form-control"
              type="text"
              ngModel
              [(ngModel)]="taskNameModel"
              #taskname="ngModel"
              required
              name="taskname"
              />
              <span>Task Name *</span>
              @if (!taskname.valid && addtask.submitted) {
                <div class="invalid-tooltip">
                  Task Name is required!
                </div>
              }
            </label>
          </div>
          <div class="col-md-4">
            <label class="form-group has-float-label">
              <input
                class="form-control"
                type="file"
                ngModel
                #images="ngModel"
                (change)="onFileChangeForMain($event, getLastIndex())"
                name="images"
                />
                <span>Attachment</span>
              </label>
            </div>

            <div class="col-md-4">
              <label class="form-group has-float-label">
                <ng-select
                  placeholder="Choose your option"
                  ngModel
                  #priority="ngModel"
                  [(ngModel)]="priorityModel"
                  name="priority"
                  required
                  >
                  <ng-option value="High">High</ng-option>
                  <ng-option value="Medium">Medium</ng-option>
                  <ng-option value="Low">Low</ng-option>
                </ng-select>
                <span>Select Priority *</span>
                @if (!priority.valid && addtask.submitted) {
                  <div class="invalid-tooltip">
                    Priority is required!
                  </div>
                }
              </label>
            </div>

            <div class="col-md-4">
              <label class="form-group has-float-label">
                <input
                  class="form-control"
                  type="date"
                  ngModel
                  [(ngModel)]="startdateModel"
                  #startdate="ngModel"
                  name="startdate"
                  required
                  />
                  <span>Start Date *</span>
                  @if (!startdate.valid && addtask.submitted) {
                    <div class="invalid-tooltip">
                      Start Date is required!
                    </div>
                  }
                </label>
              </div>

              <div class="col-md-4">
                <label class="form-group has-float-label">
                  <input
                    [ngxTimepicker]="visitpicker"
                    class="form-control"
                    placeholder="Enter Start Time"
                    ngModel
                    [(ngModel)]="starttimeModel"
                    #starttime="ngModel"
                    name="starttime"
                    />
                    <ngx-material-timepicker #visitpicker></ngx-material-timepicker>
                    <span>Start Time</span>
                  </label>
                </div>

                <div class="col-md-4">
                  <label class="form-group has-float-label">
                    <input
                      class="form-control"
                      type="date"
                      ngModel
                      #enddate="ngModel"
                      name="enddate"
                      [(ngModel)]="enddateModel"
                      [min]="startdateModel"
                      />
                      <span>End Date</span>
                    </label>
                  </div>
                  <div class="col-md-12 text-danger">
                    <div>
                      Note* :- 1) To access the options menu for the Description toolbar, simply right-click
                      with your mouse. eg. font-size
                    </div>
                    <br />
                  </div>
                  <div class="col-md-12">
                    <label class="form-group has-float-label">
                      <quill-editor
                        (contextmenu)="onToolbarRightClick($event)"
                        [placeholder]="''"
                        ngModel
                        #description="ngModel"
                        [(ngModel)]="descriptionModel"
                        name="description"
                        style="height: 100px"
                        >
                        <div quill-editor-toolbar>
                          <span class="ql-formats">
                            <button class="ql-bold" [title]="'Bold'"></button>
                            <button class="ql-italic" [title]="'Italic'"></button>
                            <button class="ql-underline" [title]="'Underline'"></button>
                            <button class="ql-strike" [title]="'Strike'"></button>
                            <button class="ql-image" [title]="'Image'"></button>
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-link"></button>
                            <button class="ql-video"></button>
                          </span>

                          <span class="ql-formats">
                            <select class="ql-align" [title]="'Aligment'">
                              <option selected=""></option>
                              <option value="center"></option>
                              <option value="right"></option>
                              <option value="justify"></option>
                            </select>
                            <select class="ql-size" [title]="'Size'">
                              <option value="8px">8px</option>
                              <option value="10px">10px</option>
                              <option selected="" value="12px">12px</option>
                              <option value="14px">14px</option>
                              <option value="16px">16px</option>
                              <option value="18px">18px</option>
                              <option value="20px">20px</option>
                              <option value="22px">22px</option>
                              <option value="24px">24px</option>
                              <option value="26px">26px</option>
                              <option value="28px">28px</option>
                              <option value="30px">30px</option>
                              <option value="32px">32px</option>
                              <option value="34px">34px</option>
                              <option value="36px">36px</option>
                              <option value="38px">38px</option>
                              <option value="40px">40px</option>
                              <option value="42px">42px</option>
                              <option value="44px">44px</option>
                              <option value="46px">46px</option>
                              <option value="48px">48px</option>
                              <option value="50px">50px</option>
                            </select>
                            <select class="ql-header" [title]="'Header'">
                              <option value="1">Heading 1</option>
                              <option value="2">Heading 2</option>
                              <option value="3">Heading 3</option>
                              <option value="4">Heading 4</option>
                              <option value="5">Heading 5</option>
                              <option value="6">Heading 6</option>
                            </select>
                            <select class="ql-color" [title]="'Color'">
                              <option value="rgb(0, 0, 0)"></option>
                              <option value="rgb(230, 0, 0)"></option>
                              <option value="rgb(255, 153, 0)"></option>
                              <option value="rgb(255, 255, 0)"></option>
                              <option value="rgb(0, 138, 0)"></option>
                              <option value="rgb(0, 102, 204)"></option>
                              <option value="rgb(153, 51, 255)"></option>
                              <option value="rgb(255, 255, 255)"></option>
                              <option value="rgb(250, 204, 204)"></option>
                              <option value="rgb(255, 235, 204)"></option>
                              <option value="rgb(204, 224, 245)"></option>
                              <option value="rgb(235, 214, 255)"></option>
                              <option value="rgb(187, 187, 187)"></option>
                              <option value="rgb(102, 185, 102)"></option>
                              <option value="rgb(192,192,192)"></option>
                              <option value="rgb(128,128,128)"></option>
                              <option value="rgb(128,0,0)"></option>
                              <option value="rgb(128,128,0)"></option>
                              <option value="rgb(0,128,0)"></option>
                              <option value="rgb(128,0,128)"></option>
                              <option value="rgb(0,128,128)"></option>
                              <option value="rgb(0,0,128)"></option>
                            </select>
                            <select class="ql-font" [title]="'Font'">
                              <option selected="">Sans Serif</option>
                              <option value="inconsolata">Inconsolata</option>
                              <option value="roboto">Roboto</option>
                              <option value="mirza">Mirza</option>
                              <option value="arial">Arial</option>
                              <option value="calibri">Calibri</option>
                            </select>
                          </span>
                        </div>
                      </quill-editor>
                      <span>Description</span>
                    </label>
                  </div>
                  <div class="col-md-4">
                    <label><b>Do you Want to add Sub-Task *</b></label>
                    &nbsp;&nbsp;
                    <input
                      type="radio"
                      name="addSubTask1"
                      ngModel
                      #addSubTask1="ngModel"
                      (change)="onaddSubTaskChange($event)"
                      value="true"
                      [(ngModel)]="addSubTask"
                      />
                      &nbsp;
                      <label for="html">Yes</label>
                      &nbsp;&nbsp;
                      <input
                        type="radio"
                        name="addSubTask1"
                        ngModel
                        #addSubTask1="ngModel"
                        (change)="onaddSubTaskChange($event)"
                        value="false"
                        [(ngModel)]="addSubTask"
                        />
                        &nbsp;
                        <label for="html">No</label>
                        <span> &nbsp;&nbsp; </span>
                        @if (!addSubTask1.valid && addtask.submitted) {
                          <div class="invalid-tooltip">
                            Sub Task is required!
                          </div>
                        }
                      </div>
                      @if (addSubTask == 'true') {
                        <div class="col-md-4">
                          <label><b>Subtask Details are Same As Main Task *</b></label>
                          &nbsp;&nbsp;
                          <input
                            type="radio"
                            name="samAsMainTask1"
                            ngModel
                            #samAsMainTask1="ngModel"
                            (change)="onaddsamAsMainTaskChange($event)"
                            value="true"
                            [(ngModel)]="samAsMainTask"
                            />
                            &nbsp;
                            <label for="html">Yes</label>
                            &nbsp;&nbsp;
                            <input
                              type="radio"
                              name="samAsMainTask1"
                              ngModel
                              #samAsMainTask1="ngModel"
                              (change)="onaddsamAsMainTaskChange($event)"
                              value="false"
                              [(ngModel)]="samAsMainTask"
                              />
                              &nbsp;
                              <label for="html">No</label>
                              @if (!samAsMainTask1.valid && addtask.submitted) {
                                <div class="invalid-tooltip">
                                  Same As Main Task is required!
                                </div>
                              }
                            </div>
                          }

                          @if (addSubTask == 'true') {
                            <div class="col-md-4" style="text-align: right">
                              <button class="button" type="button" class="btn btn-success" (click)="addRow()">
                                ADD Sub-Task
                              </button>
                            </div>
                          }
                        </div>

                        <div class="row mb-2">
                          @if (addSubTask == 'false') {
                            <div class="col-md-4">
                              <label class="form-group has-float-label">
                                <ng-select
                                  placeholder="Choose your option"
                                  ngModel
                                  #taskStatus="ngModel"
                                  [required]="maintaskRequired == 'true'"
                                  [closeOnSelect]="false"
                                  [multiple]="true"
                                  name="taskStatus"
                                  >
                                  @for (data of getStatus; track data) {
                                    <ng-option [value]="data.tasks_stagesID">
                                      {{ data.TaskStage }}
                                    </ng-option>
                                  }
                                </ng-select>
                                <span>Task Stage *</span>
                                @if (!taskStatus.valid && addtask.submitted && maintaskRequired == 'true') {
                                  <div
                                    class="invalid-tooltip"
                                    >
                                    Task Stages is required!
                                  </div>
                                }
                              </label>
                            </div>
                          }
                        </div>

                        <br />

                        @if (addSubTask == 'true') {
                          <div>
                            @for (item of values; track item; let i = $index) {
                              <div class="row">
                                <div class="col-md-12">
                                  <hr />
                                </div>
                                <div class="col-md-4">
                                  <label class="form-group has-float-label">
                                    <ng-select
                                      placeholder="Choose your option"
                                      (change)="selectbranch1($event, i)"
                                      ngModel
                                      #branch="ngModel"
                                      name="branch{{ i }}"
                                      [(ngModel)]="item.finalbranch"
                                      >
                                      @for (allbranch of allbranch; track allbranch) {
                                        <ng-option [value]="allbranch.branchMasterID">
                                          {{ allbranch.branchName }}
                                        </ng-option>
                                      }
                                    </ng-select>
                                    <span>Branch</span>
                                  </label>
                                </div>
                                <div class="col-md-4">
                                  <label class="form-group has-float-label">
                                    <ng-select
                                      placeholder="Choose your option"
                                      ngModel
                                      #userMasterID="ngModel"
                                      name="userMasterID{{ i }}"
                                      [(ngModel)]="item.userMasterID"
                                      required
                                      >
                                      @for (user of item.ownerList; track user) {
                                        <ng-option [value]="user.userMasterID">
                                          {{ user.displayName }}
                                        </ng-option>
                                      }
                                    </ng-select>
                                    <span>Select Employee *</span>
                                    @if (!userMasterID.valid && addtask.submitted) {
                                      <div class="invalid-tooltip">
                                        EMPLOYEE is required!
                                      </div>
                                    }
                                  </label>
                                </div>
                                @if (samAsMainTask == 'false') {
                                  <div class="col-md-4">
                                    <label class="form-group has-float-label">
                                      <input
                                        class="form-control"
                                        type="text"
                                        ngModel
                                        [(ngModel)]="item.TaskName"
                                        #TaskName="ngModel"
                                        required
                                        name="TaskName{{ i }}"
                                        />
                                        <span>Task Name *</span>
                                        @if (!TaskName.valid && addtask.submitted) {
                                          <div class="invalid-tooltip">
                                            Task Name is required!
                                          </div>
                                        }
                                      </label>
                                    </div>
                                  }
                                  @if (samAsMainTask == 'false') {
                                    <div class="col-md-4">
                                      <label class="form-group has-float-label">
                                        <input
                                          class="form-control"
                                          type="file"
                                          ngModel
                                          #attachment="ngModel"
                                          (change)="onFileChange($event, i)"
                                          name="attachment{{ i }}"
                                          />
                                          <span>Attachment</span>
                                        </label>
                                      </div>
                                    }
                                    @if (samAsMainTask == 'false') {
                                      <div class="col-md-4">
                                        <label class="form-group has-float-label">
                                          <ng-select
                                            placeholder="Choose your option"
                                            ngModel
                                            #priority="ngModel"
                                            [(ngModel)]="item.priority"
                                            name="priority{{ i }}"
                                            required
                                            >
                                            <ng-option value="High">High</ng-option>
                                            <ng-option value="Medium">Medium</ng-option>
                                            <ng-option value="Low">Low</ng-option>
                                          </ng-select>
                                          <span>Select Priority *</span>
                                          @if (!priority.valid && addtask.submitted) {
                                            <div class="invalid-tooltip">
                                              Priority is required!
                                            </div>
                                          }
                                        </label>
                                      </div>
                                    }
                                    @if (samAsMainTask == 'false') {
                                      <div class="col-md-4">
                                        <label class="form-group has-float-label">
                                          <input
                                            class="form-control"
                                            type="date"
                                            ngModel
                                            [(ngModel)]="item.startDate"
                                            #startDate="ngModel"
                                            name="startDate{{ i }}"
                                            required
                                            />
                                            <span>Start Date *</span>
                                            @if (!startDate.valid && addtask.submitted) {
                                              <div class="invalid-tooltip">
                                                Start Date is required!
                                              </div>
                                            }
                                          </label>
                                        </div>
                                      }
                                      @if (samAsMainTask == 'false') {
                                        <div class="col-md-4">
                                          <label class="form-group has-float-label">
                                            <input
                                              [ngxTimepicker]="visitpicker"
                                              class="form-control"
                                              placeholder="Enter Start Time"
                                              ngModel
                                              [(ngModel)]="item.startTime"
                                              #startTime="ngModel"
                                              name="startTime{{ i }}"
                                              />
                                              <ngx-material-timepicker #visitpicker></ngx-material-timepicker>
                                              <span>Start Time</span>
                                            </label>
                                          </div>
                                        }
                                        @if (samAsMainTask == 'false') {
                                          <div class="col-md-4">
                                            <label class="form-group has-float-label">
                                              <input
                                                class="form-control"
                                                type="date"
                                                ngModel
                                                #endDate="ngModel"
                                                name="endDate{{ i }}"
                                                [(ngModel)]="item.endDate"
                                                [min]="item.startDate"
                                                />
                                                <span>End Date</span>
                                              </label>
                                            </div>
                                          }
                                          <div class="col-md-4">
                                            <label class="form-group has-float-label">
                                              <ng-select
                                                placeholder="Choose your option"
                                                ngModel
                                                #allTaskStage="ngModel"
                                                [closeOnSelect]="false"
                                                [multiple]="true"
                                                [(ngModel)]="item.allTaskStage"
                                                name="allTaskStage{{ i }}"
                                                required
                                                >
                                                @for (data of getStatus; track data) {
                                                  <ng-option [value]="data.tasks_stagesID">
                                                    {{ data.TaskStage }}
                                                  </ng-option>
                                                }
                                              </ng-select>
                                              <span>Task Stage *</span>
                                              @if (!allTaskStage.valid && addtask.submitted) {
                                                <div class="invalid-tooltip">
                                                  Task Stages is required!
                                                </div>
                                              }
                                            </label>
                                          </div>
                                          <div class="col-md-3">
                                            <label class="form-group has-float-label">
                                              <input
                                                class="form-control"
                                                type="number"
                                                ngModel
                                                #taskWeightage="ngModel"
                                                [(ngModel)]="item.taskWeightage"
                                                required
                                                name="taskWeightage{{ i }}"
                                                min="1"
                                                max="100"
                                                />
                                                <span>Weightage *</span>
                                                @if (taskWeightage.invalid && addtask.submitted) {
                                                  <div class="invalid-tooltip">
                                                    Weightage is required!
                                                  </div>
                                                }
                                              </label>
                                            </div>
                                            <div class="col-md-1" style="text-align: right">
                                              <button
                                                type="button"
                                                class="btn btn-danger btn-xs"
                                                (click)="removeRow(i)"
                                                [disabled]="values && values.length == 1"
                                                >
                                                {{ 'Remove' | translate }}
                                              </button>
                                            </div>
                                            @if (samAsMainTask == 'false') {
                                              <div class="col-md-12 text-danger">
                                                <div>
                                                  Note* :- 1) To access the options menu for the Description toolbar, simply right-click
                                                  with your mouse. eg. font-size
                                                </div>
                                                <br />
                                              </div>
                                            }
                                            @if (samAsMainTask == 'false') {
                                              <div class="col-md-4">
                                                <label class="form-group has-float-label">
                                                  <quill-editor
                                                    (contextmenu)="onToolbarRightClick($event)"
                                                    [placeholder]="''"
                                                    ngModel
                                                    #TaskDesc="ngModel"
                                                    [(ngModel)]="item.TaskDesc"
                                                    name="TaskDesc{{ i }}"
                                                    height="100px"
                                                    >
                                                    <div quill-editor-toolbar>
                                                      <span class="ql-formats">
                                                        <button class="ql-bold" [title]="'Bold'"></button>
                                                        <button class="ql-italic" [title]="'Italic'"></button>
                                                        <button class="ql-underline" [title]="'Underline'"></button>
                                                        <button class="ql-strike" [title]="'Strike'"></button>
                                                        <button class="ql-image" [title]="'Image'"></button>
                                                        <button class="ql-list" value="ordered"></button>
                                                        <button class="ql-list" value="bullet"></button>
                                                        <button class="ql-link"></button>
                                                        <button class="ql-video"></button>
                                                      </span>
                                                      <span class="ql-formats">
                                                        <select class="ql-align" [title]="'Aligment'">
                                                          <option selected=""></option>
                                                          <option value="center"></option>
                                                          <option value="right"></option>
                                                          <option value="justify"></option>
                                                        </select>
                                                        <select class="ql-size" [title]="'Size'">
                                                          <option value="8px">8px</option>
                                                          <option value="10px">10px</option>
                                                          <option selected="" value="12px">12px</option>
                                                          <option value="14px">14px</option>
                                                          <option value="16px">16px</option>
                                                          <option value="18px">18px</option>
                                                          <option value="20px">20px</option>
                                                          <option value="22px">22px</option>
                                                          <option value="24px">24px</option>
                                                          <option value="26px">26px</option>
                                                          <option value="28px">28px</option>
                                                          <option value="30px">30px</option>
                                                          <option value="32px">32px</option>
                                                          <option value="34px">34px</option>
                                                          <option value="36px">36px</option>
                                                          <option value="38px">38px</option>
                                                          <option value="40px">40px</option>
                                                          <option value="42px">42px</option>
                                                          <option value="44px">44px</option>
                                                          <option value="46px">46px</option>
                                                          <option value="48px">48px</option>
                                                          <option value="50px">50px</option>
                                                        </select>
                                                        <select class="ql-header" [title]="'Header'">
                                                          <option value="1">Heading 1</option>
                                                          <option value="2">Heading 2</option>
                                                          <option value="3">Heading 3</option>
                                                          <option value="4">Heading 4</option>
                                                          <option value="5">Heading 5</option>
                                                          <option value="6">Heading 6</option>
                                                        </select>
                                                        <select class="ql-color" [title]="'Color'">
                                                          <option value="rgb(0, 0, 0)"></option>
                                                          <option value="rgb(230, 0, 0)"></option>
                                                          <option value="rgb(255, 153, 0)"></option>
                                                          <option value="rgb(255, 255, 0)"></option>
                                                          <option value="rgb(0, 138, 0)"></option>
                                                          <option value="rgb(0, 102, 204)"></option>
                                                          <option value="rgb(153, 51, 255)"></option>
                                                          <option value="rgb(255, 255, 255)"></option>
                                                          <option value="rgb(250, 204, 204)"></option>
                                                          <option value="rgb(255, 235, 204)"></option>
                                                          <option value="rgb(204, 224, 245)"></option>
                                                          <option value="rgb(235, 214, 255)"></option>
                                                          <option value="rgb(187, 187, 187)"></option>
                                                          <option value="rgb(102, 185, 102)"></option>
                                                          <option value="rgb(192,192,192)"></option>
                                                          <option value="rgb(128,128,128)"></option>
                                                          <option value="rgb(128,0,0)"></option>
                                                          <option value="rgb(128,128,0)"></option>
                                                          <option value="rgb(0,128,0)"></option>
                                                          <option value="rgb(128,0,128)"></option>
                                                          <option value="rgb(0,128,128)"></option>
                                                          <option value="rgb(0,0,128)"></option>
                                                        </select>
                                                        <select class="ql-font" [title]="'Font'">
                                                          <option selected="">Sans Serif</option>
                                                          <option value="inconsolata">Inconsolata</option>
                                                          <option value="roboto">Roboto</option>
                                                          <option value="mirza">Mirza</option>
                                                          <option value="arial">Arial</option>
                                                          <option value="calibri">Calibri</option>
                                                        </select>
                                                      </span>
                                                    </div>
                                                  </quill-editor>
                                                  <span>Description</span>
                                                </label>
                                              </div>
                                            }
                                          </div>
                                        }
                                      </div>
                                    }

                                    <div class="col-md-12">
                                      <button class="btn btn-primary mt-4" type="submit">{{ 'forms.submit' | translate }}</button>
                                      <button
                                        class="btn btn-danger btn-shadow mt-4"
                                        [routerLink]="adminRoot + '/tasks/task'"
                                        style="margin-left: 2%"
                                        >
                                        Cancel
                                      </button>
                                    </div>
                                  </form>
                                </div>
                              </div>

                              <ng-template #firstTemplate let-disabled="disabled" let-currentPage="currentPage">
                                <i class="simple-icon-arrow-left" style="margin-right: -6px"></i>
                                <i class="simple-icon-arrow-left"></i>
                              </ng-template>
                              <ng-template #lastTemplate let-disabled="disabled" let-currentPage="currentPage">
                                <i class="simple-icon-arrow-right" style="margin-right: -6px"></i>
                                <i class="simple-icon-arrow-right"></i>
                              </ng-template>
                              <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
                                <i class="simple-icon-arrow-right"></i>
                              </ng-template>
                              <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
                                <i class="simple-icon-arrow-left"></i>
                              </ng-template>

                              <simple-notifications
                                [options]="{ position: ['top', 'center'], maxStack: 1 }"
                              ></simple-notifications>
