.dashboard-list-with-thumbs {
  height: 460px !important;
}

.card-bottom-padding {
  padding-bottom: 1.5rem !important;
}

.badge-top-margin {
  margin-top: 0.25rem !important;
}

.border-round {
  border-radius: 0.25rem !important;
}
