.card-body-padding {
  padding: 0.75rem;
}

.height-width-chat-profile-img {
  width: 60px !important;
  height: 60px !important;
}

.height-width-list-profile-img {
  width: 40px !important;
  height: 40px !important;
}

/* Styling for the Refresh Button */
.refresh-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.refresh-button {
  background-color: #72a799;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px; /* Adjust the button size as needed */
  height: 50px; /* Adjust the button size as needed */
  font-size: 20px; /* Adjust the icon size as needed */
  cursor: pointer;
  transition: background-color 0.3s;
}

.refresh-button:hover {
  background-color: #0b775a; /* Adjust the hover color as needed */
}

.icon {
  margin-left: -5px;
}

.attachment-names {
  background: var(--m-primary);
  padding: 6px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 2px;
}

.attachemnt-main {
  width: fit-content;
}

/* Style for the close icon */
.close-icon {
  cursor: pointer;
  color: #ffffff;
  /* font-size: 20px; */
  margin-left: 10px;
  border: #ffffff;
  border-radius: 5px;
  background: none;
}

/* Hover effect for the close icon */
.close-icon:hover {
  color: #ff3333; /* Change color on hover if desired */
}

.info-icon {
  font-size: 14px;
  margin-left: 0%;
  border-radius: 14px;
}

.content {
  position: absolute;
  // top: pagex;
  padding: 10px 20px 20px 20px;
  min-width: max-content;
  background-color: #ffffff;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.5s;
  // left: pagey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.content .header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content .header .img {
  grid-column: 1/2;
  width: 0px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.content .header .infos {
  margin-left: 1em;
}

.content .header .infos .name {
  font-size: 1em;
  color: #000000;
  letter-spacing: 1px;
  font-size: 600;
}

.content .header .infos .title {
  font-size: 0.9em;
  color: #000000;
  font-size: 500 !important;
  margin-top: 1px;
}

.content .body {
  padding: 1em;
}

.content .body p {
  font-size: 0.95em;
  color: #000000;
}

.content {
  opacity: 1;
  transform: translateX(-15%) translateY(0px);
}

.title {
  line-height: 0.1rem;
}

.table th,
.table td {
  border-color: rgb(171, 170, 170) !important;
}

.border {
  border: 1px solid rgb(171, 170, 170) !important;
}

.ps {
  max-width: unset;
  width: unset;
  margin-right: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.message-options {
  // position: absolute;
  top: 100%;
  left: 0;
  background-color: #155489;
  border: 1px solid #155489;
  color: white;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  // display: none;
}

.show-options .message-options {
  display: block;
}

.message-options ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.message-options li {
  padding: 10px;
  cursor: pointer;
}

.message-options li:hover {
  background-color: #063861;
}

.senderBack {
  background-color: #ccf7ff;
  // background-color: #ffffff;
}

.receiverBack {
  background-color: #ffffff;
}

/* Add this CSS to your component's style or your global styles */

.fixed-date-separator {
  text-align: center;
  margin: 0;
  font-size: 12px;
  color: #757575;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff; /* Optional: Add a background color for better visibility */
  z-index: 1000; /* Set a high z-index to make sure it appears above other content */
}

.date-separator {
  text-align: center;
  margin: 10px 0;
  font-size: 12px;
  color: #757575;
  position: relative;
}

.date-separator:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #dcdcdc; /* Line color */
}

.date-separator span {
  background-color: #fff; /* Background color to hide the line behind the text */
  padding: 0 10px; /* Adjust padding as needed */
  position: relative;
  z-index: 1;
  border-radius: 30px;
  padding: 5px 14px;
  font-weight: 800;
}

/* Optional: Style for "Today" */
.date-separator.today {
  font-weight: bold;
  color: #000;
}

.messageCount {
  background-color: var(--m-primary);
  border-radius: 50%;
  padding: 0px 4px;
  margin-left: 2px;
  color: white;
}

//
.info-icon {
  font-size: 14px;
  margin-left: 0%;
  border-radius: 14px;
}

//loader-styles
.icon {
  font-size: 38px;
  line-height: 66px;
  color: var(--m-primary);
}

.iconsminds::before {
  font-family: iconsminds;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
}

.la-ball-spin-clockwise,
.la-ball-spin-clockwise > div {
  position: absolute;
  margin: auto auto;
  left: 50%;
  top: 35%;
  display: none;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.la-ball-spin-clockwise {
  display: block;
  font-size: 0;
  color: #fff;
}

.la-ball-spin-clockwise.la-dark {
  color: #333;
}

.la-ball-spin-clockwise > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.la-ball-spin-clockwise {
  width: 32px;
  height: 32px;
}

.la-ball-spin-clockwise > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  margin-left: -4px;
  border-radius: 100%;
  -webkit-animation: ball-spin-clockwise 1s infinite ease-in-out;
  -moz-animation: ball-spin-clockwise 1s infinite ease-in-out;
  -o-animation: ball-spin-clockwise 1s infinite ease-in-out;
  animation: ball-spin-clockwise 1s infinite ease-in-out;
}

.la-ball-spin-clockwise > div:nth-child(1) {
  top: 5%;
  left: 50%;
  -webkit-animation-delay: -0.875s;
  -moz-animation-delay: -0.875s;
  -o-animation-delay: -0.875s;
  animation-delay: -0.875s;
}

.la-ball-spin-clockwise > div:nth-child(2) {
  top: 18.1801948466%;
  left: 81.8198051534%;
  -webkit-animation-delay: -0.75s;
  -moz-animation-delay: -0.75s;
  -o-animation-delay: -0.75s;
  animation-delay: -0.75s;
}

.la-ball-spin-clockwise > div:nth-child(3) {
  top: 50%;
  left: 95%;
  -webkit-animation-delay: -0.625s;
  -moz-animation-delay: -0.625s;
  -o-animation-delay: -0.625s;
  animation-delay: -0.625s;
}

.la-ball-spin-clockwise > div:nth-child(4) {
  top: 81.8198051534%;
  left: 81.8198051534%;
  -webkit-animation-delay: -0.5s;
  -moz-animation-delay: -0.5s;
  -o-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.la-ball-spin-clockwise > div:nth-child(5) {
  top: 94.9999999966%;
  left: 50.0000000005%;
  -webkit-animation-delay: -0.375s;
  -moz-animation-delay: -0.375s;
  -o-animation-delay: -0.375s;
  animation-delay: -0.375s;
}

.la-ball-spin-clockwise > div:nth-child(6) {
  top: 81.8198046966%;
  left: 18.1801949248%;
  -webkit-animation-delay: -0.25s;
  -moz-animation-delay: -0.25s;
  -o-animation-delay: -0.25s;
  animation-delay: -0.25s;
}

.la-ball-spin-clockwise > div:nth-child(7) {
  top: 49.9999750815%;
  left: 5.0000051215%;
  -webkit-animation-delay: -0.125s;
  -moz-animation-delay: -0.125s;
  -o-animation-delay: -0.125s;
  animation-delay: -0.125s;
}

.la-ball-spin-clockwise > div:nth-child(8) {
  top: 18.179464974%;
  left: 18.1803700518%;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

.la-ball-spin-clockwise.la-sm {
  width: 16px;
  height: 16px;
}

.la-ball-spin-clockwise.la-sm > div {
  width: 4px;
  height: 4px;
  margin-top: -2px;
  margin-left: -2px;
}

.la-ball-spin-clockwise.la-2x {
  width: 64px;
  height: 64px;
}

.la-ball-spin-clockwise.la-2x > div {
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
}

.la-ball-spin-clockwise.la-3x {
  width: 96px;
  height: 96px;
}

.la-ball-spin-clockwise.la-3x > div {
  width: 24px;
  height: 24px;
  margin-top: -12px;
  margin-left: -12px;
}

/*
   * Animation
   */
@-webkit-keyframes ball-spin-clockwise {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-moz-keyframes ball-spin-clockwise {
  0%,
  100% {
    opacity: 1;
    -moz-transform: scale(1);
    transform: scale(1);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 0;
    -moz-transform: scale(0);
    transform: scale(0);
  }
}

@-o-keyframes ball-spin-clockwise {
  0%,
  100% {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes ball-spin-clockwise {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
