<div style="position: relative">
  <ngx-ui-loader></ngx-ui-loader>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h5 class="mb-4">Add Visit</h5>

    <form #addvisit="ngForm" novalidate (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <label class="form-group has-float-label">
            <ng-select placeholder="Choose your option" ngModel #companyMasterID="ngModel" required
              (change)="companydata($event)" name="companyMasterID">
              @for (company of company; track company) {
                <ng-option [value]="company.companyMasterID">
                  {{ company.companyName }}
                </ng-option>
              }
            </ng-select>
            @if (!companyMasterID.valid && addvisit.submitted) {
              <div class="invalid-tooltip">
                Company is required!
              </div>
            }
            <span>Select Company *</span>
          </label>
        </div>
        <div class="col-md-5">
          <label class="form-group has-float-label">
            <ng-select placeholder="Choose your option" ngModel #customerID="ngModel" name="customerID"
              [(ngModel)]="selectedCustomer" required>
              @for (allcustomers of allcustomer; track allcustomers) {
                <ng-option [value]="allcustomers.customerID">
                  {{ allcustomers.customerName }} ({{ allcustomers.companyName }})
                </ng-option>
              }
            </ng-select>
            <span>Select Customer *</span>
            @if (!customerID.valid && addvisit.submitted) {
              <div class="invalid-tooltip">
                Customer is required!
              </div>
            }
          </label>
        </div>

        @if (addvisit.value.companyMasterID) {
          <div class="col-md-1 p-0 d-flex align-items-center">
            <button type="button" style="font-size: medium" class="btn btn-primary" (click)="lgModal2.show()">
              +
            </button>
          </div>
        }

        <div class="col-md-6">
          <label class="form-group has-float-label">
            <ng-select placeholder="Choose your option" ngModel #assignID="ngModel" name="assignID"
              [(ngModel)]="selectedassign" required>
              @for (empLists of empList; track empLists) {
                <ng-option [value]="empLists.userMasterID">
                  {{ empLists.firstName }} {{ empLists.lastName }} - {{ empLists.userNumber }}
                </ng-option>
              }
            </ng-select>
            <span>Select Assign Person *</span>
            @if (!assignID.valid && addvisit.submitted) {
              <div class="invalid-tooltip">
                Assign Person is required!
              </div>
            }
          </label>
        </div>
        <div class="col-md-6">
          <label class="form-group has-float-label">
            <ng-select [items]="empList" [multiple]="true" bindLabel="name" groupBy="selectedAllGroup"
              [selectableGroup]="true" [selectableGroupAsModel]="false" bindValue="userMasterID" [closeOnSelect]="false"
              [(ngModel)]="selected" ngModel #coPersonID="ngModel" name="coPersonID">
              <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" />
                Select All
              </ng-template>
            </ng-select>
            <span>Select Co-Person</span>
          </label>
        </div>
        <div class="col-md-6">
          <label class="form-group has-float-label">
            <ng-select placeholder="Choose your option" ngModel required #visitPurposeID="ngModel" name="visitPurposeID"
              [(ngModel)]="selectedVisitpurpose">
              @for (getallvisitpurposes of getallvisitpurpose; track getallvisitpurposes) {
                <ng-option
                  [value]="getallvisitpurposes.visitPurposeID">
                  {{ getallvisitpurposes.visitPurpose }}
                </ng-option>
              }
            </ng-select>
            <span>Select Visit Purpose *</span>
            @if (!visitPurposeID.valid && addvisit.submitted) {
              <div class="invalid-tooltip">
                Visit Purpose is required!
              </div>
            }
          </label>
        </div>
        <div class="col-md-6">
          <label class="form-group has-float-label">
            <ng-select placeholder="Choose your option" ngModel #productID="ngModel" name="productID"
              [(ngModel)]="selectedProduct">
              @for (products of product; track products) {
                <ng-option [value]="products.productID">
                  {{ products.productName }}
                </ng-option>
              }
            </ng-select>
            <span>Select Product </span>
            <!-- <div *ngIf="!productID.valid && addvisit.submitted" class="invalid-tooltip">
            Product is required!
          </div> -->
        </label>
      </div>
      <div class="col-md-6">
        <label class="form-group has-float-label">
          <input class="form-control" type="Date" ngModel #visitDate="ngModel" name="visitDate" required />
          <span>Select Visit Date *</span>
          @if (!visitDate.valid && addvisit.submitted) {
            <div class="invalid-tooltip">
              Visit Date is required!
            </div>
          }
        </label>
      </div>
      <div class="col-md-6">
        <label class="form-group has-float-label">
          <input [ngxTimepicker]="visitpicker" class="form-control" placeholder="Enter Visit Time" ngModel
            #visitTime="ngModel" name="visitTime" required />
            <ngx-material-timepicker #visitpicker></ngx-material-timepicker>
            <span>Select Visit Time *</span>
            @if (!visitTime.valid && addvisit.submitted) {
              <div class="invalid-tooltip">
                Visit Time is required!
              </div>
            }
          </label>
        </div>
      </div>
      <div class="row">
        @for (fields of field; track fields) {
          <div class="col-md-6">
            @if (fields.inputType == 'number' && fields.isRequired == false) {
              <label class="form-group has-float-label">
                <input class="form-control" type="number" ngModel #{{fields.fieldLabel}}="ngModel"
                  name="{{ fields.fieldLabel }}" />
                  <span>{{ fields.fieldLabel }}</span>
                </label>
              }
              @if (fields.inputType == 'text' && fields.isRequired == false) {
                <label class="form-group has-float-label">
                  <input class="form-control" type="text" ngModel #{{fields.fieldLabel}}="ngModel"
                    name="{{ fields.fieldLabel }}" />
                    <span>{{ fields.fieldLabel }}</span>
                  </label>
                }
                @if (fields.inputType == 'textarea' && fields.isRequired == false) {
                  <label class="form-group has-float-label"
                    >
                    <textarea class="form-control" type="text" ngModel #{{fields.fieldLabel}}="ngModel"
                    name="{{ fields.fieldLabel }}"></textarea>
                    <span>{{ fields.fieldLabel }}</span>
                  </label>
                }
                @if (fields.inputType == 'radio' && fields.isRequired == false) {
                  <div class="row"
                    style="margin-left: 1%; margin-bottom: 2%">
                    <label style="margin-right: 30px">
                      <b>{{ fields.fieldLabel }}</b>
                    </label>
                    @for (values of fields.value; track values) {
                      <div>
                        <input type="radio" name="{{ fields.fieldLabel }}" ngModel #{{fields.fieldLabel}}="ngModel"
                          [value]="values" style="margin-right: 10px" />
                          <label for="value" style="margin-right: 25px">{{ values }}</label>
                        </div>
                      }
                    </div>
                  }
                  @if (fields.inputType == 'dropdown' && fields.isRequired == false) {
                    <label class="form-group has-float-label"
                      >
                      <ng-select placeholder="Choose your option" ngModel #{{fields.fieldLabel}}="ngModel"
                        name="{{ fields.fieldLabel }}">
                        @for (values of fields.value; track values) {
                          <ng-option [value]="values">
                            {{ values }}
                          </ng-option>
                        }
                      </ng-select>
                      <span>{{ fields.fieldLabel }}</span>
                    </label>
                  }
                  @if (fields.inputType == 'number' && fields.isRequired == true) {
                    <label class="form-group has-float-label">
                      <input class="form-control" type="number" ngModel #{{fields.fieldLabel}}="ngModel"
                        name="{{ fields.fieldLabel }}" required />
                        <span>{{ fields.fieldLabel }}</span>
                      </label>
                    }
                    @if (fields.inputType == 'text' && fields.isRequired == true) {
                      <label class="form-group has-float-label">
                        <input class="form-control" type="text" ngModel #{{fields.fieldLabel}}="ngModel"
                          name="{{ fields.fieldLabel }}" required />
                          <span>{{ fields.fieldLabel }}</span>
                        </label>
                      }
                      @if (fields.inputType == 'textarea' && fields.isRequired == true) {
                        <label class="form-group has-float-label">
                          <textarea class="form-control" type="text" ngModel #{{fields.fieldLabel}}="ngModel"
                          name="{{ fields.fieldLabel }}" required></textarea>
                          <span>{{ fields.fieldLabel }}</span>
                        </label>
                      }
                      @if (fields.inputType == 'radio' && fields.isRequired == true) {
                        <div class="row"
                          style="margin-left: 1%; margin-bottom: 2%">
                          <label style="margin-right: 30px">
                            <b>{{ fields.fieldLabel }}</b>
                          </label>
                          @for (values of fields.value; track values) {
                            <div>
                              <input type="radio" name="{{ fields.fieldLabel }}" ngModel #{{fields.fieldLabel}}="ngModel"
                                [value]="values" style="margin-right: 10px" required />
                                <label for="value" style="margin-right: 25px">{{ values }}</label>
                              </div>
                            }
                          </div>
                        }
                        @if (fields.inputType == 'dropdown' && fields.isRequired == true) {
                          <label class="form-group has-float-label">
                            <ng-select placeholder="Choose your option" ngModel #{{fields.fieldLabel}}="ngModel"
                              name="{{ fields.fieldLabel }}" required>
                              @for (values of fields.value; track values) {
                                <ng-option [value]="values">
                                  {{ values }}
                                </ng-option>
                              }
                            </ng-select>
                            <span>{{ fields.fieldLabel }}</span>
                          </label>
                        }
                      </div>
                    }
                  </div>
                  <br />
                  <div class="col-md-12">
                    <button class="btn btn-primary mt-4" type="submit">{{ 'forms.submit' | translate }}</button>
                    <button class="btn btn-danger btn-shadow mt-4" [routerLink]="adminRoot + '/visits/visit'"
                      style="margin-left: 2%">
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
            </div>



            <div bsModal #lgModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1"
              [config]="{backdrop: 'static', keyboard: false}">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Add Customer</h4>
                    <button type="button" class="btn-close close pull-right" (click)="lgModal2.hide()" aria-label="Close"
                      #closeModal2>
                      <span aria-hidden="true" class="visually-hidden">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form #addcomp="ngForm" novalidate (ngSubmit)="onSubmit1()">
                      <div class="row">
                        <div class="col-md-6">
                          <label class="form-group has-float-label">
                            <input class="form-control" type="text" required ngModel #customerName="ngModel" name="customerName" />
                            <span>Customer Name *</span>
                            @if (!customerName.valid && addcomp.submitted) {
                              <div class="invalid-tooltip">
                                Customer Name is required!
                              </div>
                            }
                          </label>
                        </div>
                        <div class="col-md-6">
                          <label class="form-group has-float-label">
                            <input class="form-control" type="text" placeholder="" required ngModel #companyName="ngModel"
                              name="companyName" name="companyName" />
                              <span>Customer Company Name *</span>
                              @if (!companyName.valid && addcomp.submitted) {
                                <div class="invalid-tooltip">
                                  Company Name is required!
                                </div>
                              }
                            </label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <label class="form-group has-float-label">
                              <input class="form-control" type="text" placeholder="" ngModel #currentLocation="ngModel"
                                name="currentLocation" />
                                <span>Current Location</span>
                              </label>
                            </div>
                            <div class="col-md-4">
                              <label class="form-group has-float-label">
                                <input class="form-control" type="number" placeholder="" ngModel #latitude="ngModel" name="latitude" />
                                <span>Latitude</span>
                              </label>
                            </div>
                            <div class="col-md-4">
                              <label class="form-group has-float-label">
                                <input class="form-control" type="number" placeholder="" ngModel #longitude="ngModel"
                                  name="longitude" />
                                  <span>Longitude</span>
                                </label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-3">
                                <label class="form-group has-float-label">
                                  <input class="form-control" type="text" placeholder="" ngModel #mobileNumber1="ngModel"
                                    name="mobileNumber1" required />
                                    <span>Mobile Number 1 *</span>
                                    @if (!mobileNumber1.valid && addcomp.submitted) {
                                      <div class="invalid-tooltip">
                                        Mobile number is required!
                                      </div>
                                    }
                                  </label>
                                </div>
                                <div class="col-md-3">
                                  <label class="form-group has-float-label">
                                    <input class="form-control" type="text" placeholder="" ngModel #mobileNumber2="ngModel"
                                      name="mobileNumber2" />
                                      <span>Mobile Number 2</span>
                                    </label>
                                  </div>
                                  <div class="col-md-3">
                                    <label class="form-group has-float-label">
                                      <input class="form-control" type="email" placeholder="" ngModel #email="ngModel" name="email" />
                                      <span>Email</span>
                                    </label>
                                  </div>
                                  <div class="col-md-3">
                                    <label class="form-group has-float-label">
                                      <input class="form-control" type="text" placeholder="" ngModel #website="ngModel" name="website" />
                                      <span>Website</span>
                                    </label>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <label class="form-group has-float-label">
                                      <textarea class="form-control" ngModel #address="ngModel" name="address" required></textarea>
                                      <span>Address *</span>
                                      @if (!address.valid && addcomp.submitted) {
                                        <div class="invalid-tooltip">
                                          Address is required!
                                        </div>
                                      }
                                    </label>
                                  </div>
                                  <div class="col-md-6">
                                    <label class="form-group has-float-label">
                                      <input class="form-control" type="text" placeholder="" ngModel #zipcode="ngModel" required
                                        name="zipcode" />
                                        <span>Zipcode *</span>
                                        @if (!zipcode.valid && addcomp.submitted) {
                                          <div class="invalid-tooltip">
                                            Zipcode is required!
                                          </div>
                                        }
                                      </label>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-4">
                                      <label class="form-group has-float-label">
                                        <ng-select placeholder="Choose your option" (change)="selectcountry($event)" ngModel #country1="ngModel"
                                          required name="country1">
                                          @for (countrys of country; track countrys) {
                                            <ng-option [value]="countrys.countryMasterID">
                                              {{ countrys.countryName }}
                                            </ng-option>
                                          }
                                        </ng-select>
                                        <span>Country *</span>
                                        @if (!country1.valid && addcomp.submitted) {
                                          <div class="invalid-tooltip">
                                            Country is required!
                                          </div>
                                        }
                                      </label>
                                    </div>
                                    <div class="col-md-4">
                                      <label class="form-group has-float-label">
                                        <ng-select placeholder="Choose your option" (change)="selectstate($event)" ngModel #state1="ngModel"
                                          [(ngModel)]="stateid" required name="state1">
                                          @for (states of state; track states) {
                                            <ng-option [value]="states.stateMasterID">
                                              {{ states.stateName }}
                                            </ng-option>
                                          }
                                        </ng-select>
                                        <span>State *</span>
                                        @if (!state1.valid && addcomp.submitted) {
                                          <div class="invalid-tooltip">
                                            State is required!
                                          </div>
                                        }
                                      </label>
                                    </div>
                                    <div class="col-md-4">
                                      <label class="form-group has-float-label">
                                        <ng-select placeholder="Choose your option" (change)="selectcity($event)" ngModel #city1="ngModel"
                                          [(ngModel)]="cityid" required name="city1">
                                          @for (citys of city; track citys) {
                                            <ng-option [value]="citys.cityMasterID">
                                              {{ citys.cityName }}
                                            </ng-option>
                                          }
                                        </ng-select>
                                        <span>City *</span>
                                        @if (!city1.valid && addcomp.submitted) {
                                          <div class="invalid-tooltip">
                                            City is required!
                                          </div>
                                        }
                                      </label>
                                    </div>
                                  </div>
                                  <div class="col-md-12">
                                    <button class="btn btn-primary mt-4" type="submit">{{ 'forms.submit' | translate }}</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>


                        <simple-notifications [options]="{ position: ['top', 'center'], maxStack: 1 }"></simple-notifications>