<div class="col-12 mb-4 p-0">
    <div class="card d-flex mb-3 text-black">
        <div class="card-body font text-justify">
            <p>
                <span class="iconsminds-idea icon"></span>
                Important!
            </p>
            <ul>
                <li>
                    <strong>'$'</strong>
                    -Not considered for exemption if opted for New tax regime (Section 115BAC).
                </li>
                <li>
                    You can declare your investment amount till 22nd of every month until the cutoff date of
                    Jan 22, 2024.
                </li>
                <li>Proof submission is not required.</li>
            </ul>
            <p>
                <span class="p-background d-flex text-justify">
                    Not submitting your investment proofs may lead to additional tax being deducted in the
                    subsequent months of this fiscal year (or financial year, or sometimes budget
                    year).
                </span>
            </p>
        </div>
    </div>
</div>