

.kanban-container {
    padding: 5px;
    margin: 0 auto; /* Center the container */
}

.kanban {
    display: flex;
    overflow-x: auto;
}

.kanban-column {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px; /* Rounded corners */
    margin: 0 15px; /* Spacing between columns */
    width: 250px; /* Adjust width for better fit */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.kanban-column:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.kanban-header {
    padding: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 8px 0 0; /* Rounded top corners */
}

.kanban-body {
    padding: 15px;
    background-color: white;
    border-radius: 0 0 8px 8px; /* Rounded bottom corners */
    max-height: 300px; /* Optional: Limit height */
    overflow-y: auto; /* Add scroll if needed */
    transition: all 0.2s ease; /* Smooth transition */
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0; /* Vertical spacing between cards */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-2px); /* Slight lift on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
}

.card-content {
    cursor: grab; /* Show grab cursor on hover */
}

.card-content:active {
    cursor: grabbing; /* Change cursor when dragging */
}

/* Additional styles for text */
.card p {
    margin: 5px 0; /* Spacing between text lines */
    font-size: 14px;
}

.cdk-drag-preview {
    border: 1px solid #ccc;
    background-color: white;
    opacity: 0.7;
}




@mixin tablet-and-up {
    @media screen and (min-width: 769px) { @content; }
}
@mixin mobile-and-up {
    @media screen and (min-width: 601px) { @content; }
}
@mixin tablet-and-down  {
    @media screen and (max-width: 768px) { @content; }
}
@mixin mobile-only {
    @media screen and (max-width: 600px) { @content; }
}


ul, li{
  list-style: none;
  padding: 0;
}

.container{
  display: flex;
//   justify-content: center;
//   align-items: center;
  padding: 0 1rem;
//   background: linear-gradient(45deg, #209cff, #68e0cf);
  padding: 3rem 0;
}
.wrapper{
  background: #eaf6ff;
  padding: 2rem;
  border-radius: 15px;
}
h1{
  font-size: 1.1rem;
  font-family: sans-serif;
}
.sessions{
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}
li{
  padding-bottom: 1.5rem;
  border-left: 1px solid #abaaed;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  &:last-child{
    border: 0px;
    padding-bottom: 0;
  }
  &:before{
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #4e5ed3;
    box-shadow: 3px 3px 0px #bab5f8;
    box-shadow: 3px 3px 0px #bab5f8;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
  }
}
.time{
  color: #2a2839;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  @include mobile-and-up{
    font-size: .9rem;
  }
  @include mobile-only{
    margin-bottom: .3rem;
    font-size: 0.85rem;
  }

}
p{
  color: #4f4f4f;
      font-family: sans-serif;
  line-height: 1.5;
  margin-top:0.4rem;
  @include mobile-only{
    font-size: .9rem;
  }
}