<div style="position: relative">
  <ngx-ui-loader></ngx-ui-loader>
</div>
<app-list-page-header
  name="My Gate Pass"
  [showadd]="permissioncreate"
  [showOrderBy]="false"
  [showDisplayMode]="false"
  [searchValue]="filterData.searchQuery"
  (searchKeyUp)="updateFilter($event)"
  (itemsPerPageChange)="onLimitChange($event)"
  [itemsPerPage]="filterData.limit"
  [itemOptionsPerPage]="itemOptionsPerPage"
  (addNewItem)="showAddNewModal()"
></app-list-page-header>
<div class="card mb-4">
  <div class="card-body">
    @if (permissionview.length != 0) {
      <div class="row">
        <div class="col-md-12">
          <label class="form-group has-float-label">
            <ng-select
              class="form-group"
              [items]="tabledata"
              [multiple]="true"
              [closeOnSelect]="false"
              placeholder="Select To Show Fields In Table"
              [(ngModel)]="selected"
              (change)="changeshowfields()"
            ></ng-select>
            <span>Show Fields In Table</span>
          </label>
        </div>
      </div>
    }
    @if (permissionview.length != 0) {
      <form
        #datefilter="ngForm"
        novalidate
        (ngSubmit)="onSubmit()"
        >
        <div class="row">
          <div class="col-md-3">
            <label class="form-group has-float-label">
              <ng-select
                ngModel
                #status="ngModel"
                name="status"
                [(ngModel)]="filterData.status"
                required
                >
                <ng-option value="0">All</ng-option>
                <ng-option value="3">New</ng-option>
                <ng-option value="1">Checked In</ng-option>
                <ng-option value="2">Completed</ng-option>
              </ng-select>
              <span>Status *</span>
              @if (!status.valid && datefilter.submitted) {
                <div class="invalid-tooltip">
                  Status is required!
                </div>
              }
            </label>
          </div>
          <div class="col-md-3">
            <label class="form-group has-float-label">
              <input
                class="form-control"
                type="date"
                ngModel
                [(ngModel)]="filterData.startdate"
                #startdate="ngModel"
                name="startdate"
                required
                />
                <span>From Date *</span>
                @if (!startdate.valid && datefilter.submitted) {
                  <div class="invalid-tooltip">
                    From Date is required!
                  </div>
                }
              </label>
            </div>
            <div class="col-md-3">
              <label class="form-group has-float-label">
                <input
                  class="form-control"
                  type="date"
                  ngModel
                  [(ngModel)]="filterData.enddate"
                  #enddate="ngModel"
                  name="enddate"
                  required
                  />
                  <span>To Date *</span>
                  @if (!enddate.valid && datefilter.submitted) {
                    <div class="invalid-tooltip">
                      To Date is required!
                    </div>
                  }
                </label>
              </div>
              <div class="col-md-3">
                <button class="btn btn-primary form-group" type="submit">
                  {{ 'forms.submit' | translate }}
                </button>
                &nbsp;&nbsp;
                <button class="btn btn-primary form-group" type="button" (click)="clear()">Clear</button>
              </div>
              <span> &nbsp;&nbsp; </span>
              @if (rows.length > 0) {
                <button
                  class="btn btn-success form-group"
                  type="button"
                  (click)="export()"
                  >
                  Export
                </button>
              }
            </div>
          </form>
        }
      </div>
    </div>

    @if (rows && permissionview.length != 0) {
      <div class="row">
        <div class="col-12 mb-4 data-table-rows">
          <ngx-datatable
            [scrollbarH]="true"
            [rowHeight]="50"
            [rows]="rows"
            [footerHeight]="100"
            [columnMode]="'force'"
            [limit]="filterData.limit"
            [externalPaging]="true"
            [count]="page.totalCount"
            [offset]="page.offset"
            (page)="onChange($event)"
            >
            @if (
              permissionedit.length != 0 ||
              permissiondelete.length != 0 ||
              row.outTime == null ||
              row.outTime == ''
              ) {
              <ngx-datatable-column
                name="Action"
                [sortable]="true"
                [width]="220"
                >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  @if (row.outTime == '' || row.outTime == null) {
                    <a (click)="navigateToEditPage(row)">
                      @if ((permissionedit.length != 0 && row.outTime == null) || row.outTime == '') {
                        <span
                          [class]="'glyph-icon simple-icon-pencil tool_tip'"
                          style="padding-right: 10px; font-size: 18px"
                        ></span>
                      }
                      {{ ' ' }}
                    </a>
                  }
                  @if (row.inTime == null || row.inTime == '') {
                    <button
                      class="btn btn-primary"
                      (click)="lgModal.show(); depositdata(row)"
                      >
                      Check-In
                      {{ ' ' }}
                    </button>
                  }
                  @if (row.inTime != null && row.outTime == null) {
                    <button
                      class="btn btn-primary"
                      (click)="lgModal1.show(); depositdata(row)"
                      >
                      Check-Out
                      {{ ' ' }}
                    </button>
                  }
                </ng-template>
              </ngx-datatable-column>
            }
            @if (selected.includes('Employee')) {
              <ngx-datatable-column
                name="Employee"
                prop="userMaster.displayName"
                [flexGrow]="1.2"
                [width]="180"
              ></ngx-datatable-column>
            }
            @if (selected.includes('VisitorName')) {
              <ngx-datatable-column
                name="Visitor Name"
                prop="visitor.visitorsFirstName"
                [flexGrow]="1.2"
                [width]="180"
              ></ngx-datatable-column>
            }
            @if (selected.includes('VisitorsPhone')) {
              <ngx-datatable-column
                name="Visitor Phone"
                prop="visitor.visitorsPhone"
                [flexGrow]="1.2"
                [width]="180"
              ></ngx-datatable-column>
            }
            @if (selected.includes('VisitorCompany')) {
              <ngx-datatable-column name="Visitor Company" prop="visitor.visitorsComapny" [flexGrow]="1.2" [width]="180"
              ></ngx-datatable-column>
            }
            @if (selected.includes('VisitorPhoto')) {
              <ngx-datatable-column
                name="Visitor Photo"
                prop="visitorPhoto"
                [flexGrow]="1.2"
                [width]="220"
                >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  @if (row.visitor && row.visitor.visitorPhoto) {
                    <img
                      [src]="apiURL + row.visitor.visitorPhoto"
                      height="50px"
                      width="50px"
                      alt="Visitor Photo"
                      (click)="view(row.visitor.visitorPhoto)"
                      />
                  }
                </ng-template>
              </ngx-datatable-column>
            }
            @if (selected.includes('MeetingLocation')) {
              <ngx-datatable-column
                name="Meeting Location"
                prop="meetingPlace.meetingPlaceName"
                [flexGrow]="1.2"
                [width]="180"
              ></ngx-datatable-column>
            }
            @if (selected.includes('Date')) {
              <ngx-datatable-column
                name="Date"
                prop="date"
                [flexGrow]="1.2"
                [width]="140"
              ></ngx-datatable-column>
            }
            @if (selected.includes('InTime')) {
              <ngx-datatable-column
                name="In Time"
                prop="inTime"
                [flexGrow]="1.2"
                [width]="180"
              ></ngx-datatable-column>
            }
            @if (selected.includes('OutTime')) {
              <ngx-datatable-column
                name="Out Time"
                prop="outTime"
                [flexGrow]="1.2"
                [width]="180"
              ></ngx-datatable-column>
            }
            @if (selected.includes('attachment')) {
              <ngx-datatable-column
                name="attachment"
                [flexGrow]="1.2"
                [width]="230"
                >
                <!-- <ng-template let-row="row" ngx-datatasble-cell-template><button class="btn btn-primary" (click)="lgModal.show();editimage(row)">Show Image</button></ng-template> -->
                <ng-template let-row="row" ngx-datatable-cell-template>
                  @if (row.attachment != '' && row.attachment != null) {
                    <img
                      src="data:image/jpeg;base64,{{ row.attachment }}"
                      (click)="lgModal3.show(); editimage(row.attachment)"
                      height="50px"
                      width="50px"
                      />
                  }
                </ng-template>
              </ngx-datatable-column>
            }
            @if (selected.includes('checkINattachment')) {
              <ngx-datatable-column
                name="checkINattachment"
                [flexGrow]="1.2"
                [width]="230"
                >
                <!-- <ng-template let-row="row" ngx-datatasble-cell-template><button class="btn btn-primary" (click)="lgModal.show();editimage(row)">Show Image</button></ng-template> -->
                <ng-template let-row="row" ngx-datatable-cell-template>
                  @if (row.checkINattachment != '' && row.checkINattachment != null) {
                    <img
                      src="data:image/jpeg;base64,{{ row.checkINattachment }}"
                      (click)="lgModal3.show(); editimage(row.checkINattachment)"
                      height="50px"
                      width="50px"
                      />
                  }
                </ng-template>
              </ngx-datatable-column>
            }
            @if (selected.includes('checkOUTattachment')) {
              <ngx-datatable-column
                name="checkOUTattachment"
                [flexGrow]="1.2"
                [width]="230"
                >
                <!-- <ng-template let-row="row" ngx-datatasble-cell-template><button class="btn btn-primary" (click)="lgModal.show();editimage(row)">Show Image</button></ng-template> -->
                <ng-template let-row="row" ngx-datatable-cell-template>
                  @if (row.checkOUTattachment != '' && row.checkOUTattachment != null) {
                    <img
                      src="data:image/jpeg;base64,{{ row.checkOUTattachment }}"
                      (click)="lgModal3.show(); editimage(row.checkOUTattachment)"
                      height="50px"
                      width="50px"
                      />
                  }
                </ng-template>
              </ngx-datatable-column>
            }
            @if (selected.includes('FromTime')) {
              <ngx-datatable-column
                name="From Time"
                prop="fromTime"
                [flexGrow]="1.2"
                [width]="180"
              ></ngx-datatable-column>
            }
            @if (selected.includes('ToTime')) {
              <ngx-datatable-column
                name="To Time"
                prop="toTime"
                [flexGrow]="1.2"
                [width]="180"
              ></ngx-datatable-column>
            }
            @if (selected.includes('Remarks')) {
              <ngx-datatable-column
                name="Remarks"
                prop="remarks"
                [flexGrow]="1.2"
                [width]="180"
              ></ngx-datatable-column>
            }
            @if (selected.includes('CreateBy')) {
              <ngx-datatable-column
                name="Create By"
                prop="createBy"
                [flexGrow]="1.2"
                [width]="160"
                >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.createBy }}
                </ng-template>
              </ngx-datatable-column>
            }
            @if (selected.includes('CreateByIp')) {
              <ngx-datatable-column
                name="Create By IP"
                prop="createByIp"
                [flexGrow]="1.2"
                [width]="160"
              ></ngx-datatable-column>
            }
            @if (selected.includes('CreatedAt')) {
              <ngx-datatable-column
                name="Created Date"
                prop="createdAt"
                [flexGrow]="1.2"
                [width]="160"
                >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.createdAt | date : 'dd-MM-yyyy' }}
                </ng-template>
              </ngx-datatable-column>
            }
            @if (selected.includes('updateBy')) {
              <ngx-datatable-column
                name="Update By"
                prop="updateBy"
                [flexGrow]="1.2"
                [width]="160"
                >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.updateBy }}
                </ng-template>
              </ngx-datatable-column>
            }
            @if (selected.includes('UpdateByIp')) {
              <ngx-datatable-column
                name="Update By IP"
                prop="updateByIp"
                [flexGrow]="1.2"
                [width]="160"
              ></ngx-datatable-column>
            }
            @if (selected.includes('UpdatedAt')) {
              <ngx-datatable-column
                name="Updated Date"
                prop="updatedAt"
                [flexGrow]="1.2"
                [width]="160"
                >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.updatedAt | date : 'dd-MM-yyyy' }}
                </ng-template>
              </ngx-datatable-column>
            }
            @if (true) {
              <ngx-datatable-footer>
                <ng-template
                  ngx-datatable-footer-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  let-limit="limit"
                  >
                  <div class="w-100 d-flex justify-content-center">
                    <pagination
                      [totalItems]="rowCount"
                      [boundaryLinks]="true"
                      [customFirstTemplate]="firstTemplate"
                      [customLastTemplate]="lastTemplate"
                      [itemsPerPage]="filterData.limit"
                      [maxSize]="5"
                      [(ngModel)]="currentPage"
                      (pageChanged)="table.onFooterPage($event)"
                      [customNextTemplate]="nextTemplate"
                      [customPreviousTemplate]="prevTemplate"
                    ></pagination>
                  </div>
                </ng-template>
              </ngx-datatable-footer>
            }
          </ngx-datatable>
        </div>
      </div>
    }

    <ng-template #firstTemplate let-disabled="disabled" let-currentPage="currentPage">
      <i class="simple-icon-arrow-left" style="margin-right: -6px"></i>
      <i class="simple-icon-arrow-left"></i>
    </ng-template>
    <ng-template #lastTemplate let-disabled="disabled" let-currentPage="currentPage">
      <i class="simple-icon-arrow-right" style="margin-right: -6px"></i>
      <i class="simple-icon-arrow-right"></i>
    </ng-template>
    <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
      <i class="simple-icon-arrow-right"></i>
    </ng-template>
    <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
      <i class="simple-icon-arrow-left"></i>
    </ng-template>

    <div
      bsModal
      #lgModal="bs-modal"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="dialog-sizes-name1"
      [config]="{ backdrop: 'static', keyboard: false }"
      >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Check-In</h4>
            <button
              type="button"
              class="btn-close close pull-right"
              (click)="lgModal.hide()"
              aria-label="Close"
              #closeModal
              >
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form #addrefund="ngForm" novalidate (ngSubmit)="refundSubmit()">
              <div class="col-md-6">
                <label class="form-group has-float-label">
                  <input
                    class="form-control"
                    type="time"
                    ngModel
                    required
                    #inTime="ngModel"
                    name="inTime"
                    />
                    <span>In Time *</span>
                    @if (!inTime.valid && addrefund.submitted) {
                      <div class="invalid-tooltip">
                        In Time is required!
                      </div>
                    }
                  </label>
                </div>
                <div class="col-md-6">
                  <label class="form-group has-float-label">
                    <input
                      class="form-control"
                      type="file"
                      name="attachment"
                      accept="image/*"
                      (change)="onUploadChange($event)"
                      />
                      <span>Attachment</span>
                    </label>
                  </div>

                  <button class="btn btn-primary" type="submit">
                    {{ 'forms.submit' | translate }}
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div
          bsModal
          #lgModal1="bs-modal"
          class="modal fade"
          tabindex="-1"
          role="dialog"
          aria-labelledby="dialog-sizes-name1"
          [config]="{ backdrop: 'static', keyboard: false }"
          >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title pull-left">Check-Out</h4>
                <button
                  type="button"
                  class="btn-close close pull-right"
                  (click)="lgModal1.hide()"
                  aria-label="Close"
                  #closeModal1
                  >
                  <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <form #addrefund1="ngForm" novalidate (ngSubmit)="refundSubmit1()">
                  <div class="col-md-6">
                    <label class="form-group has-float-label">
                      <input
                        class="form-control"
                        type="time"
                        ngModel
                        required
                        #outTime="ngModel"
                        name="outTime"
                        />
                        <span>Out Time *</span>
                        @if (!outTime.valid && addrefund1.submitted) {
                          <div class="invalid-tooltip">
                            Out Time is required!
                          </div>
                        }
                      </label>
                    </div>
                    <div class="col-md-6">
                      <label class="form-group has-float-label">
                        <input
                          class="form-control"
                          type="file"
                          name="attachment"
                          accept="image/*"
                          (change)="onUploadChange($event)"
                          />
                          <span>Attachment</span>
                        </label>
                      </div>

                      <button class="btn btn-primary" type="submit">
                        {{ 'forms.submit' | translate }}
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <simple-notifications
              [options]="{ position: ['top', 'center'], maxStack: 1 }"
            ></simple-notifications>

            <div
              bsModal
              #lgModal3="bs-modal"
              class="modal fade"
              tabindex="-1"
              role="dialog"
              aria-labelledby="dialog-sizes-name1"
              [config]="{ backdrop: 'static', keyboard: false }"
              >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Image</h4>
                    <button
                      type="button"
                      class="btn-close close pull-right"
                      (click)="lgModal3.hide()"
                      aria-label="Close"
                      >
                      <span aria-hidden="true" class="visually-hidden">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div style="text-align: center">
                      <img src="data:image/jpeg;base64,{{ image }}" height="350px" width="350px" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
