::ng-deep {
  .data-table-rows .ngx-datatable .datatable-body .datatable-row-wrapper {
    display: table;
  }
  .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    top: 10px !important;
    padding-bottom: 0px;
    padding-left: 3px;
  }
  .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 7px;
  }
  span.ng-clear-wrapper {
    display: none;
  }

  .commonFilter .mb-4{
    margin-bottom: 0px !important;
    box-shadow: none !important;
  }

  .commonFilter .mb-4 .card-body{
    padding-bottom: 0px !important;
  }
}

.content-right {
  display: flex;
  justify-content: right;
}

.mb0 {
  margin-bottom: 0px;
}

.bor-rad-0{
  border-radius: 0px !important;
}

.btn-xxs {
  padding: 1px 5px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  border-radius: 3px;
}