<div style="position: relative">
  <ngx-ui-loader></ngx-ui-loader>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h5 class="mb-4">Edit Loan Master</h5>

    @if (loandata) {
      <form #addloanMaster="ngForm" novalidate (ngSubmit)="(onSubmit)">
        @if (editable == true) {
          <div class="row">
            @if (childcompany == 'false') {
              <div class="col-md-3">
                <label class="form-group has-float-label">
                  <ng-select placeholder="Choose your option" (change)="selectcompany($event)" ngModel #company="ngModel"
                    name="company" [(ngModel)]="loandata.companyMasterID" required  [readonly]="true">
                    @for (company of allcomp; track company) {
                      <ng-option [value]="company.companyMasterID">
                        {{ company.companyName }}
                      </ng-option>
                    }
                  </ng-select>
                  <span>Company *</span>
                  @if (!company.valid && addloanMaster.submitted) {
                    <div class="invalid-tooltip">
                      Company is required!
                    </div>
                  }
                </label>
              </div>
            }
            @if (employee) {
              <div class="col-md-3">
                <label class="form-group has-float-label">
                  <ng-select placeholder="Choose your option" ngModel #userMasterId="ngModel" name="userMasterId"
                    [(ngModel)]="loandata.userMasterID" required [readonly]="true">
                    @for (user of employee; track user) {
                      <ng-option [value]="user.userMasterID">
                        {{ user.displayName }}
                      </ng-option>
                    }
                  </ng-select>
                  <span>UserName *</span>
                  @if (!userMasterId.valid && addloanMaster.submitted) {
                    <div class="invalid-tooltip">
                      User is required!
                    </div>
                  }
                </label>
              </div>
            }
            <div class="col-md-3">
              <label class="form-group has-float-label">
                <input class="form-control" type="number" required ngModel #loanAmount="ngModel" name="loanAmount"
                  [(ngModel)]="loandata.LoanAmount" (input)="calcloaninst(); validateLoanAmount($event)"   (keydown)="validateLoanAmount($event)" />
                  <span>Loan Amount *</span>
                  @if (!loanAmount.valid && addloanMaster.submitted) {
                    <div class="invalid-tooltip">
                      Loan Amount is required!
                    </div>
                  }
                </label>
              </div>
              <div class="col-md-3">
                <label class="form-group has-float-label">
                  <input class="form-control" type="number" required ngModel #emiMonth="ngModel" name="emiMonth"
                    [(ngModel)]="loandata.EMIMonths" (input)="calcloaninst(); validateEMIMonth($event);" />
                    <span>EMI Month *</span>
                    @if (!emiMonth.valid && addloanMaster.submitted) {
                      <div class="invalid-tooltip">
                        EMI Month is required!
                      </div>
                    }
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="form-group has-float-label">
                    <input
                      class="form-control"
                      type="number"
                      [(ngModel)]="loandata.interest"
                      name="interest"
                      required
                      #interestModel="ngModel"
                      (input)="calcloaninst(); validateInterest($event)"
                      readonly
                      />
                      <span>Interest *</span>
                      @if (!interestModel.valid && addloanMaster.submitted) {
                        <div class="invalid-tooltip">
                          Interest is required!
                        </div>
                      }
                    </label>
                  </div>
                  <div class="col-md-3">
                    <label class="form-group has-float-label">
                      <input class="form-control" type="date" required ngModel #givenDate="ngModel"
                        [(ngModel)]="loandata.givenDate" name="givenDate" (change)="selectGivenDate($event)"/>
                        <span>Given Date *</span>
                        @if (!givenDate.valid && addloanMaster.submitted) {
                          <div class="invalid-tooltip">
                            Given Date is required!
                          </div>
                        }
                      </label>
                    </div>
                    <div class="col-md-3">
                      <label class="form-group has-float-label">
                        <input class="form-control" type="month" required ngModel #startMonth="ngModel" [readonly]="loandata.givenDate == '' || !loandata.givenDate" [min]="minMonth"
                          [(ngModel)]="loandata.startMonth" name="startMonth" (change)="calcloaninst()" (keydown)="preventBackMonth($event)" />
                          <span>Select Start Month *</span>
                          @if (!startMonth.valid && addloanMaster.submitted) {
                            <div class="invalid-tooltip">
                              StartMonth is required!
                            </div>
                          }
                        </label>
                      </div>
                      <div class="col-md-3">
                        <label class="form-group has-float-label">
                          <ng-select placeholder="Choose your option" ngModel #paymentmode="ngModel" name="paymentmode"
                            [(ngModel)]="loandata.paymentmode" required>
                            <ng-option value="Cash">Cash</ng-option>
                            <ng-option value="Cheque">Cheque</ng-option>
                            <ng-option value="UPI">UPI</ng-option>
                            <ng-option value="NetBanking">NetBanking</ng-option>
                          </ng-select>
                          <span>Payment Mode *</span>
                          @if (!paymentmode.valid && addloanMaster.submitted) {
                            <div class="invalid-tooltip">
                              Payment Mode is required!
                            </div>
                          }
                        </label>
                      </div>
                      @if (addloanMaster.value.paymentmode != '' && addloanMaster.value.paymentmode != 'Cash') {
                        <div class="col-md-3"
                          >
                          <label class="form-group has-float-label">
                            <input class="form-control" ngModel #referenceNo="ngModel" [(ngModel)]="loandata.referenceNO"
                              name="referenceNo" />
                              <span>{{ addloanMaster.value.paymentmode }} Reference NO</span>
                            </label>
                          </div>
                        }
                        @if (addloanMaster.value.paymentmode != '' && addloanMaster.value.paymentmode != 'Cash') {
                          <div class="col-md-3"
                            >
                            <label class="form-group has-float-label">
                              <input class="form-control" type="date" ngModel #referencedate="ngModel" name="referencedate"
                                [(ngModel)]="loandata.referenceDate" />
                                <span>{{ addloanMaster.value.paymentmode }} Reference Date *</span>
                                @if (!referencedate.valid && addloanMaster.submitted) {
                                  <div class="invalid-tooltip">
                                    Reference Date is required!
                                  </div>
                                }
                              </label>
                            </div>
                          }
                          <div class="col-md-3">
                            <label class="form-group has-float-label">
                              <textarea class="form-control" type="text" required ngModel #loanRemark="ngModel" name="loanRemark"
                              [(ngModel)]="loandata.LoanRemark"></textarea>
                              <span>Loan Remarks *</span>
                              @if (!loanRemark.valid && addloanMaster.submitted) {
                                <div class="invalid-tooltip">
                                  Loan Remarks is required!
                                </div>
                              }
                            </label>
                          </div>
                        </div>
                      }
                      @if (editable == false) {
                        <div class="row">
                          @if (childcompany == 'false') {
                            <div class="col-md-3">
                              <label class="form-group has-float-label">
                                <input class="form-control" ngModel #companyMasterID="ngModel" name="companyMasterID"
                                  [(ngModel)]="loandata.companyMaster.companyName" disabled />
                                  <span>Company</span>
                                </label>
                              </div>
                            }
                            <div class="col-md-3">
                              <label class="form-group has-float-label">
                                <input class="form-control" ngModel #userMasterID="ngModel" name="userMasterID"
                                  [(ngModel)]="loandata.userMaster.displayName" disabled />
                                  <span>UserName</span>
                                </label>
                              </div>
                              <div class="col-md-3">
                                <label class="form-group has-float-label">
                                  <input class="form-control" type="number" ngModel #loanAmount="ngModel" name="loanAmount"
                                    [(ngModel)]="loandata.LoanAmount" (change)="calcloaninst()" readonly />
                                    <span>Loan Amount *</span>
                                  </label>
                                </div>
                                <div class="col-md-3">
                                  <label class="form-group has-float-label">
                                    <input class="form-control" type="number" ngModel #emiMonth="ngModel" name="emiMonth"
                                      [(ngModel)]="loandata.EMIMonths" (change)="calcloaninst()" disabled />
                                      <span>EMI Month *</span>
                                    </label>
                                  </div>
                                  <div class="col-md-3">
                                    <label class="form-group has-float-label">
                                      <input class="form-control" type="number" ngModel #interest="ngModel" name="interest"
                                        [(ngModel)]="loandata.interest" (change)="calcloaninst()" disabled />
                                        <span>Interest *</span>
                                      </label>
                                    </div>
                                    <div class="col-md-3">
                                      <label class="form-group has-float-label">
                                        <input class="form-control" type="date" ngModel #givenDate="ngModel" [(ngModel)]="loandata.givenDate"
                                          name="givenDate" disabled />
                                          <span>Given Date *</span>
                                        </label>
                                      </div>
                                      <div class="col-md-3">
                                        <label class="form-group has-float-label">
                                          <input class="form-control" type="month" ngModel #startMonth="ngModel" [(ngModel)]="loandata.startMonth"
                                            name="startMonth" (change)="calcloaninst()" disabled />
                                            <span>Select Start Month *</span>
                                          </label>
                                        </div>
                                        <div class="col-md-3">
                                          <label class="form-group has-float-label">
                                            <input class="form-control" ngModel #paymentmode="ngModel" name="paymentmode"
                                              [(ngModel)]="loandata.paymentmode" disabled />
                                              <span>Payment Mode</span>
                                            </label>
                                          </div>
                                          @if (loandata.paymentmode != '' && loandata.paymentmode != 'Cash') {
                                            <div class="col-md-3">
                                              <label class="form-group has-float-label">
                                                <input class="form-control" ngModel #referenceNo="ngModel" [(ngModel)]="loandata.referenceNO"
                                                  name="referenceNo" disabled />
                                                  <span>{{ addloanMaster.value.paymentmode }} Reference NO</span>
                                                </label>
                                              </div>
                                            }
                                            @if (loandata.paymentmode != '' && loandata.paymentmode != 'Cash') {
                                              <div class="col-md-3">
                                                <label class="form-group has-float-label">
                                                  <input class="form-control" type="date" ngModel #referencedate="ngModel" name="referencedate"
                                                    [(ngModel)]="loandata.referenceDate" disabled />
                                                    <span>{{ addloanMaster.value.paymentmode }} Reference Date</span>
                                                  </label>
                                                </div>
                                              }
                                              <div class="col-md-3">
                                                <label class="form-group has-float-label">
                                                  <textarea class="form-control" type="text" ngModel #loanRemark="ngModel" name="loanRemark"
                                                  [(ngModel)]="loandata.LoanRemark" disabled></textarea>
                                                  <span>Loan Remarks</span>
                                                </label>
                                              </div>
                                            </div>
                                          }
                                          <div class="row" style="display: flex; justify-content: space-evenly">
                                            <table border="1" class="col-md-5" style="width: 100%; margin-top: 2%">
                                              <thead>
                                                <tr align="center">
                                                  <th>EMI Month</th>
                                                  <th>Loan Installment</th>
                                                  <th>Principle Amount</th>
                                                  <th>Interest Amount</th>
                                                  <th>Status</th>
                                                  <th>Action</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                @for (data of datearr; track data; let i = $index) {
                                                  <tr align="center">
                                                    @if (data.RefrenceId == null) {
                                                      <td>
                                                        <input class="form-control" type="month" [(ngModel)]="data.EMIMonth" [name]="'EMIMonth_' + i"   onkeydown="return false" (change)="changeMonth(i,$event)" [min]="data.EMIMonth"
                                                          [disabled]="i <= lastPaidIndex"/>
                                                        </td>
                                                      }
                                                      @if (data.RefrenceId != null) {
                                                        <td>
                                                          <input class="form-control" type="month" [(ngModel)]="data.EMIMonth" [name]="'EMIMonth_' + i"
                                                            disabled />
                                                          </td>
                                                        }
                                                        @if (data.RefrenceId == null) {
                                                          <td class="wide-cell">
                                                            <input class="form-control" type="number" style="text-align: center" [(ngModel)]="data.EMIAmount1"
                                                              (blur)="bifurcate(i, $event.target.value)" [name]="'EMIAmount_' + i" [disabled]="data.iseditable || i <= lastPaidIndex" (keydown.enter)="disableEnter($event)" />
                                                            </td>
                                                          }
                                                          @if (data.RefrenceId != null) {
                                                            <td class="wide-cell">
                                                              <input class="form-control" type="number" style="text-align: center" [(ngModel)]="data.EMIAmount1"
                                                                [name]="'EMIAmount_' + i" disabled />
                                                              </td>
                                                            }
                                                            <td>{{data.monthlyPrinciple}}</td>
                                                            <td>{{data.monthlyInterest}}</td>
                                                            @if (data.RefrenceId == null) {
                                                              <td style="color: red; padding-right: 10px; padding-left: 10px">
                                                                Pending
                                                              </td>
                                                            }
                                                            @if (data.RefrenceId != null) {
                                                              <td style="color: green; padding-right: 10px; padding-left: 10px">
                                                                Paid
                                                              </td>
                                                            }
                                                            @if (data.RefrenceId == null && data.monthlyPrinciple != 0 && i > lastPaidIndex) {
                                                              <td>
                                                                <a  (click)="changeAmount(i); lgModal.show()">
                                                                  <span [class]="'glyph-icon simple-icon-pencil tool_tip'"
                                                                  style="padding-right: 10px; padding-left: 10px; font-size: 18px"></span>
                                                                </a>
                                                              </td>
                                                            }
                                                            @if (data.RefrenceId != null) {
                                                              <td></td>
                                                            }
                                                          </tr>
                                                        }
                                                      </tbody>
                                                    </table>
                                                    <table border="1" class="col-md-5" style="height: fit-content; width: 100%; margin-top: 2%">
                                                      @if (advances.length > 0) {
                                                        <thead>
                                                          <tr align="center">
                                                            <th colspan="4">Loan Advance Payment History</th>
                                                          </tr>
                                                        </thead>
                                                      }
                                                      @if (advances.length > 0) {
                                                        <thead>
                                                          <tr align="center">
                                                            <th>Amount</th>
                                                            <th>Given Date</th>
                                                            <th>Payment Mode</th>
                                                            <th>Remarks</th>
                                                          </tr>
                                                        </thead>
                                                      }
                                                      @if (advances.length > 0) {
                                                        <tbody>
                                                          @for (data of advances; track data; let i = $index) {
                                                            <tr align="center">
                                                              <td>{{ data.Amount }}</td>
                                                              <td>{{ data.givenDate | date: 'dd-MM-yyyy' }}</td>
                                                              <td>{{ data.paymentmode }}</td>
                                                              <td>{{ data.remarks }}</td>
                                                            </tr>
                                                          }
                                                        </tbody>
                                                      }
                                                    </table>
                                                  </div>
                                                  <br />
                                                  <button class="btn btn-primary mr-2" type="submit" [disabled]="isdisabled" (click)="onSubmit()">
                                                    {{ 'Submit' | translate }}
                                                  </button>
                                                  <button class="btn btn-danger btn-shadow" [routerLink]="adminRoot + '/finances/loanMaster'"
                                                    style="margin-left: 2%">
                                                    Cancel
                                                  </button>
                                                  <simple-notifications [options]="{ position: ['top', 'center'], maxStack: 1 }"></simple-notifications>
                                                </form>
                                              }
                                            </div>
                                          </div>

                                          <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1"
                                            [config]="{backdrop: 'static', keyboard: false}">
                                            <div class="modal-dialog modal-lg">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h4 class="modal-title pull-left">Select Action</h4>
                                                  <button type="button" class="btn-close close pull-right" (click)="lgModal.hide(); closeEMImodel();" aria-label="Close">
                                                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                  <!-- <button class="btn btn-primary" (click)="selectType(1);lgModal.hide()">Type 1</button><br>
                                                  <button class="btn btn-primary" (click)="selectType(2);lgModal.hide()">Type 2</button> -->
                                                  <form #addcomp="ngForm" novalidate>
                                                    <div class="row">
                                                      <div class="col-md-12" style="text-align: center">
                                                        &nbsp;&nbsp;
                                                        <input type="radio" name="defaultRight" value="true" ngModel required #defaultRight="ngModel"
                                                          (click)="selectType(1); lgModal.hide()" style="margin-right: 1%" required />
                                                          <label for="true" style="margin-right: 1%">
                                                            Set same Amount of EMI for upcoming Month
                                                          </label>
                                                          &nbsp;&nbsp;
                                                          <input type="radio" name="defaultRight" value="false" ngModel required #defaultRight="ngModel"
                                                            style="margin-right: 1%" (click)="selectType(2); lgModal.hide()" required />
                                                            <label for="false">Divide the remaining amount in remaining EMI</label>
                                                            @if (!defaultRight.valid && addcomp.submitted) {
                                                              <div class="invalid-tooltip">
                                                                Action is required!
                                                              </div>
                                                            }
                                                          </div>
                                                        </div>
                                                      </form>
                                                      <!-- <input type="radio" class="custom-control-input" (click)="selectType(1);lgModal.hide()">
                                                      <label class="custom-control-label">Set same Amount of EMI on remaining Month</label><br>
                                                      <input type="radio" class="custom-control-input" (click)="selectType(2);lgModal.hide()">
                                                      <label class="custom-control-label">Divide the remaining amount with remaining EMI</label> -->
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>