<div class="card auth-card">
  <div class="position-relative image-side"></div>
  <div class="form-side">
    <a class="c-pointer">
      <span class="logo-single"></span>
    </a>
    <h6 class="mb-4">Forgot Password</h6>

    <form #passwordForm="ngForm" novalidate (ngSubmit)="onSubmit()">
      <label class="form-group has-float-label">
        <input class="form-control" required type="text" ngModel #mobile="ngModel" name="mobile" />
        <span>Mobile</span>
        @if (!mobile.valid && passwordForm.submitted) {
          <div class="invalid-tooltip">
            Mobile is required!
          </div>
        }
      </label>
      <br />
      <div class="d-flex justify-content-between align-items-center">
        <a routerLink="/user/login">{{ 'user.login-button' | translate }}</a>
        <app-state-button
          [btnClass]="'btn btn-primary btn-lg btn-shadow'"
          [currentState]="buttonState"
          [isDisabled]="buttonDisabled"
          click="onLoginClick()"
          >
          {{ 'user.reset-password-button' | translate | uppercase }}
        </app-state-button>
      </div>
    </form>
  </div>
</div>
<simple-notifications [options]="{ position: ['top', 'center'] }"></simple-notifications>
