* {
    font-family: Inter, sans-serif;
    line-height: normal;
    font-style: normal;
}

.mainDiv {
    padding: 49px 69px;
}

.banner {
    max-width: 724px;
    max-height: 692px;
    width: 100%;
}

p {
    margin: 0px;
}

.form-side {
    padding: 50px;
    padding-bottom: 30px !important;
    height: fit-content !important;
    margin: auto;
    width: 394px;
    min-width: 394px;
    box-shadow: 0px 4px 20px 0px rgba(180, 139, 139, 0.50) !important;
}

.dark-grey-purple {
    color: #423F4C;
}

.fs20 {
    font-size: 20px;
}

.fs12 {
    font-size: 12px;
}

.fs16 {
    font-size: 16px;
}

.fs22 {
    font-size: 22px;
}

.fw500 {
    font-weight: 500;
}

.fw400 {
    font-weight: 400;
}

.fw700 {
    font-weight: 700;
}

.fs40 {
    font-size: 40px;
}

.fs14 {
    font-size: 14px;
}

.mt40 {
    margin-top: 40px !important;
}

.margin-block {
    margin-block: auto;
}

.banner-margin {
    margin: 50px auto;
}

.mt20 {
    margin-top: 20px !important;
}

.mt10 {
    margin-top: 10px;
}

.mt30 {
    margin-top: 30px !important;
}

.ml30 {
    margin-left: 30px;
}

.ml5 {
    margin-left: 5px !important;
}

.mb20 {
    margin-bottom: 20px;
}

.headDesc {
    color: #605E67;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-control {
    padding: 14px 39px;
    font-size: 1rem !important;
    border-radius: 5px;
}

.form-control:hover {
    border-radius: 5px;
    border: 1px solid #423F4C;
}

.form-control:focus {
    border-radius: 5px;
    border: 1px solid #423F4C;
}

.form-control::placeholder {
    opacity: 1 !important;
}

.position-absolute {
    top: 18px;
    left: 10px;
}

.forget {
    color: #1867C8;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

label {
    margin-bottom: 0px;
}

.button {
    border-radius: 5px;
    background: #8A1616;
    padding: 15px 25px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    border: none;
}

.button:hover {
    background: #A31C1C;
}

.button:focus {
    background: #620505;
}

.blueText {
    color: #1867C8;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.flText {
    color: #B8B3C6;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.auth-card,
.card {
    max-width: 100% !important;
    padding: 0px !important;
}

.vertical-middle {
    vertical-align: middle;
}

.invalid {
    border-color: #8A1616;
    color: #8A1616;
}

.purple-grey {
    color: #8B8993;
}

.disabledButton {
    border-radius: 5px;
    background: #CB9898 !important;
    color: black;
}

.disabledButton:hover {
    border-radius: 5px;
    background: #CB9898 !important;
    color: black;
}

@media(max-height: 800px) {
    .banner-margin {
        margin: 25px auto !important;
    }
}

@media(max-height: 750px) {
    .banner-margin {
        margin: 0px auto !important;
    }
}

.loading-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border: none;
    background-color: #ccc;
    cursor: not-allowed;
    padding: 10px 20px;
    border-radius: 5px;
}

.dot {
    display: inline-block;
    animation: pulse 1.5s infinite ease-in-out;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

.dot:nth-child(4) {
    animation-delay: 0.6s;
}

@keyframes fade {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.dot {
    display: inline-block;
    animation: fade 1.5s infinite;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}