<div style="position: relative">
  <ngx-ui-loader></ngx-ui-loader>
</div>
<app-list-page-header name="Expense" [showOrderBy]="false" [showDisplayMode]="false"
  (searchKeyUp)="updateFilter($event)" (itemsPerPageChange)="onLimitChange($event)" [itemsPerPage]="limit"
[itemOptionsPerPage]="itemOptionsPerPage"></app-list-page-header>

@if (permissionview.length != 0) {
  <div class="card mb-4">
    <div class="card-body">
      <form #datefilter="ngForm" novalidate>
        <div class="row">
          <div class="col-md-3">
            <label class="form-group has-float-label">
              <ng-select placeholder="Choose your option" ngModel #expensetype="ngModel" name="expensetype">
                @for (data of expenseTypeArrayForDropDownData; track data) {
                  <ng-option [value]="data.value">
                    {{ data.name }}
                  </ng-option>
                }
              </ng-select>
              <span>Select Expense Type</span>
            </label>
          </div>
          <div class="col-md-3">
            <label class="form-group has-float-label">
              <input class="form-control" type="date" ngModel #fromdate="ngModel" name="fromdate" />
              <span>From Date</span>
            </label>
          </div>
          <div class="col-md-3">
            <label class="form-group has-float-label">
              <input class="form-control" type="date" ngModel #todate="ngModel" name="todate" />
              <span>To Date</span>
            </label>
          </div>
          <div class="col-md-3">
            <label class="form-group has-float-label">
              <input class="form-control" type="number" ngModel #fromamount="ngModel" min="0" name="fromamount" />
              <span>From Amount</span>
            </label>
          </div>
          <div class="col-md-3">
            <label class="form-group has-float-label">
              <input class="form-control" type="number" ngModel #toamount="ngModel" min="0" name="toamount" />
              <span>To Amount</span>
            </label>
          </div>
          <div class="col-md-9">
            <label class="form-group has-float-label">
              <ng-select placeholder="Choose your option" ngModel #productname="ngModel" name="productname">
                @for (product of product; track product) {
                  <ng-option [value]="product.productID">
                    {{ product.productdetails }}
                  </ng-option>
                }
              </ng-select>
              <span>Select Product</span>
            </label>
          </div>
          <div class="col-md-3">
            <button class="btn btn-primary form-group" type="submit" (click)="onSubmit()">
              {{ 'forms.submit' | translate }}
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-primary form-group ml-1" type="button" (click)="clear()">
              Clear
            </button>
          </div>
          @if (rows.length != 0) {
            <div class="col-md-9" style="text-align: right">
              <div class="float-right float-none-xs">
                <label class="form-group has-float-label">
                  <ng-select placeholder="Export" ngModel #cid2="ngModel" name="cid2" [(ngModel)]="selectedValue"
                    (ngModelChange)="onOptionSelectDownlad()">
                    <ng-option value="csv">CSV</ng-option>
                    <ng-option value="xlsx">XLSX</ng-option>
                  </ng-select>
                </label>
              </div>
            </div>
          }
        </div>
      </form>
    </div>
  </div>
}

@if (rows && permissionview.length != 0) {
  <div class="row">
    <div class="col-12 mb-4 data-table-rows">
      <ngx-datatable [scrollbarH]="true" [rowHeight]="auto" [rows]="rows" [footerHeight]="100" [columnMode]="'force'"
        [limit]="limit" [externalPaging]="true" [count]="page.totalCount" [offset]="page.offset"
        (page)="onChange($event)">
        <ngx-datatable-column name="UserName" prop="userExpense.userMaster.displayName" [flexGrow]="1.2"
        [width]="120"></ngx-datatable-column>
        <ngx-datatable-column name="Expense Date" prop="userExpense.expense_date" [flexGrow]="1.2"
        [width]="70"></ngx-datatable-column>
        <ngx-datatable-column name="Amount" prop="expenseAmount" [flexGrow]="1.2" [width]="70">
        </ngx-datatable-column>
        <ngx-datatable-column name="Product Name" prop="userExpense.visit.product.productName" [flexGrow]="1.2"
          [width]="70">
        </ngx-datatable-column>
        <ngx-datatable-column name="Leave Status" prop="authorizationStatus" [flexGrow]="1.2" [width]="120">
          <ng-template let-row="row" ngx-datatable-cell-template>
            @if (
              row.authorizationStatus == '0' ||
              row.authorizationStatus == '1' ||
              row.authorizationStatus == '2'
              ) {
              <button type="button" class="btn btn-outline-warning btn-xs">
                Pending
              </button>
            }
            {{ ' ' }}
            @if (row.authorizationStatus == '3') {
              <button type="button" class="btn btn-outline-success btn-xs">
                Accepted
              </button>
            }
            {{ ' ' }}
            @if (row.authorizationStatus == '4') {
              <button type="button" class="btn btn-outline-danger btn-xs">
                Rejected
              </button>
            }
            {{ ' ' }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Show Form" [flexGrow]="1.2" [width]="120">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-primary" (click)="showExpenseData(row)">
              {{ 'Show Data' | translate }}
            </button>
            {{ ' ' }}
          </ng-template>
        </ngx-datatable-column>
        @if (true) {
          <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
              let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-limit="limit">
              <div class="w-100 d-flex justify-content-center">
                <pagination [totalItems]="rowCount" [itemsPerPage]="pageSize" [maxSize]="5"
                  (pageChanged)="table.onFooterPage($event)" [customNextTemplate]="nextTemplate"
                [customPreviousTemplate]="prevTemplate"></pagination>
              </div>
            </ng-template>
          </ngx-datatable-footer>
        }
      </ngx-datatable>
    </div>
  </div>
}

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class="simple-icon-arrow-right"></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class="simple-icon-arrow-left"></i>
</ng-template>

<simple-notifications [options]="{ position: ['top', 'center'], maxStack: 1 }"></simple-notifications>
@if (showFinanceData) {
  <app-view-finance-trans-common #ViewFinanceTransCommonComponent (close)="onModalClose()" [showVersion]="true" [row]="row"></app-view-finance-trans-common>
}