::ng-deep {
  datatable-body-cell.datatable-body-cell.sort-active {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex !important;
    align-items: center !important;
    padding-left: 19px;
  }

  datatable-footer.datatable-footer {
    overflow: visible !important;
    margin-top: 18px;
  }

  ngx-datatable.ngx-datatable.fixed-header.fixed-row.virtualized.scroll-horz {
    margin-top: 19px;
  }

  .data-table-rows .ngx-datatable .datatable-body .datatable-row-wrapper {
    display: table;
  }

  .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    top: 10px !important;
    padding-bottom: 0px;
    padding-left: 3px;
  }

  .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 7px;
  }

  span.ng-clear-wrapper {
    display: none;
  }
}

.borderData {
  border: none;
  border-color: white;
  width: 25%;
}

@media screen and (max-width: 900px) {
  .borderData {
    border: none;
    border-color: white;
    width: 25%;
    font-size: 10px;
  }
}

.table th,
.table td {
  border-color: rgb(171, 170, 170) !important;
}

.border {
  border: 1px solid rgb(171, 170, 170) !important;
}

.col-md-3.border {
  padding: 10px;
}

span.fw-bold {
  font-size: 17px;
}

.d-flex.flex-column {
  font-size: 17px;
}

.fw-bolder {
  font-size: 15px;
}

.col-md-6 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

h6.fw-bold {
  font-size: 20px;
}

span.fw-normal {
  font-size: 15px;
}

.container.mt-5.mb-5 {
  padding: 0% 10% 10% 10%;
}

.styled-table {
  border-collapse: collapse;
  margin: 8px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 247px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

button.btn.btn-primary.pull-right {
  margin-left: 55%;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: repeat(0, 50px);
}

.container1 {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-rows: repeat(0, 50px);
}

@media screen and (max-width: 900px) {
  .container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(0, 50px);
  }
}

.style {
  text-align: left;
}

.table-container::-webkit-scrollbar {
  width: 12px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #888;
}

//   calender data css

.present {
  background: #2ea52c;
  color: #fff;
}

.absent {
  background: #f42c2c;
  color: #fff;
}

.missing-punch {
  background: #ffa12f;
  color: #fff;
}

.outduty {
  background: #9c27b0;
  color: #fff;
}

.green-color {
  color: #1db954;
}

.red-color {
  color: #f42c2c;
}

.holiday {
  background: #ff5722;
  color: #fff;
}

.leave {
  background: #f8306d;
  color: #fff;
}

.weekly-off {
  background: #3dc290;
  color: #fff;
}

.late {
  background: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.nolate {
  background: #2ea52c;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.table thead th {
  border-bottom: 2px solid #dee2e6 !important;
}

body {
  line-height: 1.6;
  margin: 2em;
  min-width: 990px;
}

// td,
// th {
//   white-space: nowrap;
//   // overflow: hidden;
// }
th {
  background-color: #134e4a;
  color: #fff;
  // padding: 0.5em 1em;
  border: 1px solid white;
}

td {
  border-top: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  // padding: 0.5em 1em;
  text-align: left;
}

input {
  cursor: pointer;
}

//   / Column types /
.missed-col {
  background-color: #f00;
}

.missed-col {
  background-color: #ffecec;
  color: #f00;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 9px;
}

.missed-col1 {
  background-color: #f00;
}

.missed-col1 {
  background-color: lightgreen;
  color: green;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 9px;
}

.missed-col2 {
  background-color: #f00;
}

.missed-col2 {
  background-color: lightyellow;
  color: black;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 9px;
}

.missed-cols {
  background-color: #ffecec;
  color: #f00;
  text-align: center;
  width: 100%;
}

.missed-cols1 {
  background-color: #f00;
}

.missed-cols1 {
  background-color: lightgreen;
  color: green;
  text-align: center;
  width: 100%;
}

.missed-cols2 {
  background-color: #f00;
}

.missed-cols2 {
  background-color: lightyellow;
  color: black;
  text-align: center;
  width: 100%;
}

.table-style {
  overflow: auto;
  margin-top: 10px;
  font-size: 12px !important;
  max-height: 68vh;
}

.name-col {
  padding: 12px;
  text-align: center;
  white-space: nowrap;
}

.simple-icon-pencil::before {
  color: var(--m-primary);
  content: '\e05f';
}

//   after

.table-container1 {
  overflow-x: auto;
}

.data {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.data1 {
  background-color: #f2f2f2;
}

.icon {
  font-size: 38px;
  line-height: 66px;
  color: var(--m-primary);
}

.iconsminds::before {
  font-family: iconsminds;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
}

.la-ball-spin-clockwise,
.la-ball-spin-clockwise>div {
  position: absolute;
  margin: auto auto;
  left: 50%;
  top: 35%;
  display: none;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.la-ball-spin-clockwise {
  display: block;
  font-size: 0;
  color: #fff;
}

.la-ball-spin-clockwise.la-dark {
  color: #333;
}

.la-ball-spin-clockwise>div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.la-ball-spin-clockwise {
  width: 32px;
  height: 32px;
}

.la-ball-spin-clockwise>div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  margin-left: -4px;
  border-radius: 100%;
  -webkit-animation: ball-spin-clockwise 1s infinite ease-in-out;
  -moz-animation: ball-spin-clockwise 1s infinite ease-in-out;
  -o-animation: ball-spin-clockwise 1s infinite ease-in-out;
  animation: ball-spin-clockwise 1s infinite ease-in-out;
}

.la-ball-spin-clockwise>div:nth-child(1) {
  top: 5%;
  left: 50%;
  -webkit-animation-delay: -0.875s;
  -moz-animation-delay: -0.875s;
  -o-animation-delay: -0.875s;
  animation-delay: -0.875s;
}

.la-ball-spin-clockwise>div:nth-child(2) {
  top: 18.1801948466%;
  left: 81.8198051534%;
  -webkit-animation-delay: -0.75s;
  -moz-animation-delay: -0.75s;
  -o-animation-delay: -0.75s;
  animation-delay: -0.75s;
}

.la-ball-spin-clockwise>div:nth-child(3) {
  top: 50%;
  left: 95%;
  -webkit-animation-delay: -0.625s;
  -moz-animation-delay: -0.625s;
  -o-animation-delay: -0.625s;
  animation-delay: -0.625s;
}

.la-ball-spin-clockwise>div:nth-child(4) {
  top: 81.8198051534%;
  left: 81.8198051534%;
  -webkit-animation-delay: -0.5s;
  -moz-animation-delay: -0.5s;
  -o-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.la-ball-spin-clockwise>div:nth-child(5) {
  top: 94.9999999966%;
  left: 50.0000000005%;
  -webkit-animation-delay: -0.375s;
  -moz-animation-delay: -0.375s;
  -o-animation-delay: -0.375s;
  animation-delay: -0.375s;
}

.la-ball-spin-clockwise>div:nth-child(6) {
  top: 81.8198046966%;
  left: 18.1801949248%;
  -webkit-animation-delay: -0.25s;
  -moz-animation-delay: -0.25s;
  -o-animation-delay: -0.25s;
  animation-delay: -0.25s;
}

.la-ball-spin-clockwise>div:nth-child(7) {
  top: 49.9999750815%;
  left: 5.0000051215%;
  -webkit-animation-delay: -0.125s;
  -moz-animation-delay: -0.125s;
  -o-animation-delay: -0.125s;
  animation-delay: -0.125s;
}

.la-ball-spin-clockwise>div:nth-child(8) {
  top: 18.179464974%;
  left: 18.1803700518%;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

.la-ball-spin-clockwise.la-sm {
  width: 16px;
  height: 16px;
}

.la-ball-spin-clockwise.la-sm>div {
  width: 4px;
  height: 4px;
  margin-top: -2px;
  margin-left: -2px;
}

.la-ball-spin-clockwise.la-2x {
  width: 64px;
  height: 64px;
}

.la-ball-spin-clockwise.la-2x>div {
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
}

.la-ball-spin-clockwise.la-3x {
  width: 96px;
  height: 96px;
}

.la-ball-spin-clockwise.la-3x>div {
  width: 24px;
  height: 24px;
  margin-top: -12px;
  margin-left: -12px;
}

/*
     * Animation
     */
@-webkit-keyframes ball-spin-clockwise {

  0%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-moz-keyframes ball-spin-clockwise {

  0%,
  100% {
    opacity: 1;
    -moz-transform: scale(1);
    transform: scale(1);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 0;
    -moz-transform: scale(0);
    transform: scale(0);
  }
}

@-o-keyframes ball-spin-clockwise {

  0%,
  100% {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes ball-spin-clockwise {

  0%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

.z0 {
  z-index: 0 !important;
}

.z999 {
  z-index: 999;
}

.modal-dialog {
  max-height: 95vh;
}

.top-0 {
  top: 0px !important;
}