<div style="position: relative">
  <ngx-ui-loader></ngx-ui-loader>
</div>
<app-list-page-header name="Short Leave Cancellation" [showOrderBy]="false" [showDisplayMode]="false"
[showItemsPerPage]="false" [showSearch]="false" [itemOptionsPerPage]="itemOptionsPerPage"></app-list-page-header>

@if (permissionview.length > 0) {
  <app-common-filter #commonFilter [hideFilters]="hideFilters" [showButtons]="showButtons" (onSubmit)="onSubmit($event)"
    (onClear)="clear()" (clearData)="clear()" (getCompany)="getCompany($event)"
    [showRequiredFields]="showRequiredFields" (emitUsers)="emitUsers($event)">
  </app-common-filter>
}

@if (rows && rows.length > 0) {
  <div class="row">
    @if (rows && rows.length != 0) {
      <div class="col-12 mb-4 data-table-rows">
        <ngx-datatable [scrollbarH]="true" [rowHeight]="50" [rows]="rows" [footerHeight]="100" [columnMode]="ColumnMode"
          [externalPaging]="true" [count]="page.totalCount" [offset]="page.offset" (page)="onChange($event)">
          <ngx-datatable-column name="Sr. No" prop="srlNo" [flexGrow]="1.2" [width]="90" value="1">
            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              {{ rowIndex + 1 }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Employee Code" [sortable]="true" [flexGrow]="1.2" [width]="180">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.userMaster.employeeJoiningDetails[0]?.employeeCode}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Name" prop="userMaster.displayName" [flexGrow]="1.2"
          [width]="250"></ngx-datatable-column>
          <ngx-datatable-column name="Number" prop="userMaster.userNumber" [flexGrow]="1.2"
          [width]="180"></ngx-datatable-column>
          <ngx-datatable-column name="Branch" [sortable]="true" [flexGrow]="1.2" [width]="180">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.userMaster.employeeBranches[0]?.branchMaster?.branchName}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Department" [flexGrow]="1.2" [width]="180">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.userMaster.employeeDepartments[0]?.department?.departmentName}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Designation" [flexGrow]="1.2" [width]="200">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.userMaster.employeeDesignations[0]?.designation?.designationName}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Date" prop="date" [flexGrow]="1.2" [width]="180">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.date | date: 'dd-MM-yyyy' }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Action" prop="authorizationStatus" [width]="300">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div style="display: flex">
                <button type="button" class="btn btn-danger"
                  (click)="lgModal1.show(); alertDeactiveConfirmation(row)">
                  {{ 'Cancel' | translate }}
                </button>
                {{ ' ' }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-footer *ngIf="true">
          <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
            let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-limit="limit">
            <div class="w-100 d-flex justify-content-center">
              <pagination [totalItems]="rowCount" [boundaryLinks]="true" [customFirstTemplate]="firstTemplate"
                [customLastTemplate]="lastTemplate" [itemsPerPage]="filterData.limit" [maxSize]="5"
                (pageChanged)="table.onFooterPage($event)" [customNextTemplate]="nextTemplate"
              [customPreviousTemplate]="prevTemplate"></pagination>
            </div>
          </ng-template>
        </ngx-datatable-footer> -->
      </ngx-datatable>
    </div>
  }
</div>
}

<ng-template #firstTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class="simple-icon-arrow-left" style="margin-right:-6px;"></i>
  <i class="simple-icon-arrow-left"></i>
</ng-template>
<ng-template #lastTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class="simple-icon-arrow-right" style="margin-right:-6px;"></i>
  <i class="simple-icon-arrow-right"></i>
</ng-template>
<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class="simple-icon-arrow-right"></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class="simple-icon-arrow-left"></i>
</ng-template>

<simple-notifications [options]="{ position: ['top', 'center'], maxStack: 1 }"></simple-notifications>

<div bsModal #lgModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1"
  [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Cancel Short Leave</h4>
        <button type="button" class="btn-close close pull-right" (click)="lgModal1.hide()" aria-label="Close"
          #closeModal>
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      @if (leavedata) {
        <div class="modal-body">
          <form #accept="ngForm" novalidate (ngSubmit)="cancel()">
            <div class="row">
              <div class="col-md-4">
                <label class="form-group has-float-label">
                  <input class="form-control" type="text" ngModel
                    [(ngModel)]="leavedata.userMaster.displayName" #firstname="ngModel" name="firstname"
                    readonly />
                    <span>Name</span>
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="form-group has-float-label">
                    <input class="form-control" type="text" ngModel [(ngModel)]="leaveDate" #date="ngModel"
                      name="date" readonly />
                      <span>Date</span>
                    </label>
                  </div>
                  <div class="col-md-4">
                    <label class="form-group has-float-label">
                      <input class="form-control" type="text" ngModel [(ngModel)]="type" #leave="ngModel"
                        name="leave" readonly />
                        <span>Type</span>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="form-group has-float-label">
                        <input type="text" class="form-control" ngModel #cancelRemarks="ngModel"
                          name="cancelRemarks" required />
                          <span>Remarks *</span>
                          @if (!cancelRemarks.valid && accept.submitted) {
                            <div class="invalid-tooltip">
                              Remarks is required!
                            </div>
                          }
                        </label>
                      </div>
                    </div>
                    <button class="btn btn-primary" type="submit">
                      {{ 'forms.submit' | translate }}
                    </button>
                  </form>
                </div>
              }
            </div>
          </div>
        </div>