<div style="position: relative">
  <ngx-ui-loader></ngx-ui-loader>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h5 class="mb-4">Edit Office Expense</h5>
    <form #reapplyOfficeExpense="ngForm" novalidate (ngSubmit)="onSubmit()">
      <ng-container>
        <div class="row mt-4">
          <div class="col-md-6" style="margin-bottom: 10px">
            <span class="text-muted text-small mb-2 top">Choose Office Type *&nbsp;&nbsp;</span>
            @for (item of officeExpenseTypeArrayData; track item; let i = $index) {
              <input type="radio" [id]="item.value" name="officeType" [attr.value]="item.value" [value]="item.value"
                ngModel #officeType="ngModel" style="margin-right: 1%" required [(ngModel)]="selectedOfficeType"
                disabled />
                <label [for]="item.value" style="margin-right: 2%">{{ item.name }}</label>
                @if (selectedOfficeType == '' && reapplyOfficeExpense.submitted) {
                  <div class="invalid-tooltip">
                    Office Type is required!
                  </div>
                }
              }
            </div>
          </div>
          @if (selectedOfficeType && selectedOfficeType != '') {
            <div class="row">
              @if (selectedOfficeType == officeExpenseTypes.BRANCH) {
                <div class="col-md-4">
                  <label class="form-group has-float-label">
                    <ng-select [items]="allbranch" [multiple]="false" bindLabel="branchName"
                      (ngModelChange)="onSelectBranch($event)" bindValue="branchMasterID" [closeOnSelect]="true" ngModel
                      [(ngModel)]="transactionData.officeExpense.branchMasterID" #branch="ngModel" name="branch" placeholder="Choose your option"
                      [required]="selectedOfficeType == officeExpenseTypes.BRANCH" [readonly]="true">
                    </ng-select>
                    <span>Select Branch @if (selectedOfficeType == officeExpenseTypes.BRANCH) {
                      <span>*</span>
                    }</span>
                  </label>
                </div>
              }
              @if (selectedOfficeType == officeExpenseTypes.SITE) {
                <div class="col-md-4">
                  <label class="form-group has-float-label">
                    <ng-select [items]="allSites" [multiple]="false" bindLabel="siteName" bindValue="siteID"
                      [closeOnSelect]="true" ngModel [(ngModel)]="transactionData.officeExpense.siteID" #siteID="ngModel" name="siteID"
                      placeholder="Choose your option" [required]="selectedOfficeType == officeExpenseTypes.SITE"
                      [readonly]="true">
                    </ng-select>
                    <span>Select Site @if (selectedOfficeType == officeExpenseTypes.SITE) {
                      <span>*</span>
                    }</span>
                  </label>
                </div>
              }
              <div class="col-md-4">
                <label class="form-group has-float-label">
                  <input class="form-control" type="date" ngModel #expense_date="ngModel" name="expense_date" required
                    [(ngModel)]="transactionData.officeExpense.expense_date" (ngModelChange)="onExpenseDateChange($event)" readonly />
                    <span>Expense Date *</span>
                  </label>
                </div>
              </div>
            }
            <hr />
            @if (selectedOfficeType && selectedOfficeType != '') {
              <div class="row">
                <br />
                <div class="col-md-12">
                  <div class="row">
                    @if (transactionData?.officeExpenseHead?.officeExpenseCategoryID) {
                      <div class="col-md-4">
                        <label class="form-group has-float-label">
                          <ng-select placeholder="Choose Expense Category"
                            [(ngModel)]="transactionData.officeExpenseHead.officeExpenseCategoryID" name="officeExpenseCategoryID"
                            required [readonly]="true" (ngModelChange)="onCategoryChange($event)"
                            #officeExpenseCategoryID="ngModel">
                            @for (category of officeExpenseCategory; track category) {
                              <ng-option
                                [value]="category.officeExpenseCategoryID">
                                {{ category.officeExpenseCategory }}
                              </ng-option>
                            }
                          </ng-select>
                          <span>Select Office Expense Category *</span>
                          @if (!officeExpenseCategoryID.valid && reapplyOfficeExpense.submitted) {
                            <div class="invalid-tooltip">
                              Office Expense Category is required!
                            </div>
                          }
                        </label>
                      </div>
                    }
                    <div class="col-md-4">
                      <label class="form-group has-float-label">
                        <ng-select placeholder="Choose Expense Head" [(ngModel)]="transactionData.officeExpenseHeadID"
                          name="officeExpenseHeadID" required [readonly]="true" [items]="officeExpenseHead"
                          bindLabel="officeExpenseHead" bindValue="officeExpenseHeadID"
                          #officeExpenseHeadID="ngModel" (change)="onExpenseHeadChange($event)">
                        </ng-select>
                        <span>Select Office Expense Head*</span>
                      </label>
                    </div>
                    <div class="col-md-4">
                      <label class="form-group has-float-label">
                        <input required class="form-control" type="number" [(ngModel)]="transactionData.expenseAmount"
                          #expenseAmount="ngModel" name="expenseAmount"/>
                          <span>Amount *</span>
                          @if (!expenseAmount.valid && reapplyOfficeExpense.submitted) {
                            <div class="invalid-tooltip">
                              Amount is required!
                            </div>
                          }
                        </label>
                      </div>
                      <div class="col-md-4">
                        <label class="form-group has-float-label">
                          <textarea class="form-control" [(ngModel)]="transactionData.description" name="description"></textarea>
                          <span>Description</span>
                        </label>
                      </div>
                      @for (file of transactionData.attachments; track trackByFn(j, file); let j = $index) {
                        <div class="col-md-4">
                          <div class="d-flex justify-content-between">
                            <label class="form-group has-float-label mb-1">
                              <div>
                                <!-- File input -->
                                <div>
                                  <input class="form-control" type="file" accept="image/*,application/pdf"
                                    (change)="onFileChangeAll($event, j)" />
                                    <p class="mb-0 text-danger text-right">(.jpg, .jpeg, .png, .pdf)</p>
                                  </div>
                                </div>
                                <span>Attachment - {{ j + 1 }}</span>
                                <!-- View button for PDFs or non-images (only if not a new File) -->
                                @if (file && !showImage(file) && !transactionData.isNewAttachmentFlags[j]) {
                                  <button type="button"
                                    class="btn btn-primary btn-xs mt-2" (click)="view(file)">
                                    {{ 'Attachment' | translate }}
                                  </button>
                                }
                                <!-- Image preview -->
                                @if (file && showImage(file) && !transactionData.isNewAttachmentFlags[j]) {
                                  <img [src]="apiURL + file"
                                    class="mt-2" alt="Attachment" width="100px" (click)="view(file)" />
                                }
                              </label>
                              <!-- Remove Button -->
                              @if (transactionData.attachments.length > 1) {
                                <div
                                  >
                                  <span class="btn btn-danger" (click)="removeAttachment(j)">-</span>
                                </div>
                              }
                            </div>
                          </div>
                        }
                        @if (transactionData?.attachments?.length < 4 ) {
                          <div class="col-md-1"
                            >
                            <span class="button btn btn-success" (click)="addAttachment()">+</span>
                          </div>
                        }
                        @if (transactionData.expensePriceRuleID) {
                          <div class="col-md-12 text-danger mt-1">
                            <div>
                              Note* :- Price Rule For {{transactionData?.expenseHeadName}} is
                              {{transactionData?.rule}}
                            </div>
                            <br />
                          </div>
                        }
                      </div>
                      <hr>
                      </div>
                    </div>
                  }
                </ng-container>
                <div>
                  <button class="btn btn-primary mt-4" type="submit">{{ 'forms.submit' | translate }}</button>
                  <button class="btn btn-danger btn-shadow mt-4" (click)="cancel()" style="margin-left: 2%">
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>