<div style="text-align: right">
  <button class="btn btn-primary mb-1" (click)="lgModal.show()">Add</button>
</div>
@if (rows) {
  <div class="row">
    @for (item of rows; track item) {
      <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
        <div class="card d-flex flex-row mb-4">
          <a class="d-flex" href="javascript:;"></a>
          <div class="d-flex flex-grow-1 min-width-zero">
            <div class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero"
              style="margin-left: 5%">
              <div class="min-width-zero w-100">
                <a href="javascript:;">
                  <div class="d-flex justify-content-between">
                    <div>
                      <p class="list-item-heading mb-1 truncate">
                        {{ item.skillCategory | uppercase }}
                      </p>
                    </div>
                    <div>
                      <!-- <a class="btn btn-outline-primary btn-xs"    (click)="lgModal1.show();edit(item)">EDIT</a><br> -->
                      @if (item.showDelete) {
                        <a class="btn btn-outline-danger btn-xs" (click)="alertConfirmation(item.id)"
                        >DELETE</a>
                      }
                    </div>
                  </div>
                  <hr>
                    <div class="min-width-zero">
                      <p class="text-muted mb-0 text-small">
                        <b>Applicable Month : {{ item.applicableYYYYMM}}</b>
                      </p>
                      @if (item.endYYYYMM) {
                        <p class="text-muted mb-0 text-small">
                          <b>End Month : {{ item.endYYYYMM  }}</b>
                        </p>
                      }
                    </div>
                    <div style="margin-top: 2%;">
                      <p class="text-muted mb-0 text-small">
                        <strong>Assigned</strong> by {{ item.createdByUser.displayName}}, at {{
                        item.createdAt
                        | date: 'dd-MM-yyyy hh:mm a' }}
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }

  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1"
    [config]="{ backdrop: 'static', keyboard: false }">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Add Employee Skill Category</h4>
          <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close"
            #closeModal>
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addcomp="ngForm" novalidate (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <label class="form-group has-float-label">
                  <ng-select placeholder="Choose your option" ngModel #category="ngModel" name="category"
                    required>
                    <ng-option value="skilled">Skilled</ng-option>
                    <ng-option value="semiskilled">SemiSkilled</ng-option>
                    <ng-option value="unskilled">UnSkilled</ng-option>
                  </ng-select>
                  <span>Select Skill Category *</span>
                </label>
                @if (!category.valid && addcomp.submitted) {
                  <div class="invalid-tooltip">
                    Skill Category is required!
                  </div>
                }
              </div>
              <div class="col-md-6">
                <label class="form-group has-float-label">
                  <input class="form-control" type="month" ngModel required #applicableYYYYMM="ngModel"
                    name="applicableYYYYMM" />
                    <span>Select Applicable Month *</span>
                  </label>
                  @if (!applicableYYYYMM.valid && addcomp.submitted) {
                    <div class="invalid-tooltip">
                      Applicable Month is required!
                    </div>
                  }
                </div>
              </div>

              <button class="btn btn-primary" type="submit">{{ 'forms.submit' | translate }}</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <simple-notifications [options]="{ position: ['top', 'center'], maxStack: 1 }"></simple-notifications>