<div class="row">
  @for (item of rows6; track item) {
    <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
      <div class="card d-flex flex-row mb-4">
        <a class="d-flex" href="javascript:;"></a>
        <div class="d-flex flex-grow-1 min-width-zero">
          <div class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero"
            style="margin-left: 5%">
            <div class="min-width-zero">
              <p class="list-item-heading mb-1 truncate">
                {{ item.designation.designationName | uppercase }}
              </p>
              <p class="text-muted mb-0 text-small">
                Start Date:-{{ item.applicableDate | date: 'yyyy-MM-dd' }}
              </p>
              @if (item.endDate != null) {
                <p class="text-muted mb-0 text-small">
                  End Date:-{{ item.endDate | date: 'yyyy-MM-dd' }}
                </p>
              }
              <div class="min-width-zero">
                @if (item.designationstatus == 'active') {
                  <button type="button" class="btn btn-success"
                    style="margin-top: 10%">
                    {{ 'Active' | translate }}
                  </button>
                }
                {{ ' ' }}
                @if (item.designationstatus == 'deactive') {
                  <button type="button" class="btn btn-danger"
                    style="margin-top: 10%">
                    {{ 'Deactive' | translate }}
                  </button>
                }
                {{ ' ' }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>