<div style="position: relative">
  <ngx-ui-loader></ngx-ui-loader>
</div>
<app-list-page-header name="Loan" [showadd]="permissioncreate" [showOrderBy]="false" [showDisplayMode]="false"
  (searchKeyUp)="updateFilter($event)" (itemsPerPageChange)="onLimitChange($event)" [itemsPerPage]="limit"
[itemOptionsPerPage]="itemOptionsPerPage"></app-list-page-header>
<simple-notifications [options]="{ position: ['top', 'center'], maxStack: 1 }"></simple-notifications>

@if (permissionview.length != 0) {
  <div class="card mb-4">
    <div class="card-body">
      @if (permissionview.length != 0) {
        <form #datefilter="ngForm" novalidate>
          <div class="row">
            <div class="col-md-4">
              <label class="form-group has-float-label">
                <ng-select placeholder="Choose your option" ngModel #company="ngModel" name="company">
                  @for (data of company1; track data) {
                    <ng-option [value]="data.companyMasterID">
                      {{ data.companyName }}
                    </ng-option>
                  }
                </ng-select>
                <span>Select Company</span>
              </label>
            </div>
            <div class="col-md-4">
              <label class="form-group has-float-label">
                <input class="form-control" type="date" ngModel #startdate="ngModel" name="startdate" />
                <span>From Date </span>
              </label>
            </div>
            <div class="col-md-4">
              <label class="form-group has-float-label">
                <input class="form-control" type="date" ngModel #enddate="ngModel" name="enddate" required />
                <span>To Date</span>
              </label>
            </div>
            <div class="col-md-12">
              <button class="btn btn-primary form-group" type="submit" (click)="onSubmit()">
                {{ 'forms.submit' | translate }}
              </button>
              &nbsp;&nbsp;
              <button class="btn btn-primary form-group" type="button" (click)="clear()">Clear</button>
              <span> &nbsp;&nbsp; </span>
              @if (rows.length != 0) {
                <div class="float-right float-none-xs">
                  <label class="form-group has-float-label">
                    <ng-select placeholder="Export" ngModel #cid2="ngModel" name="cid2"
                      [(ngModel)]="selectedValue" (ngModelChange)="onOptionSelectDownlad()">
                      <ng-option value="csv">CSV</ng-option>
                      <ng-option value="xlsx">XLSX</ng-option>
                    </ng-select>
                  </label>
                </div>
              }
            </div>
          </div>
        </form>
      }
    </div>
  </div>
}
@if (rows && permissionview.length != 0) {
  <div class="row">
    <div class="col-12 mb-4 data-table-rows">
      <ngx-datatable [scrollbarH]="true" [rowHeight]="50" [rows]="rows" [footerHeight]="100" [columnMode]="'force'"
        [limit]="limit" [externalPaging]="true" [count]="page.totalCount" [offset]="page.offset"
        (page)="onChange($event)">
        <ngx-datatable-column name="EmployeeName" prop="userMaster.displayName" [flexGrow]="1.2"
        [width]="180"></ngx-datatable-column>
        <ngx-datatable-column name="Company Name" prop="companyMaster.companyName" [flexGrow]="1.2"
        [width]="180"></ngx-datatable-column>
        <ngx-datatable-column name="Loan Amount" prop="LoanAmount" [flexGrow]="1.2"
        [width]="180"></ngx-datatable-column>
        <ngx-datatable-column name="Loan Remark" prop="LoanRemark" [flexGrow]="1.2"
        [width]="180"></ngx-datatable-column>
        <ngx-datatable-column name="EMI Months" prop="EMIMonths" [flexGrow]="1.2"
        [width]="180"></ngx-datatable-column>
        <ngx-datatable-column name="Given Date" prop="givenDate" [flexGrow]="1.2" [width]="180">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.givenDate | date: 'dd-MM-yyyy' }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="AdvanceLoan" prop="loanstatus" [width]="300">
          <ng-template let-row="row" ngx-datatable-cell-template>
            @if (row.loanstatus == '0') {
              <button class="btn btn-outline-warning btn-xs">Pending</button>
            }
            @if (row.loanstatus == '1') {
              <button class="btn btn-outline-success btn-xs">Approved</button>
            }
            @if (row.loanstatus == '2') {
              <button class="btn btn-outline-danger btn-xs">Rejected</button>
            }
          </ng-template>
        </ngx-datatable-column>
        @if (true) {
          <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
              let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-limit="limit">
              <div class="w-100 d-flex justify-content-center">
                <pagination [totalItems]="rowCount" [itemsPerPage]="pageSize" [maxSize]="5"
                  (pageChanged)="table.onFooterPage($event)" [customNextTemplate]="nextTemplate"
                [customPreviousTemplate]="prevTemplate"></pagination>
              </div>
            </ng-template>
          </ngx-datatable-footer>
        }
      </ngx-datatable>
    </div>
  </div>
}

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class="simple-icon-arrow-right"></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class="simple-icon-arrow-left"></i>
</ng-template>