<div style="position: relative">
  <ngx-ui-loader></ngx-ui-loader>
</div>

<app-list-page-header [showOrderBy]="false" [showDisplayMode]="false" [showItemsPerPage]="false" [showSearch]="false"
name="Shift Roster"></app-list-page-header>
@if (permissionview.length != 0 && permissioncreate.length != 0) {
  <div class="card mb-4">
    <div class="card-body">
      <form #datefilter="ngForm" novalidate>
        <div class="row">
          <div class="col-md-4">
            <label class="form-group has-float-label">
              <ng-select placeholder="Choose your option" ngModel #company="ngModel" name="company"
                (change)="selectcompany($event)" [(ngModel)]="company_id" required>
                @for (company1 of company1; track company1) {
                  <ng-option [value]="company1.companyMasterID">
                    {{ company1.companyName }}
                  </ng-option>
                }
              </ng-select>
              <span>Select Company *</span>
              @if (!company.valid && datefilter.submitted) {
                <div class="invalid-tooltip">
                  Company is required!
                </div>
              }
            </label>
          </div>
          <div class="col-md-4">
            <label class="form-group has-float-label">
              <ng-select [items]="allbranch" [multiple]="true" bindLabel="branchName"
                groupBy="selectedAllGroup" (ngModelChange)="selectbranch()" [(ngModel)]="selectedBranch"
                [selectableGroup]="true" [selectableGroupAsModel]="false" bindValue="branchMasterID"
                [closeOnSelect]="false" ngModel #branch="ngModel" name="branch">
                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected"
                    [ngModelOptions]="{ standalone: true }" />
                    Select All
                  </ng-template>
                </ng-select>
                <span>Select Branch</span>
              </label>
            </div>
            <div class="col-md-4">
              <label class="form-group has-float-label">
                <ng-select [items]="alldepartment" [multiple]="true" bindLabel="departmentName"
                  groupBy="selectedAllGroup" (ngModelChange)="selectdepartment()"
                  [(ngModel)]="selectedDepartment" [selectableGroup]="true" [selectableGroupAsModel]="false"
                  bindValue="departmentId" [closeOnSelect]="false" ngModel #department="ngModel"
                  name="department">
                  <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected"
                      [ngModelOptions]="{ standalone: true }" />
                      Select All
                    </ng-template>
                  </ng-select>
                  <span>Select Department</span>
                </label>
              </div>
              <!-- select designation -->
              <div class="col-md-4">
                <label class="form-group has-float-label">
                  <ng-select [items]="alldesignation" [multiple]="true" bindLabel="designationName"
                    groupBy="selectedAllGroup" (ngModelChange)="selectdesig()" [(ngModel)]="selecteddesig"
                    [selectableGroup]="true" [selectableGroupAsModel]="false" bindValue="designationId"
                    [closeOnSelect]="false" ngModel #designation="ngModel" name="designation">
                    <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                      <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected"
                        [ngModelOptions]="{ standalone: true }" />
                        Select All
                      </ng-template>
                    </ng-select>
                    <span>Select Designation</span>
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="form-group has-float-label">
                    <ng-select [items]="allDivision" [multiple]="true" bindLabel="divisionName"
                      groupBy="selectedAllGroup" (ngModelChange)="selectdivision()" [(ngModel)]="selectedDivision"
                      [selectableGroup]="true" [selectableGroupAsModel]="false" bindValue="id"
                      [closeOnSelect]="false" ngModel #division="ngModel" name="division">
                      <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected"
                          [ngModelOptions]="{ standalone: true }" />
                          Select All
                        </ng-template>
                      </ng-select>
                      <span>Select Division</span>
                    </label>
                  </div>
                  <!-- select working area -->
                  <div class="col-md-4">
                    <label class="form-group has-float-label">
                      <ng-select [items]="allWorkingArea" [multiple]="true" bindLabel="workingAreaName"
                        groupBy="selectedAllGroup" (ngModelChange)="selectWorkingArea()"
                        [(ngModel)]="selectedWorkingArea" [selectableGroup]="true" [selectableGroupAsModel]="false"
                        bindValue="id" [closeOnSelect]="false" ngModel #workingArea="ngModel" name="workingArea">
                        <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                          <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected"
                            [ngModelOptions]="{ standalone: true }" />
                            Select All
                          </ng-template>
                        </ng-select>
                        <span>Select Working Area</span>
                      </label>
                    </div>
                    <!-- select Repotee User -->
                    <div class="col-md-4">
                      <label class="form-group has-float-label">
                        <ng-select [items]="allRepoteeUser" [multiple]="true" bindLabel="displayName"
                          groupBy="selectedAllGroup" [selectableGroup]="true" (ngModelChange)="selectRepotee()"
                          [selectableGroupAsModel]="false" bindValue="userMasterID" [closeOnSelect]="false" ngModel
                          #repoteeUserMasterID="ngModel" name="repoteeUserMasterID" [(ngModel)]="selectedRepoteeUser">
                          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" name="selectall"
                              [ngModelOptions]="{ standalone: true }" />
                              Select All
                            </ng-template>
                          </ng-select>
                          <span>Select Reporting Person</span>
                        </label>
                      </div>
                      <!-- select User -->
                      <div class="col-md-4">
                        <label class="form-group has-float-label">
                          <ng-select [items]="alluser" [multiple]="true" bindLabel="displayName"
                            groupBy="selectedAllGroup" required [selectableGroup]="true" (ngModelChange)="selectUser()"
                            [selectableGroupAsModel]="false" bindValue="userMasterID" [closeOnSelect]="false" ngModel
                            #user="ngModel" name="user" [(ngModel)]="selectedUser">
                            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                              <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" name="selectall"
                                [ngModelOptions]="{ standalone: true }" />
                                Select All
                              </ng-template>
                            </ng-select>
                            <span>Select User *</span>
                            @if (!user.valid && datefilter.submitted) {
                              <div class="invalid-tooltip">
                                User is required!
                              </div>
                            }
                          </label>
                        </div>
                        <!-- select From Date -->
                        <div class="col-md-4">
                          <label class="form-group has-float-label">
                            <input class="form-control" type="date" ngModel [(ngModel)]="filterData.fromDate"
                              (change)="selectFromDate()" #fromDate="ngModel" name="fromDate" required />
                              <span>From Date *</span>
                              @if (!fromDate.valid && datefilter.submitted) {
                                <div class="invalid-tooltip">
                                  From Date is required!
                                </div>
                              }
                            </label>
                          </div>
                          <!-- select To Date -->
                          <div class="col-md-4">
                            <label class="form-group has-float-label">
                              <input class="form-control" type="date" ngModel [(ngModel)]="filterData.toDate"
                                (change)="selectTodate()" [min]="filterData.startDate" #toDate="ngModel" name="toDate"
                                required />
                                <span>To Date *</span>
                                @if (!toDate.valid && datefilter.submitted) {
                                  <div class="invalid-tooltip">
                                    To Date is required!
                                  </div>
                                }
                              </label>
                            </div>
                            <div class="col-md-12">
                              <button class="btn btn-primary form-group" type="submit" (click)="onSubmit()">
                                {{ 'forms.submit' | translate }}
                              </button>
                              &nbsp;&nbsp;
                              <button class="btn btn-primary form-group ml-1" type="button" (click)="clear()">
                                Clear
                              </button>
                              &nbsp;&nbsp;
                              <button class="btn btn-success form-group ml-1" type="submit" (click)="download()">
                                Export
                              </button>
                              &nbsp;&nbsp;
                              <span class="btn btn-info form-group ml-1" (click)="importExcel()">Import</span>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  }



                  <ng-template #firstTemplate let-disabled="disabled" let-currentPage="currentPage">
                    <i class="simple-icon-arrow-left" style="margin-right: -6px"></i>
                    <i class="simple-icon-arrow-left"></i>
                  </ng-template>
                  <ng-template #lastTemplate let-disabled="disabled" let-currentPage="currentPage">
                    <i class="simple-icon-arrow-right" style="margin-right: -6px"></i>
                    <i class="simple-icon-arrow-right"></i>
                  </ng-template>
                  <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
                    <i class="simple-icon-arrow-right"></i>
                  </ng-template>
                  <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
                    <i class="simple-icon-arrow-left"></i>
                  </ng-template>

                  <simple-notifications [options]="{ position: ['top', 'center'], maxStack: 1 }"></simple-notifications>
                  <app-show-shift-roster-data [permissioncreate]="permissioncreate" [rows]="rows" [permissionview]="permissionview"
                    [allshift]="allshift" [dateRange]="dateRange" (onSaveData)="saveData()">
                  </app-show-shift-roster-data>