<div style="position: relative">
  <ngx-ui-loader></ngx-ui-loader>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h5 class="mb-4">Edit Payhead</h5>

    @if (companydata) {
      <form #addpayhead="ngForm" novalidate (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <label class="form-group has-float-label">
              <input
                class="form-control"
                type="text"
                required
                ngModel
                #payheadname="ngModel"
                name="payheadname"
                [(ngModel)]="companydata.payheadName"
                />
                <span>Payhead Name *</span>
                @if (!payheadname.valid && addpayhead.submitted) {
                  <div class="invalid-tooltip">
                    Payhead Name is required!
                  </div>
                }
              </label>
            </div>
            <div class="col-md-6">
              <label class="form-group has-float-label">
                <textarea
                  class="form-control"
                  type="text"
                  required
                  ngModel
                  #payheadDesc="ngModel"
                  name="payheadDesc"
                  [(ngModel)]="companydata.payheadDesc"
                ></textarea>
                <span>Payhead Description *</span>
                @if (!payheadDesc.valid && addpayhead.submitted) {
                  <div class="invalid-tooltip">
                    Payhead Description is required!
                  </div>
                }
              </label>
            </div>
            <div class="col-md-6">
              <label class="form-group has-float-label">
                <ng-select placeholder="Choose your option" required ngModel #taxApplicable="ngModel" name="taxApplicable"
                  [(ngModel)]="companydata.taxApplicability">
                  <ng-option value="TX">
                    Taxable
                  </ng-option>
                  <ng-option value="NT">
                    Non-Taxable
                  </ng-option>
                  <ng-option value="NA">
                    Not Applicable
                  </ng-option>
                </ng-select>
                <span>Select Tax Applicability *</span>
                @if (!taxApplicable.valid && addpayhead.submitted) {
                  <div class="invalid-tooltip"> Tax Applicability is
                  required! </div>
                }
              </label>
            </div>
          </div>
          <button class="btn btn-primary mt-4" [disabled]="isdisebled" type="submit">
            {{ 'forms.submit' | translate }}
          </button>
          <button
            class="btn btn-danger btn-shadow mt-4"
            [routerLink]="adminRoot + '/superadminmenus/payheadmaster'"
            style="margin-left: 2%"
            >
            Cancel
          </button>
        </form>
      }
    </div>
  </div>

  <simple-notifications
    [options]="{ position: ['top', 'center'], maxStack: 1 }"
  ></simple-notifications>
